Repository internetarchive/openlibrary, pull requests merged in 2018-11, with the labels that each got.

#1495 Removed "shifted" content from HTML for ebook link
  openlibrary/templates/type/edition/view.html
Labels: seo

#1413 Reading log to v2 for issue #1250
  openlibrary/plugins/upstream/account.py
Labels: mobile & responsive

#1523 Mobile friendly chart component
  openlibrary/templates/subjects.html
  static/css/components/chart.less
  static/css/legacy.less
Labels: mobile & responsive

#1542 You won't believe how much I reduced the subject page CSS from 25kb to...!
  Makefile
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/templates/subjects.html
  package.json
  static/css/base/common.less
  static/css/base/helpers-common.less
  static/css/base/helpers-misc.less
  static/css/components/form.olform.less
  static/css/components/page-heading-search-box.less
  static/css/legacy.less
  static/css/page-subject.less
Labels: Additional Testing Required, Ready For Review, performance

#1595 Set a fixed font-size for btn--large
  static/css/components/buttonBtn.less
Labels: quick-thing-to-review

#1577 Mobile search page made v2
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/work_search.html
Labels: Ready For Review, mobile & responsive

#1583 Goodbye jCarousel and all the code that supports you.
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/i18n/te/messages.po
  openlibrary/macros/RelatedWorksCarousel.html
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/books/carousel.html
  openlibrary/templates/books/carousel_item.html
  openlibrary/templates/books/carousel_shell.html
  openlibrary/templates/home/carousel.html
  openlibrary/templates/home/custom_ia_carousel.html
  openlibrary/templates/home/lendinglibrary.html
  openlibrary/templates/lib/covers.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/subjects.html
  package.json
  static/css/components/resultsCovers--desktop.less
  static/css/components/resultsCovers.less
  static/css/legacy.less
  static/css/page-form.less
  static/js/vendor.jsh
  vendor/js/jcarousel/changelog.html
  vendor/js/jcarousel/images/arrow-down.gif
  vendor/js/jcarousel/images/arrow-up.gif
  vendor/js/jcarousel/images/loading-small.gif
  vendor/js/jcarousel/images/loading-thickbox.gif
  vendor/js/jcarousel/images/loading.gif
  vendor/js/jcarousel/index.html
  vendor/js/jcarousel/lib/jquery.jcarousel.css
  vendor/js/jcarousel/lib/jquery.jcarousel.js
  vendor/js/jcarousel/lib/jquery.jcarousel.pack.js
  vendor/js/jcarousel/lib/thickbox/thickbox.css
  vendor/js/jcarousel/lib/thickbox/thickbox.js
  vendor/js/jcarousel/style.css
Labels: Ready For Review, mobile & responsive

#1604 Remove menu JavaScript
  openlibrary/plugins/openlibrary/js/ol.js
Labels: mobile & responsive

#1590 Follow up to publisher migration to v2
  openlibrary/templates/publishers/view.html
Labels: Ready For Review, mobile & responsive

#1606 Publishers and subject pages use page-heading-search-box component
  openlibrary/templates/publishers/notfound.html
  openlibrary/templates/subjects/notfound.html
Labels: mobile & responsive

#1666 Address reference error on people pages
  openlibrary/templates/type/user/view.html
Labels: Ready For Review, quick-thing-to-review
