Repository internetarchive/openlibrary, pull requests merged in 2019-12, with the labels that each got.

#2705 Add tests to prove MARC8 encoded import ability.
  openlibrary/catalog/marc/tests/test_data/bin_expect/memoirsofjosephf00fouc_meta.mrc
  openlibrary/catalog/marc/tests/test_data/bin_expect/merchantsfromcat00ben_meta.mrc
  openlibrary/catalog/marc/tests/test_data/bin_input/memoirsofjosephf00fouc_meta.mrc
  openlibrary/catalog/marc/tests/test_data/bin_input/merchantsfromcat00ben_meta.mrc
  openlibrary/catalog/marc/tests/test_marc.py
  openlibrary/catalog/marc/tests/test_parse.py
Labels: CH: MARC records

#2697 Tab dialog code organisation
  openlibrary/plugins/openlibrary/js/automatic.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/tabs.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/templates/lists/lists.html
  openlibrary/templates/lists/widget.html
Labels: Needs: Submitter Input

#2704 Fix edition table's sort by publication date + small cleanups
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/work/editions_datatable.html
Labels: On Dev

#2358 Edit instructions on merging pull requests
  CONTRIBUTING.md
Labels: Needs: Review

#2715 Add link to pagination help FAQ
  openlibrary/templates/books/edit/edition.html
Labels: Needs: Submitter Input

#2712 Changed 'no ebook available' to 'not in library'
  openlibrary/macros/AvailabilityButton.html
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/books/edition-sort.html
Labels: Needs: Submitter Input, On Dev

#2753 Make issue templates compliant with #2671 (Replaces #2672)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question_template.md
Labels: Needs: Review

#2765 Load norobots.txt when in a dev instance
  openlibrary/plugins/openlibrary/code.py
Labels: On Dev

#2722 rm deprecated vagrant mention
  conf/nginx/sites-available/openlibrary.conf
Labels: Needs: Submitter Input

#2768 Make dynamic JS files include cache-busting hashes
  Makefile
  package.json
  webpack.config.js
Labels: On Dev

#2776 slimmed down hotfix of #2767
  openlibrary/plugins/openlibrary/js/availability.js
Labels: On Dev

#2773 Feature/sponsorship metrics
  openlibrary/core/sponsorships.py
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/sponsorship.html
  static/css/page-admin.less
Labels: Needs: Submitter Input

#2779 hotfixing urllib2 + bwb API
  openlibrary/core/vendors.py
Labels: Lead: @mekarpeles, Priority: 0, partner-services
