Repository internetarchive/openlibrary, pull requests merged in 2019-08, with the labels that each got.

#2228 Add revert access for librarians
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/viewpage.html
Labels: Needs: Detail, Priority 1: High

#2257 Adding eslint template-curly-spacing never rule
  .eslintrc.json
  openlibrary/plugins/openlibrary/js/account.js
  openlibrary/plugins/openlibrary/js/add_new_field.js
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/availability.js
  openlibrary/plugins/openlibrary/js/bookreader_direct.js
  openlibrary/plugins/openlibrary/js/carousels.js
  openlibrary/plugins/openlibrary/js/jquery.repeat.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/js/plot.js
  openlibrary/plugins/openlibrary/js/subjects.js
  openlibrary/plugins/openlibrary/js/template.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/openlibrary/js/validate.js
  package-lock.json
  package.json
Labels: Needs: Review

#2256 Apply book edit styles to author edit styles
  openlibrary/templates/type/author/edit.html
Labels: Needs: Review

#2253 Replace _. with i18n to fix rendering (but not functionality)
  openlibrary/templates/type/i18n/edit.html
Labels: Needs: Review, Theme: Internationalization

#2264 Remove jQuery.toggleText and advanced_search template
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jquery.toggleText.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/search/templates/advanced_search.html
Labels: Needs: Review

#2277 Make edit button edit work even if only has 1 edition
  openlibrary/macros/databarView.html
Labels: Needs: Review

#2289 Travis CI: Remove allow_failures on Python 2.7 on bionic
  .travis.yml
Labels: Needs: Author Input

#2290 Resolve undefined name “doc” in site map.py
  openlibrary/data/sitemap.py
Labels: Needs: Author Input, Type: Refactor/Clean-up

#2295 Travis CI: When on Python 3, do a pyenv install 2.7.14 for nmp/node
  .travis.yml
Labels: Needs: Review, Theme: Upgrade to Python 3

#2288 Correct status and detailed response for merge_authors API
  openlibrary/plugins/upstream/merge_authors.py
Labels: Needs: Author Input

#2284 move currently used sitemap script out of archive
  scripts/2009/01/index.py
  scripts/sitemaps/sitemap.py
Labels: Affects: Admin/Maintenance

#2298 Add a npm command for quicker development
  package.json
Labels: Needs: Author Input, Theme: Development

#2310 Remove dead code
  openlibrary/templates/account/create.html
  openlibrary/templates/account/email.html
  openlibrary/templates/account/password.html
  openlibrary/templates/books/edit.html
  package.json
  static/js/vendor.jsh
Labels: Needs: Review

#2307 Add tracking to the sponsorship button
  openlibrary/macros/LoanStatus.html
Labels: Theme: Book Sponsorship

#2326 Drop unused loans-per-day graph from the /admin/imports page
  openlibrary/templates/admin/imports.html
Labels: Module: JavaScript, Needs: Review

#2318 Remove unused plugins: copyright, heartbeat, scod, theme, and mobile
  openlibrary/plugins/copyright/__init__.py
  openlibrary/plugins/copyright/code.py
  openlibrary/plugins/copyright/copyrightstatus/__init__.py
  openlibrary/plugins/copyright/copyrightstatus/ca.py
  openlibrary/plugins/copyright/copyrightstatus/us.py
  openlibrary/plugins/copyright/db.py
  openlibrary/plugins/copyright/more-info/moreinfo_in_copyright.html
  openlibrary/plugins/copyright/more-info/moreinfo_out_copyright.html
  openlibrary/plugins/copyright/more-info/moreinfo_unknown_copyright.html
  openlibrary/plugins/heartbeat/__init__.py
  openlibrary/plugins/mobile/__init__.py
  openlibrary/plugins/mobile/code.py
  openlibrary/plugins/mobile/templates/mobile/author.html
  openlibrary/plugins/mobile/templates/mobile/book.html
  openlibrary/plugins/mobile/templates/mobile/edition.html
  openlibrary/plugins/mobile/templates/mobile/index.html
  openlibrary/plugins/mobile/templates/mobile/search.html
  openlibrary/plugins/mobile/templates/mobile/site.html
  openlibrary/plugins/scod/__init__.py
  openlibrary/plugins/scod/code.py
  openlibrary/plugins/scod/templates/scan_book_notfound_email.html
  openlibrary/plugins/scod/templates/scan_complete.html
  openlibrary/plugins/scod/templates/scan_complete_email.html
  openlibrary/plugins/scod/templates/scan_confirm.html
  openlibrary/plugins/scod/templates/scan_inprogress.html
  openlibrary/plugins/scod/templates/scan_inprogress_email.html
  openlibrary/plugins/scod/templates/scan_login.html
  openlibrary/plugins/scod/templates/scan_queue.html
  openlibrary/plugins/scod/templates/scan_request_email.html
  openlibrary/plugins/scod/templates/scan_review.html
  openlibrary/plugins/scod/templates/scan_waiting_email.html
  openlibrary/plugins/scod/templates/type/scan_location/repr.html
  openlibrary/plugins/scod/templates/type/scan_record/repr.html
  openlibrary/plugins/scod/templates/type/scan_record/view.html
  openlibrary/plugins/scod/types/scod_types.type
  openlibrary/plugins/theme/__init__.py
  openlibrary/plugins/theme/code.py
  openlibrary/plugins/theme/git.py
  openlibrary/plugins/theme/templates/theme/breadcrums.html
  openlibrary/plugins/theme/templates/theme/commands.html
  openlibrary/plugins/theme/templates/theme/committed.html
  openlibrary/plugins/theme/templates/theme/editfile.html
  openlibrary/plugins/theme/templates/theme/files.html
  openlibrary/plugins/theme/templates/theme/git.html
  openlibrary/plugins/theme/templates/theme/manage.html
  openlibrary/plugins/theme/templates/theme/menu.html
  openlibrary/plugins/theme/templates/theme/viewfile.html
Labels: Needs: Review

#2339 Dead code elimination: The dashboard is dead code
  openlibrary/macros/Dashboard.html
  openlibrary/templates/admin/index.html
  static/css/legacy.less
Labels: Needs: Review
