Repository internetarchive/openlibrary, pull requests merged in 2019-10, with the labels that each got.

#2433 split amazon title into title + subtitle and remove parens
  openlibrary/core/vendors.py
  openlibrary/tests/core/test_vendors.py
Labels: Needs: Testing

#2450 Fixes issue with accounts made previous to reading logs erroring when viewing profiles
  openlibrary/templates/type/user/view.html
Labels: Needs: Review

#2349 incorporates promises, sponsorships in dwwi decision
  openlibrary/core/sponsorships.py
  package.json
  static/css/components/buttonCta.less
Labels: State: Work In Progress

#2476 ability to add patron to usergroup/sponsor-waitlist as archive_support
  openlibrary/accounts/__init__.py
  openlibrary/core/models.py
  openlibrary/core/vendors.py
  openlibrary/macros/EnrollUsergroup.html
  openlibrary/plugins/openlibrary/api.py
Labels: Needs: Submitter Input, Priority 0: Urgent, Theme: Book Sponsorship

#2421 Dialogs: Move click handler from templates to JS
  openlibrary/macros/BookPreview.html
  openlibrary/macros/databarAuthor.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/books/edit/addcover.html
  openlibrary/templates/covers/add.html
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/book_cover_single_edition.html
  openlibrary/templates/covers/book_cover_work.html
  openlibrary/templates/covers/change.html
  openlibrary/templates/covers/manage.html
  openlibrary/templates/lib/markdown.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/type/edition/view.html
Labels: Needs: Review

#2480 Revert "Fixes Publishers page displaying only 2 pages of works (#2471)"
  openlibrary/plugins/worksearch/subjects.py
Labels: Priority 0: Urgent

#2495 Don't use target blank in list embed
  openlibrary/templates/type/list/embed.html
Labels: Needs: Review

#2492 Remove unused macros
  openlibrary/macros/EditionImageWork.html
  openlibrary/macros/ImageUploader.html
  openlibrary/macros/LoanForm.html
  openlibrary/macros/LoanFormTest.html
  openlibrary/macros/SeeLanguage.html
  openlibrary/macros/change_language.html
  openlibrary/macros/i18n_redirect.html
  static/css/legacy-borrowBookForm.less
  static/css/legacy.less
Labels: Needs: Review

#2482 Fixes Publishers page displaying only 2 pages of works #2471 Attempt 2
  openlibrary/templates/publishers/view.html
Labels: Needs: Submitter Input

#2461 add JSON format to list search
  openlibrary/plugins/worksearch/code.py
Labels: Needs: Review

#2470 remove editions search endpoint
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/editions.html
  static/css/components/search-result-item.less
  static/css/legacy.less
Labels: Needs: Testing

#2494 Run validate functions unconditionally on all pages
  openlibrary/plugins/openlibrary/js/account.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/account/email.html
  openlibrary/templates/account/password.html
Labels: Needs: Review

#2497 Drop non-functional on-colorbox close event usage
  openlibrary/templates/type/work/view.html
Labels: Needs: Review

#2499 Master sponsorship
  conf/openlibrary.yml
  openlibrary/core/civicrm.py
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/core/sponsorships.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/books.html
  openlibrary/tests/core/test_sponsors.py
  openlibrary/utils/isbn.py
  package.json
  static/css/base/common.less
  static/css/components/buttonCta.less
  static/css/components/cbox.less
Labels: Needs: Submitter Input

#2511 hotfix to restrict access to sponsorship beta
  openlibrary/macros/LoanStatus.html
Labels: Priority 0: Urgent, Theme: Book Sponsorship

#2509 removed unused div contentQuarter
  openlibrary/templates/type/about/view.html
Labels: Needs: Testing

#2520 Use unique ids for graphs
  openlibrary/plugins/openlibrary/js/graphs/index.js
  openlibrary/templates/home/stats.html
Labels: Needs: Review, Priority 1: High

#2489 Standardise dialog close wire ups
  openlibrary/macros/BookPreview.html
  openlibrary/macros/databarAuthor.html
  openlibrary/plugins/openlibrary/js/automatic.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/templates/books/edit/addcover.html
  openlibrary/templates/books/edit/addfield.html
  openlibrary/templates/covers/add.html
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/book_cover_single_edition.html
  openlibrary/templates/covers/book_cover_work.html
  openlibrary/templates/covers/change.html
  openlibrary/templates/covers/manage.html
  openlibrary/templates/lib/markdown.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/type/edition/view.html
  static/css/components/cbox.less
Labels: Needs: Review
