Repository internetarchive/openlibrary, pull requests merged in 2019-02, with the labels that each got.

#1870 fixes price API, isbn now passed as GET param
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/api.py
Labels: affiliate-links, amazon, import

#1876 Fix dev db unicode
  .dockerignore
  .gitignore
  openlibrary/data/mapreduce.py
  scripts/2011/09/_init_path.py
  scripts/2011/09/generate_deworks.py
  scripts/dev-instance/dev_db.pg_dump
  scripts/dev-instance/oldump.sh
Labels: dev-instance, unicode

#1877 add amazon affiliate tag to ASIN id links
  openlibrary/templates/type/edition/view.html
Labels: affiliate-links

#1774 Travis CI: Start testing on Python 3.7
  .travis.yml
  requirements_common.txt
Labels: continuous integration

#1916 Tests/coverstore
  Makefile
  openlibrary/coverstore/disk.py
  openlibrary/coverstore/tests/_setup.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/coverstore/tests/test_doctests.py
  openlibrary/coverstore/tests/test_webapp.py
  openlibrary/tests/core/test_init.py
Labels: continuous integration, cover-service, tests
