Repository internetarchive/openlibrary, pull requests merged in 2019-03, with the labels that each got.

#1945 remove dupe dev feature, and alpha-sort the rest
  conf/openlibrary.yml
Labels: dev-instance

#1803 Archive old vagrant bootstrap scripts
  scripts/2018/10/bootstrap.sh
  scripts/2018/10/init/ol-infobase.service
  scripts/2018/10/init/ol-solr-updater.service
  scripts/2018/10/init/ol-web.service
  scripts/2018/10/ol-start.sh
Labels: dev-instance, refactor

#1979 Fix dev environment Coverstore upload
  conf/coverstore.yml
  docker/Dockerfile.oldev
  openlibrary/catalog/add_book/__init__.py
Labels: cover-service, dev-instance

#1988 re: issue #1961, re-applies #1967, accidentally undone by #1983
  openlibrary/plugins/openlibrary/js/ol.js
Labels: Regression, search, ui
