Repository internetarchive/openlibrary, pull requests merged in 2019-11, with the labels that each got.

#2522 Replace onclick handler with a JS wireup.
  openlibrary/macros/BorrowTrouble.html
  openlibrary/macros/TypeChanger.html
  openlibrary/macros/WorkInfo.html
  openlibrary/plugins/openlibrary/js/index.js
Labels: Needs: Review

#2604 Travis CI: Upgrade from Python 3.7 to 3.8
  .travis.yml
  requirements_common.txt
Labels: Theme: Upgrade to Python 3

#2605 requirements_common.txt: Upgrade web.py only on Python 3
  requirements_common.txt
Labels: Theme: Upgrade to Python 3

#2479 Pull dialog and tabs code from templates
  openlibrary/macros/databarAuthor.html
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/tabs.js
  openlibrary/templates/account/borrow.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/covers/author_photo.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/book_cover_single_edition.html
  openlibrary/templates/covers/book_cover_work.html
  openlibrary/templates/covers/change.html
  openlibrary/templates/lib/history.html
  openlibrary/templates/lib/markdown.html
  openlibrary/templates/lib/message_addbook.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/type/author/edit.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/edition-history/view.html
  openlibrary/templates/type/edition/view.html
  package.json
Labels: Needs: Submitter Input

#2611 Long term solution to CSS minification
  Makefile
  docker/Dockerfile.olbase
  package-lock.json
  package.json
Labels: Needs: Submitter Input

#2602 add appropriate action tags on import to show recent-edits
  openlibrary/catalog/add_book/__init__.py
Labels: Module: Import

#2615 Create messages.po
  openlibrary/i18n/es/messages.po
Labels: Affects: UI, Theme: Internationalization
