Repository internetarchive/openlibrary, pull requests merged in 2019-07, with the labels that each got.

#2215 Fix for unintended list-style showing up in main nav of master-sponsorship
  package.json
  static/css/base/common.less
Labels: Theme: Book Sponsorship

#2180 add tests for author date matching
  openlibrary/tests/catalog/test_utils.py
Labels: Module: Import, Theme: Testing

#2218 Import by ASIN
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/api.py
Labels: CH: amazon, Module: Import

#2223 Fix reveal of translation information
  openlibrary/templates/books/edit/edition.html
Labels: Priority 1: High

#2230 Policy Api check added
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/js/ol.js
Labels: Theme: Book Sponsorship

#2232 Fix reading list feature so it can cope with DOM rewrites
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/ol.js
  package-lock.json
  package.json
  tests/unit/.eslintrc.json
  tests/unit/js/test.ol.js
Labels: Needs: Review, Priority 1: High

#2224 Add tests, fix jquery repeat (#2026)
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jquery.repeat.js
  package.json
  tests/unit/js/html-test-data.js
  tests/unit/js/test.jquery.repeat.js
Labels: Needs: Testing, Priority 1: High

#2221 Archive direct flow created and parameters passed to archive.org/donate page
  openlibrary/macros/LoanStatus.html
Labels: Theme: Book Sponsorship

#2238 Split out lazy.js into multiple files
  openlibrary/plugins/openlibrary/js/highlight.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jquery.columnize.js
  openlibrary/plugins/openlibrary/js/jquery.customFade.js
  openlibrary/plugins/openlibrary/js/jquery.dataTables.js
  openlibrary/plugins/openlibrary/js/jquery.fadeToggle.js
  openlibrary/plugins/openlibrary/js/jquery.hoverIntent.js
  openlibrary/plugins/openlibrary/js/jquery.jTruncate.js
  openlibrary/plugins/openlibrary/js/jquery.scrollTo.js
  openlibrary/plugins/openlibrary/js/jquery.toggleText.js
  openlibrary/plugins/openlibrary/js/lazy.js
  openlibrary/plugins/openlibrary/js/plot.js
  openlibrary/plugins/openlibrary/js/removeHighlight.js
Labels: Needs: Testing

#2250 hot-fixing search results
  openlibrary/templates/work_search.html
Labels: Needs: Review, Priority 0: Urgent
