Repository internetarchive/openlibrary, pull requests merged in 2020-12, with the labels that each got.

#4205 infobase golive mods
  docker-compose.production.yml
Labels: Module: Infogami, Theme: Upgrade to Python 3

#4139 Add regular expression support to the spamcheck library.
  openlibrary/plugins/upstream/spamcheck.py
Labels: On Dev

#3816 requirements_common.txt: internetarchive==1.9.6
  requirements_common.txt
Labels: On Staging, Priority: 4

#4170 Draft: integrating updated bulk services/availability API
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/home.py
Labels: Priority: 1

#4214 PR to unrevert "integrating updated bulk services/availability API""
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/home.py
Labels: Priority: 1

#4211 Change Cover Guidelines to Image Guidelines
  openlibrary/templates/covers/add.html
Labels: Module: Cover Service

#4183 Security update to lxml=4.6.2
  requirements_common.txt
Labels: security, z: dependencies

#4192 deleted LanguageTable.html and EditionAuthorRow.html
  openlibrary/macros/EditionAuthorRow.html
  openlibrary/macros/LanguageTable.html
Labels: On Staging

#4193 Replace HTML valign with CSS vertical-align
  openlibrary/templates/admin/memory/index.html
Labels: On Staging

#4143 fix TypeError: int() argument must be a string or a number, not None
  openlibrary/plugins/openlibrary/api.py
Labels: On Staging, Python, Theme: Public-APIs

#4052 Python 3: list index out of range -- Fix IndexError in templates/type/edition/view.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
Labels: Lead: @cclauss, On Dev, On Staging, Python, Python 3: bytes vs. str, Theme: Upgrade to Python 3

#4237 Pip install booklending_utils on prod/staging
  docker-compose.production.yml
  docker-compose.staging.yml
  docker/ol-web-start.sh
Labels: Needs: Special Deploy, On Staging

#4210 Update scripts/run_olserver.sh to use $COMPOSE_FILE
  scripts/run_olserver.sh
Labels: Priority: 1

#4233 GitHub Action: Add test_javascript.yml
  .github/workflows/test_javascript.yml
Labels: Module: JavaScript, Theme: Testing, javascript

#4245 Add make-integration-branch support for GH patch links
  scripts/make-integration-branch-sample.txt
  scripts/make-integration-branch.sh
Labels: Theme: Testing

#4188 GitHub Action to test Python code
  .github/workflows/python_tests.yml
  .travis.yml
Labels: Theme: Testing

#4175 Deleted RecentPageList.html
  openlibrary/macros/RecentPageList.html
  static/css/legacy.less
Labels: On Staging

#4259 Python 3: Convert Goodreads csv from bytes to str
  openlibrary/plugins/upstream/account.py
Labels: Module: Import, Patch Deployed, Priority: 0, Python 3: bytes vs. str, goodreads

#4270 Redirect get to account/import for #4264
  openlibrary/plugins/upstream/account.py
Labels: On Staging

#4198 Removed grayscale filter
  static/css/components/category-item.less
  static/css/components/home.less
Labels: On Staging

#4278 Author page fixes: #4215, #4121
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/lists/widget.html
Labels: Priority: 0

#4247 Make new-solr-updater handler new infobase edge cases
  scripts/new-solr-updater.py
Labels: Patch Deployed

#4290 4289/feature/extend anti spam functionality to list pages
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/lists/header.html
  openlibrary/templates/type/list/view.html
Labels: On Staging

#4291 prereq for orphaned editions fix in #4286
  openlibrary/templates/type/edition/admin_bar.html
Labels: On Staging

#4286 Make work from an orphaned edition
  openlibrary/core/models.py
  openlibrary/templates/type/edition/view.html
Labels: On Staging

#4301 Replace simplejson with python json in openlibrary/tests package for …
  openlibrary/tests/core/test_connections.py
Labels: Type: Refactor/Clean-up

#4305 update login referer check to prevent redir to IA
  openlibrary/plugins/upstream/account.py
Labels: Affects: Accessibility, Affects: Experience, Patch Deployed, Priority: 0

#4137 Add link to /recentchanges/edit-book from /recentchanges.
  openlibrary/templates/recentchanges/index.html
Labels: On Staging

#4103 Display new cover image in works page without refreshing the page
  openlibrary/templates/covers/change.html
Labels: On Staging

#4302 Replace simplejson with python json in openlibrary/api for 2308
  openlibrary/api.py
Labels: Type: Refactor/Clean-up

#4297 Replace simplejson with python json in openlibrary/mocks package for …
  openlibrary/mocks/mock_infobase.py
Labels: Type: Refactor/Clean-up

#4221 affiliate-server with queue for amz
  docker-compose.production.yml
  docker/ol-affiliate-server-start.sh
  openlibrary/core/lending.py
  openlibrary/core/stats.py
  openlibrary/core/vendors.py
  scripts/affiliate-server
Labels: AmazonAPI, Priority: 1

#4315 4271/feature/add goodreads import unit test
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/tests/test_account.py
  openlibrary/plugins/upstream/tests/test_data/goodreads_library_export.csv
Labels: Python, Theme: Testing, accounts

#4240 Admin endpoint to sync completed sponsored books IA <-> OL
  openlibrary/core/sponsorships.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/api.py
  scripts/sponsor_update_prices.py
Labels: On Dev, Priority: 1, Theme: Book Sponsorship

#3953 Fix solrbuilder core failling
  conf/openlibrary.yml
  openlibrary/solr/update_work.py
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/README.md
  scripts/solr_builder/aliases.sh
  scripts/solr_builder/index-orphans.sh
  scripts/solr_builder/index-type.sh
  scripts/solr_builder/solr_builder/solr_builder_main.py
Labels: Priority: 2

#4335 Keep trimmed logs inside Docker for web, covers, infobase, and home
  docker-compose.production.yml
  docker-compose.yml
Labels: Affects: Configuration, Module: Docker, On Staging, Priority: 2

#4287 Create solr-updater docker service AGAIN
  .gitignore
  docker-compose.infogami-local.yml
  docker-compose.production.yml
  docker-compose.yml
  docker/Dockerfile.oldev
  docker/ol-home-start.sh
  docker/ol-solr-updater-start.sh
Labels: Module: Solr, Priority: 1, Python

#4338 /api/save_many: Stop POST'ing byte literals in JSON values to Infogami
  openlibrary/api.py
  openlibrary/plugins/openlibrary/connection.py
  scripts/copydocs.py
Labels: On Staging, Python, Python 3: bytes vs. str
