Repository internetarchive/openlibrary, pull requests merged in 2020-10, with the labels that each got.

#3857 rectified requirements
  requirements.txt
Labels: On Dev

#3761 Security update to PyYAML dependancy
  requirements_common.txt
Labels: Python

#3931 addbook.py: Fix encoding/decoding for StringIO
  openlibrary/plugins/upstream/addbook.py
Labels: On Dev

#3905 Increase search bar component z-index
  static/css/components/header-bar.less
Labels: On Dev

#3858 Improve merge author UI
  openlibrary/templates/merge/authors.html
  static/css/components/merge-form.less
  static/css/less/colors.less
Labels: On Dev, Priority: 1

#3878 Validation errors on homepage resolved
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/home/categories.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/site/alert.html
Labels: Needs: Submitter Input, Priority: 1

#3834 Use i18n strings for list deletion dialog buttons
  openlibrary/templates/lists/lists.html
Labels: On Dev, Priority: 1

#3946 Create docker-compose.production.yml
  docker-compose.production.yml
Labels: Module: Docker, Python, Theme: Upgrade to Python 3

#3909 Removed unused Python standard library imports
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/amazon/crawl.py
  openlibrary/catalog/amazon/list_done.py
  openlibrary/catalog/amazon/load_merge.py
  openlibrary/catalog/edition_merge/find_easy.py
  openlibrary/catalog/edition_merge/merge.py
  openlibrary/catalog/edition_merge/merge_works.py
  openlibrary/catalog/edition_merge/run_merge.py
  openlibrary/catalog/get_ia.py
  openlibrary/catalog/importer/olwrite.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/parse_xml.py
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/catalog/merge/index.py
  openlibrary/catalog/olwrite.py
  openlibrary/catalog/utils/edit.py
  openlibrary/core/lending.py
  openlibrary/core/minicron.py
  openlibrary/core/models.py
  openlibrary/core/stats.py
  openlibrary/core/vendors.py
  openlibrary/core/waitinglist.py
Labels: On Dev

#3961 Make solr restart always
  docker-compose.yml
Labels: Patch Deployed

#3965 Removed unused Python standard library imports
  openlibrary/core/lists/model.py
  openlibrary/coverstore/archive.py
  openlibrary/data/__init__.py
  openlibrary/data/db.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/akismet/akismet.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/inside/code.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/readbooks.py
  openlibrary/plugins/openlibrary/support.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/search/code.py
  openlibrary/plugins/search/solr_client.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/records/driver.py
  openlibrary/solr/find_modified_works.py
  openlibrary/views/loanstats.py
  scripts/lc_marc_update.py
  scripts/legacy/marc/show-marc.py
  scripts/legacy/solr_author_merge_work_finder.py
  scripts/minicron.py
  scripts/ol-solr-indexer.py
  scripts/z3950_view.py
  tests/integration/test_auth.py
Labels: On Dev

#3963 Fix YAML Load warnings
  openlibrary/config.py
  openlibrary/plugins/admin/tests/conftest.py
Labels: On Dev, hacktoberfest

#3964 Travis CI now supports 3.9
  .travis.yml
Labels: Needs: Review, Python, Theme: Testing, Theme: Upgrade to Python 3

#3899 Python 3 for scripts/2010/01/report_errors.py
  scripts/2010/01/report_errors.py
Labels: On Dev, Theme: Upgrade to Python 3

#3962 Deal with empty url in api.py browse
  openlibrary/plugins/openlibrary/api.py
Labels: On Dev, Python

#3938 Setup ol-web1 yet again
  docker-compose.production.yml
  scripts/setup_web1.sh
Labels: Priority: 1
