Repository internetarchive/openlibrary, pull requests merged in 2020-04, with the labels that each got.

#3144 Fix tests/accounts/test_models.py
  openlibrary/accounts/model.py
  openlibrary/tests/accounts/test_models.py
Labels: Theme: Upgrade to Python 3, python

#3203 Use sorting to fix solr update_work
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
  scripts/test-py3.sh
Labels: Module: Solr, Needs: Review, Theme: Upgrade to Python 3, python

#3196 Fixed XSS in work/edition title
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/lists/widget.html
  openlibrary/templates/type/edition/view.html
Labels: On Dev

#3265 Delete stopword.py to remove ASCII-only functions
  openlibrary/plugins/search/stopword.py
Labels: Theme: Upgrade to Python 3, python

#3173 Clean up first pass i18n
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/macros/AvailabilityButton.html
  openlibrary/macros/DownloadOptions.html
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/account/books.html
  openlibrary/templates/account/borrow.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/history/comment.html
  openlibrary/templates/lib/history.html
  openlibrary/templates/lists/header.html
  openlibrary/templates/lists/home.html
  openlibrary/templates/merge/editions2.html
  openlibrary/templates/notfound.html
  openlibrary/templates/publishers/notfound.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/recentchanges/index.html
  openlibrary/templates/search/publishers.html
  openlibrary/templates/subjects.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions.html
  openlibrary/templates/type/work/editions_datatable.html
  openlibrary/templates/type/work/view.html
  openlibrary/templates/widget.html
  openlibrary/templates/work_search.html
  scripts/i18n-messages
Labels: On Dev

#3316 'pytest openlibrary/tests' must pass on Python 3
  scripts/test-py3.sh
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3134 Fix dict.keys() to be compatible with both Python 2 and Python 3
  openlibrary/catalog/edition_merge/find_easy.py
  openlibrary/catalog/edition_merge/merge.py
  openlibrary/catalog/marc/fast_parse.py
  openlibrary/catalog/marc/get_subjects.py
  openlibrary/catalog/marc/marc_subject.py
  openlibrary/catalog/marc/parse_xml.py
  openlibrary/catalog/marc/tests/test_marc.py
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/core/helpers.py
  openlibrary/data/db.py
  openlibrary/data/dump.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/admin/tests/test_services.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/openlibrary/merge_editions.py
  openlibrary/plugins/search/solr_client.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/records/functions.py
  openlibrary/records/tests/conftest.py
  openlibrary/solr/read_dump.py
  scripts/jsondump.py
  scripts/test-py3.sh
Labels: Theme: Upgrade to Python 3, python

#2997 Update Spanish translation
  openlibrary/i18n/es/messages.po
Labels: On Dev, Theme: Internationalization

#3329 Temporarily disable new graphite stats
  openlibrary/plugins/openlibrary/stats.py
Labels: Patch Deployed, Priority: 0

#3332 The cmp argument again
  openlibrary/catalog/utils/__init__.py
  requirements_common.txt
  scripts/test-py3.sh
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#1843 Create flow for building a fresh solr instance from a dump file
  .gitignore
  conf/solr/conf/schema-default.xml
  conf/solr/conf/solr-subjects-import-config.xml
  conf/solr/conf/solrconfig-default.xml
  conf/solr/conf/solrconfig-dev.xml
  conf/solr/conf/solrconfig-prod.xml
  docker/Dockerfile.olsolr
  openlibrary/solr/data_provider.py
  openlibrary/solr/update_work.py
  scripts/solr_builder/Dockerfile
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/README.md
  scripts/solr_builder/__init__.py
  scripts/solr_builder/aliases.sh
  scripts/solr_builder/build-cython.sh
  scripts/solr_builder/docker-compose.yml
  scripts/solr_builder/index-orphans.sh
  scripts/solr_builder/index-type.sh
  scripts/solr_builder/logs/.gitignore
  scripts/solr_builder/postgres.ini
  scripts/solr_builder/progress/.gitignore
  scripts/solr_builder/psql-import-chunk.sh
  scripts/solr_builder/psql-import-in-chunks.sh
  scripts/solr_builder/setup.py
  scripts/solr_builder/solr-import-job.sh
  scripts/solr_builder/solr_builder/__init__.py
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_builder/solr_builder/solr_builder_main.py
  scripts/solr_builder/sql/count-all-rows.sql
  scripts/solr_builder/sql/count-orphans.sql
  scripts/solr_builder/sql/create-dump-table.sql
  scripts/solr_builder/sql/create-indices.sql
  scripts/solr_builder/sql/get-partition-markers.sql
  scripts/solr_builder/sql/import-partial.sql
  scripts/solr_builder/sql/prod-partial-dump.sql
  setup.py
Labels: Module: Docker, Module: Solr

#2872 Subtitle applied only to edition
  openlibrary/templates/type/edition/view.html
Labels: Needs: Community Discussion, On Dev

#3081 Record merging preparatory refactor
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/merge_editions.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_merge_authors.py
  openlibrary/templates/merge/editions.html
  openlibrary/templates/merge/editions2.html
  openlibrary/templates/merge/history.html
  openlibrary/templates/recentchanges/merge-authors/view.html
  openlibrary/templates/type/work/editions_datatable.html
  static/css/components/merge-form.less
  static/css/legacy.less
Labels: Needs: Review, Type: Refactor/Clean-up

#3335 Prep refactor for adding lcc: and ddc: to search
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/work_search.html
Labels: Type: Refactor/Clean-up

#3345 Prevent PRs from breaking Python 3 tests
  openlibrary/plugins/worksearch/code.py
  scripts/test-py3.sh
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3331 Coverstore/warc.py py3 again
  openlibrary/coverstore/coverlib.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/coverstore/utils.py
  openlibrary/coverstore/warc.py
  scripts/test-py3.sh
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3330 Fix tests for sort order differences in Python 3
  openlibrary/catalog/marc/tests/test_marc.py
  openlibrary/catalog/marc/tests/test_parse.py
  scripts/test-py3.sh
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3351 Fix some i18n bugs
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/subjects.html
Labels: On Dev

#3353 fixes low quality CoverImage render
  openlibrary/templates/covers/book_cover.html
Labels: On Dev

#3360 3359/hotfix/carousel fixes
  openlibrary/templates/books/custom_carousel.html
Labels: Priority: 0

#3348 Deterministic dicthash() regardless of key order
  openlibrary/utils/__init__.py
  scripts/test-py3.sh
Labels: Theme: Upgrade to Python 3, python

#3193 Add a pre-commit to run `make lint-diff`
  .pre-commit-config.yaml
  Makefile
  scripts/flake8-diff.sh
Labels: Needs: Review

#3350 lending.py: Add logging to exceptions
  openlibrary/core/lending.py
  scripts/test-py3.sh
Labels: On Dev, Theme: Upgrade to Python 3, python

#3380 updating browse nav menu
  openlibrary/templates/lib/nav_head.html
Labels: On Dev

#3267 removed unused import from admin and accounts
  openlibrary/accounts/__init__.py
  openlibrary/accounts/model.py
  openlibrary/admin/numbers.py
  openlibrary/admin/stats.py
Labels: On Dev

#3310 Sorts reading lists by most recently modified
  openlibrary/templates/lists/widget.html
Labels: Needs: Submitter Input

#3352 Add Bookshop.org link to editions
  openlibrary/macros/AffiliateLinks.html
Labels: On Dev

#3338 Index LCC/DDC into solr
  conf/openlibrary.yml
  conf/solr/conf/schema.xml
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
Labels: Needs: Review

#3394 Fix non-deterministic test causing build failures
  openlibrary/tests/solr/test_update_work.py
Labels: Priority: 0

#3402 Remove slow call to loan.sync
  openlibrary/core/waitinglist.py
Labels: Patch Deployed, Priority: 0

#3405 Increase solr timeout
  openlibrary/plugins/worksearch/code.py
Labels: On Dev

#3406 Fix slick font preload not working
  openlibrary/templates/books/custom_carousel.html
Labels: On Dev

#3346 refactored import so /ia/xxx will now import from ia
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/code.py
Labels: Needs: Special Deploy

#3336 Add lcc: and ddc: to search
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/utils/ddc.py
  openlibrary/utils/lcc.py
  openlibrary/utils/tests/test_ddc.py
  openlibrary/utils/tests/test_lcc.py
Labels: On Dev
