Repository internetarchive/openlibrary, pull requests merged in 2020-08, with the labels that each got.

#3642 .gitmodules: [submodule "vendor/infogami"] ignore = dirty
  .gitmodules
Labels: Module: Git

#3678 Use list(dict) instead of dict.keys() again
  openlibrary/templates/work_search.html
Labels: Python, Theme: Upgrade to Python 3

#3672 Update and rename test-py3.sh to test_py3.sh
  .travis.yml
  scripts/test-py3.sh
  scripts/test_py3.sh
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3657 Fix doctests of UnitParser for Python 2 and 3
  openlibrary/plugins/upstream/models.py
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3679 requirements_test.txt: Upgrade Pytest on Python 3 only
  requirements_test.txt
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3681 Add Python version to Attact Debugger webpage again
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/attach_debugger.html
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3671 Fix mockcache for Python 3
  openlibrary/core/cache.py
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3683 Re-enable doctests
  .travis.yml
  openlibrary/api.py
  openlibrary/catalog/amazon/parse.py
  openlibrary/catalog/marc/build_record.py
  openlibrary/catalog/marc/read_toc.py
  openlibrary/catalog/merge/build_db.py
  openlibrary/catalog/merge/load_from_json.py
  openlibrary/catalog/merge/merge_bot/bot.py
  openlibrary/catalog/merge/merge_bot/merge.py
  openlibrary/catalog/merge/merge_index.py
  openlibrary/core/helpers.py
  openlibrary/core/seq.py
  openlibrary/data/__init__.py
  openlibrary/data/dump.py
  openlibrary/data/solr.py
  openlibrary/olbase/events.py
  openlibrary/plugins/akismet/code.py
  openlibrary/plugins/importapi/metaxml_to_json.py
  openlibrary/plugins/openlibrary/support.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/records/tests/conftest.py
  openlibrary/solr/solrdump.py
  openlibrary/solr/update_work.py
  openlibrary/templates/type/edition/view.html
  openlibrary/utils/__init__.py
  openlibrary/utils/dateutil.py
  openlibrary/utils/form.py
  openlibrary/utils/httpserver.py
  openlibrary/utils/schema.py
  scripts/run_doctests.sh
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_builder/solr_builder/solr_builder_main.py
Labels: Python, Theme: Testing, Theme: Upgrade to Python 3

#3736 Switch to non-beta archive loans API
  conf/openlibrary.yml
  openlibrary/core/lending.py
Labels: On Dev

#3741 Fixing cache of web.ctx for related carousels
  openlibrary/plugins/openlibrary/code.py
Labels: On Dev

#3739 Add support for sentry to backend
  conf/openlibrary.yml
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/sentry.py
  requirements_common.txt
Labels: Needs: Special Deploy

#3675 Docker: python3 -m pip install wheel
  docker/Dockerfile.olbase
Labels: Affects: Configuration, Module: Docker, Python, Theme: Upgrade to Python 3

#3732 Add LCCN and LC classification on reimport from MARC
  openlibrary/catalog/add_book/__init__.py
Labels: Theme: Identifiers, Theme: MARC records
