Repository internetarchive/openlibrary, pull requests merged in 2020-06, with the labels that each got.

#3498 WIP: Feature/save patron s3 keys
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/macros/AvailabilityButton.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_lending.py
  static/css/components/buttonCta.less
  static/css/components/page-banner.less
  static/css/components/work.less
Labels: Affects: Configuration, Priority: 1

#3502 Hotfix/readinglog pages
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/account/books.html
Labels: On Dev

#3504 only use check availability btn if no ground truth available
  openlibrary/macros/LoanStatus.html
Labels: On Dev

#3503 adding analytics to track how many borrow are of type browse
  openlibrary/plugins/upstream/borrow.py
Labels: On Dev

#3506 adds 1 hour borrow cta-btn
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
Labels: Priority: 1

#3488 updating collections checks for metadata import
  openlibrary/core/ia.py
Labels: On Dev, Priority: 1

#3507 hotfix: Enables returning of 1h or 2wk borrowable books
  openlibrary/core/lending.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/upstream/borrow.py
Labels: Borrowing / Lending, Priority: 1

#3513 Refactoring my loans form, using ocaid
  openlibrary/macros/LoanReadForm.html
  openlibrary/macros/ManageLoansButtons.html
  openlibrary/macros/ReturnForm.html
  openlibrary/macros/loan_item.html
  openlibrary/templates/account/borrow.html
Labels: On Dev

#3517 Fix loans page displaying broken book due to redirect
  openlibrary/plugins/upstream/code.py
Labels: On Dev

#3518 Make carousels use LoanStatus.html
  openlibrary/core/lending.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/books/custom_carousel.html
  static/css/components/buttonBtn.less
  static/css/components/buttonCta.less
Labels: On Dev

#3519 Refactors borrowing, Fixes return button logic
  openlibrary/plugins/upstream/borrow.py
Labels: Borrowing / Lending, On Dev, Priority: 0

#3520 hotfixing carousels where work_key undefined
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/books/custom_carousel.html
Labels: On Dev, Priority: 1

#3521 Extend /account/books redirect to include subpaths
  openlibrary/plugins/upstream/account.py
Labels: On Dev

#3525 ctx.user has key (not user)
  openlibrary/macros/LoanStatus.html
Labels: Patch Deployed

#3527 Refactor LoanStatus.html
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/core/waitinglist.py
  openlibrary/macros/BookPreview.html
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/daisy.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/editions-table/index.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
  openlibrary/templates/work_search.html
Labels: On Dev

#3516 Allow query carousels to optionally display non in library books
  openlibrary/macros/QueryCarousel.html
Labels: On Dev

#3526 Increase solr timeout for subject pages
  openlibrary/utils/solr.py
Labels: Patch Deployed

#3524 Fix solr-updater crashing trying to encode "edition_key:ia\:foo"
  openlibrary/solr/update_work.py
Labels: On Dev
