Repository internetarchive/openlibrary, pull requests merged in 2020-07, with the labels that each got.

#3550 Avoid making useless network requests when provided with no OCAIDs
  openlibrary/core/lending.py
Labels: On Dev

#3551 Fix AttributeError when trying to fetch doc with broken key
  openlibrary/plugins/upstream/code.py
Labels: On Dev

#3549 Fix IA availability requests having un-urlencoded params
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/home/index.html
Labels: On Dev

#3548 Fix lists double add/remove requests
  openlibrary/templates/lists/widget.html
  static/css/legacy-tools.less
Labels: On Dev

#3407 Travis CI: Upgrade to Ubuntu 20.04 LTS Focal
  .travis.yml
Labels: Theme: Testing

#3563 Fix search rendering failing when availability=None
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/work_search.html
Labels: On Dev

#3475 Fixes unnecessary AJAX calls when carousel ends
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Labels: On Dev

#2285 Search prefix preparatory refactor: SearchBar
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/openlibrary/js/SearchPage.js
  openlibrary/plugins/openlibrary/js/SearchUtils.js
  openlibrary/plugins/openlibrary/js/ol.js
  static/css/components/header-bar.less
  tests/unit/js/test.SearchBar.js
  tests/unit/js/test.SearchUtils.js
Labels: Module: JavaScript, Needs: Review, On Dev, Type: Refactor/Clean-up

#3571 Librarian next button to browse stored MARC records
  openlibrary/templates/showmarc.html
Labels: Affects: Librarians

#3573 Import URL title from public note if $3 does not exist
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_856.mrc
  openlibrary/catalog/marc/tests/test_data/bin_input/talis_856.mrc
Labels: Module: Import

#3567 Search autocomplete should only fetch needed info
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/worksearch/code.py
Labels: On Dev

#3411 Dockerfile.olbase: Add Python 3.8 and pip3
  .python-version
  docker-compose.yml
  docker/Dockerfile.olbase
  docker/Dockerfile.oldev
  docker/ol-docker-start.sh
Labels: Theme: Upgrade to Python 3, python

#3581 Absolute imports in openlibrary.plugins.admin & books
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/admin/mem.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/upstream/code.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3585 More absolute imports for Python 3
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/covers.py
  openlibrary/plugins/upstream/recentchanges.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3590 Importing render_template is used for its side effects
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/upstream/code.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3579 Travis CI: Test on the current infogami master
  .travis.yml
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3601 Fix custom carousel cover url
  openlibrary/templates/books/custom_carousel.html
Labels: On Dev

#3598 Fix absolute import and bytes for Python 3
  openlibrary/catalog/utils/query.py
  openlibrary/core/ia.py
  openlibrary/core/middleware.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/solr/solrwriter.py
  scripts/new-solr-updater.py
Labels: Theme: Upgrade to Python 3, python

#3617 Update pyenv before installs
  docker/Dockerfile.olbase
Labels: Theme: Upgrade to Python 3, python

#3609 Don't need facets during autocomplete
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/worksearch/code.py
Labels: On Dev

#3582 Separate make test to test-py and test-js
  Makefile
Labels: Theme: Upgrade to Python 3

#3623 Trapezoid-shaped cover removed
  openlibrary/macros/CoverImage.html
  openlibrary/templates/covers/book_cover.html
  static/css/components/work.less
Labels: On Dev

#3624 make test: test JavaScript before Python and seperate tests for css and js
  Makefile
  package.json
Labels: Theme: Testing

#3625 Absolute imports for config in coverstore
  openlibrary/coverstore/db.py
  openlibrary/coverstore/oldb.py
Labels: Module: Cover Service, Python, Theme: Upgrade to Python 3

#3621 Reduce /contact spam
  openlibrary/core/cache.py
  openlibrary/plugins/openlibrary/support.py
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
  openlibrary/templates/support.html
Labels: On Dev

#3619 Upgrade select Python dependencies
  requirements_common.txt
  requirements_test.txt
Labels: Python, Theme: Upgrade to Python 3, z: dependencies
