Repository internetarchive/openlibrary, pull requests merged in 2020-01, with the labels that each got.

#2797 Fixes history link on pages without url
  openlibrary/macros/databarView.html
Labels: On Dev

#2771 Remove underline and increase touchable area on dialog close button
  static/css/components/cbox.less
Labels: On Dev

#2828 Hotfix issue template labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/post_mortem.md
  .github/ISSUE_TEMPLATE/question_template.md
Labels: Needs: Review

#2764 Add google analytics to ShareEmbed button + misc cleanups
  openlibrary/macros/SocialShare.html
  openlibrary/macros/databarWork.html
Labels: On Dev

#2826 No more inappropriate content in kids carousel
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/index.html
Labels: On Dev

#2834 Fix German .po file syntax error
  openlibrary/i18n/de/messages.po
Labels: On Dev

#2613 Selected shelf on "want to read" is deterministic
  openlibrary/macros/ReadingLogButton.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/ol.js
  static/css/legacy.less
Labels: On Dev

#2837 Don't import MARC local notes
  openlibrary/catalog/marc/get_subjects.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/histoirereligieu05cr_meta.mrc
  openlibrary/catalog/marc/tests/test_data/bin_expect/wwu_51323556
  openlibrary/catalog/marc/tests/test_data/xml_expect/nybc200247_marc.xml
  openlibrary/catalog/marc/tests/test_data/xml_expect/soilsurveyrepor00statgoog_marc.xml
  openlibrary/catalog/marc/tests/test_parse.py
Labels: Needs: Submitter Input

#2871 Remove Work description if edition description is present
  openlibrary/templates/type/edition/view.html
Labels: Needs: Testing, On Dev

#2867 from openlibrary.coverstore import config, db
  openlibrary/coverstore/code.py
  openlibrary/coverstore/coverlib.py
Labels: Theme: Upgrade to Python 3

#2882 Py3: from six.moves.configparser import ConfigParser
  openlibrary/api.py
  openlibrary/plugins/oltemplates/olmanage.py
Labels: Theme: Upgrade to Python 3, python

#2884 Re-update compress.py for Python 3
  openlibrary/utils/compress.py
Labels: Theme: Upgrade to Python 3, python

#2849 Only add ASIN identifier if it is not the ISBN
  openlibrary/core/vendors.py
  openlibrary/tests/core/test_vendors.py
Labels: Needs: Community Discussion

#2899 Reverting get_metadata code, caused memory leak on prod
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/ia.py
  openlibrary/mocks/mock_ia.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/models.py
  openlibrary/solr/process_stats.py
  openlibrary/tests/core/test_ia.py
  scripts/2011/09/generate_deworks.py
Labels: Priority: 0, Theme: Performance

#2894 2879 requests cleanup
  openlibrary/core/civicrm.py
  openlibrary/core/sponsorships.py
  openlibrary/core/vendors.py
  openlibrary/tests/core/test_sponsors.py
Labels: On Dev, Theme: Upgrade to Python 3

#2895 Cache the home page by language
  openlibrary/plugins/openlibrary/home.py
Labels: Affects: UI, Module: Memcache, On Dev, Theme: Internationalization

#2918 Make mock_ol.py compatible with old and new web.py
  openlibrary/mocks/mock_ol.py
Labels: Theme: Upgrade to Python 3, python

#2917 fix embed sharelink using wrong url
  openlibrary/macros/SocialShare.html
Labels: On Dev, Priority: 1

#2921 HOTFIX: temporaily re-add URL
  openlibrary/plugins/importapi/code.py
Labels: On Dev

#2442 I18n cleanup
  openlibrary/core/helpers.py
  openlibrary/i18n/__init__.py
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/i18n/messages_cs.po
  openlibrary/macros/EditButtons.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/MostRecentHome.html
  openlibrary/macros/Pager.html
  openlibrary/macros/ReadButton.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/SocialShare.html
  openlibrary/macros/TypeChanger.html
  openlibrary/macros/UserEditRow.html
  openlibrary/macros/WorldcatLink.html
  openlibrary/macros/databarAuthor.html
  openlibrary/macros/databarHistory.html
  openlibrary/macros/databarView.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/account/books.html
  openlibrary/templates/account/borrow.html
  openlibrary/templates/account/create.html
  openlibrary/templates/books/check.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/books/works-show.html
  openlibrary/templates/home/about.html
  openlibrary/templates/home/categories.html
  openlibrary/templates/home/index.html
  openlibrary/templates/home/stats.html
  openlibrary/templates/lib/history.html
  openlibrary/templates/lists/header.html
  openlibrary/templates/lists/home.html
  openlibrary/templates/lists/lists.html
  openlibrary/templates/lists/preview.html
  openlibrary/templates/lists/snippet.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/login.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/inside.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/site/body.html
  openlibrary/templates/subjects.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/doc/edit.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/list/embed.html
  openlibrary/templates/type/list/exports.html
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/page/edit.html
  openlibrary/templates/type/user/view.html
  openlibrary/templates/type/work/editions_datatable.html
  openlibrary/templates/type/work/view.html
  openlibrary/templates/work_search.html
  scripts/i18n-messages
Labels: Needs: Submitter Input, On Dev

#2912 Refactor registration form + Remove TOS checkbox
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
Labels: On Dev

#2909 Feature/take 2 prevent infobase null cover errors
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/ia.py
  openlibrary/mocks/mock_ia.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/models.py
  openlibrary/solr/process_stats.py
  openlibrary/tests/core/test_ia.py
  scripts/2011/09/generate_deworks.py
Labels: On Dev

#2911 Update to pip==19
  .dockerignore
  docker/Dockerfile.olbase
Labels: Needs: Submitter Input

#2923 Python3 fixes in pytest order again
  .travis.yml
  openlibrary/catalog/marc/marc_xml.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#2933 Next Py3 pytest fix: import ReadableUrlProcessor
  openlibrary/core/processors/__init__.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#2822 Add option to subscribe to IA newsletter on signup
  openlibrary/accounts/model.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account.html
  openlibrary/templates/account/create.html
  openlibrary/utils/form.py
Labels: Needs: Testing, On Dev

#2568 Adds sponsorship message to Edition page (refactors ia metadata call)
  openlibrary/accounts/model.py
  openlibrary/core/ia.py
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/type/edition/view.html
  openlibrary/tests/core/test_ia.py
  static/css/components/read-panel.less
Labels: Needs: Testing, On Dev

#2939 Next Py3 pytest fix: absolute imports for normalize, formats, cache, helpers
  openlibrary/catalog/merge/names.py
  openlibrary/core/init.py
  openlibrary/core/inlibrary.py
  openlibrary/core/olmarkdown.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#2935 Replace deprecated UserDict.DictMixin with Mapping
  openlibrary/plugins/upstream/utils.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#2934 from six import StringIO for Python 2 and 3
  openlibrary/catalog/amazon/arc_view.py
  openlibrary/catalog/lang.py
  openlibrary/catalog/oca/parse.py
  openlibrary/catalog/onix/xmltramp.py
  openlibrary/core/middleware.py
  openlibrary/coverstore/tests/test_code.py
  openlibrary/coverstore/warc.py
  openlibrary/plugins/openlibrary/libraries.py
  openlibrary/plugins/search/solr_client.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/tests/core/mocklib.py
  openlibrary/tests/solr/test_update_work.py
  scripts/jsondump.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#2929 Resolve 32 undefined names from `make lint`
  openlibrary/catalog/marc/build_record.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python
