Repository internetarchive/openlibrary, pull requests merged in 2020-02, with the labels that each got.

#2926 Fix My Loans page i18n for loans which are available.
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
Labels: Needs: Testing

#2958 use MutableMapping which supplies update(), fix errors
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
Labels: On Dev, Priority: 0

#2975 Fix "last edited by" link broken
  openlibrary/core/models.py
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/macros/databarHistory.html
  openlibrary/macros/databarView.html
  openlibrary/templates/lib/history.html
Labels: Needs: Review, On Dev

#2968 style and whitespace changes before fixing endpoint logic
  openlibrary/plugins/openlibrary/code.py
Labels: Needs: Testing, On Dev

#2980 models.py: from openlibrary.core import helpers as h
  openlibrary/core/models.py
Labels: Theme: Upgrade to Python 3, python

#2941 Next Py3 pytest fix: absolute imports for acs4, render_template
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/solr/update_work.py
Labels: Theme: Upgrade to Python 3, python

#2956 don't count null covers as existing on reimport
  openlibrary/catalog/add_book/__init__.py
  openlibrary/plugins/upstream/models.py
Labels: Module: Import, Needs: Review, Priority: 1

#2955 Remove Library type + GeoIP & iptools dependencies
  .travis.yml
  openlibrary/core/geo_ip.py
  openlibrary/core/inlibrary.py
  openlibrary/core/iprange.py
  openlibrary/core/loanstats.py
  openlibrary/core/models.py
  openlibrary/olbase/events.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/events.py
  openlibrary/plugins/openlibrary/inlibrary.py
  openlibrary/plugins/openlibrary/libraries.py
  openlibrary/solr/process_stats.py
  openlibrary/templates/libraries/email_confirmation.html
  openlibrary/templates/libraries/email_notification.html
  openlibrary/templates/libraries/locations.html
  openlibrary/tests/core/test_iprange.py
  openlibrary/tests/core/test_models.py
  requirements_common.txt
  scripts/geoip_update.sh
Labels: Theme: Upgrade to Python 3, Type: Refactor/Clean-up

#3014 remove unsused get_library() reference errors
  openlibrary/templates/borrow_admin.html
  openlibrary/templates/borrow_admin_no_update.html
  openlibrary/templates/type/author/view.html
Labels: On Dev, Priority: 1

#3024 Travis CI: Run make lint on Python 3
  .travis.yml
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3034 add instructions to see transl. version in browser
  openlibrary/i18n/README.md
Labels: Needs: Submitter Input

#3022 Handle and show full Infogami error messages
  openlibrary/plugins/importapi/code.py
Labels: Module: Import

#3030 Travis CI: Run all flake8 checks on modified code
  .travis.yml
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3048 Define internal_error and no_bucket_error
  openlibrary/catalog/lc_updates/update.py
  scripts/lc_marc_update.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3044 Typo in variable name: line --> marc in test_consort()
  openlibrary/catalog/people/build_object.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3052 Define `file` in Python 3 in catalog/marc/read_from_archive.py
  openlibrary/catalog/marc/read_from_archive.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3051 Fixes broken Public Reading Log page
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/user/view.html
Labels: On Dev

#2967 update of edition.json config from production
  openlibrary/plugins/openlibrary/pages/config_edition.page
Labels: Affects: Data

#3063 Fix undefined name re_isbn
  openlibrary/catalog/marc/marc_binary.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3061 Fix undefined name mock_site
  openlibrary/tests/core/test_sponsors.py
Labels: Needs: Submitter Input, Theme: Upgrade to Python 3, python

#3071 Undefined names: html_subfields() and html_line()
  openlibrary/catalog/marc/html.py
  openlibrary/catalog/marc/tests/test_marc_html.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3058 Remove unused plugin oltemplates
  openlibrary/plugins/oltemplates/__init__.py
  openlibrary/plugins/oltemplates/code.py
  openlibrary/plugins/oltemplates/olmanage.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3017 Python 3: futurize -f libfuturize.fixes.fix_next_call -w .
  openlibrary/catalog/marc/find_translation.py
  openlibrary/data/dump.py
  openlibrary/plugins/admin/mem.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/tests/core/conftest.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3006 Beyond statsd
  openlibrary/core/stats.py
  requirements_common.txt
Labels: Theme: Upgrade to Python 3, python

#3087 Remove undefined names in deprecated fast_parse
  openlibrary/catalog/marc/fast_parse.py
  openlibrary/catalog/marc/tests/test_fast_parse.py
Labels: Theme: Upgrade to Python 3

#3082 Hotfix lending not single-click borrowing
  openlibrary/core/models.py
Labels: Needs: Testing, On Dev

#3060 Fix monkeypatch of urlopen
  openlibrary/tests/core/mocklib.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3059 Undefined name: search(self) --> self.search()
  openlibrary/plugins/search/solr_client.py
Labels: Needs: Review, Theme: Upgrade to Python 3, python

#3065 Py3 has stricter scoping rules for list comprehensions
  openlibrary/utils/bulkimport.py
Labels: Theme: Upgrade to Python 3, python

#3077 Python 3 compatibility in openlibrary/coverstore/utils.py
  openlibrary/coverstore/utils.py
Labels: Needs: Submitter Input, On Dev, Theme: Upgrade to Python 3, python

#3100 Absolute import: from scripts import _init_path again
  scripts/copydocs.py
Labels: Needs: Submitter Input, Theme: Upgrade to Python 3, python
