Repository internetarchive/openlibrary, pull requests merged in 2020-05, with the labels that each got.

#3427 Fix /ia/xxx import api throwing error instead of serving dummy wrapper page
  openlibrary/plugins/openlibrary/code.py
Labels: Patch Deployed, Priority: 0

#3363 Log URL generation failures in lending.py
  openlibrary/core/lending.py
Labels: Needs: Review

#3383 Fix 3382/feature/add-learnawesome-identifiers
  openlibrary/plugins/openlibrary/pages/config_edition.page
Labels: Needs: Special Deploy

#3397 enables sorting admin/sponsorships by ?sort=publicdate
  openlibrary/core/sponsorships.py
  openlibrary/templates/admin/sponsorship.html
Labels: On Dev

#3311 Was missing the location of the master files that many people ask for in the overview
  Readme.md
Labels: Affects: Documentation

#3415 Remove unused imports from openlibrary/utils
  openlibrary/utils/ia.py
Labels: On Dev

#3450 Re-enable BWB Pricing
  openlibrary/core/sponsorships.py
  openlibrary/core/vendors.py
  openlibrary/macros/databarWork.html
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/status.html
Labels: On Dev

#3471 Meta description made more specific to a page
  openlibrary/macros/Metatags.html
  openlibrary/templates/account/books.html
  openlibrary/templates/site/head.html
  openlibrary/templates/site/neck.html
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/work/view.html
Labels: On Dev

#3465 Enabling public reading log at account creation
  openlibrary/accounts/__init__.py
  openlibrary/accounts/model.py
  openlibrary/core/models.py
Labels: On Dev

#3441 lending.py: Deal gracefully with no account
  openlibrary/core/lending.py
Labels: On Dev, python

#3481 hotfix civi calls when civi is down
  openlibrary/core/civicrm.py
Labels: Lead: @mekarpeles, On Dev, Priority: 0
