Repository internetarchive/openlibrary, pull requests merged in 2021-02, with the labels that each got.

#4436 Refactor get_ia.py to use requests instead of urllib.urlopen
  openlibrary/catalog/get_ia.py
  openlibrary/catalog/marc/marc_subject.py
  openlibrary/tests/catalog/test_get_ia.py
Labels: Python 3: bytes vs. str

#4452 Allow cross origin access for cover images
  openlibrary/coverstore/code.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Labels: On Staging

#4283 Solr8 Preparatory Refactor #1
  conf/openlibrary.yml
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/search.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
  scripts/ol-solr-indexer.py
Labels: Needs: Special Deploy, On Staging

#4526 Archive unused openlibrary/catalog/amazon/crawl_top_books.py
  scripts/legacy/crawl_top_books.py
Labels: Module: Python

#4535 Do not hardcode SolrWriter(host)
  openlibrary/solr/process_stats.py
Labels: Module: Docker, Module: Solr

#4518 Update item count on deletion
  openlibrary/templates/type/list/view.html
Labels: Needs: Submitter Input, On Staging

#4538 Fix color contrast issue for buttons
  static/css/components/buttonCta.less
Labels: Affects: UI, Theme: Design

#4544 Updates to deploy.sh
  scripts/deployment/deploy.sh
Labels: Affects: Operations

#4569 Update deprecated loans__status__last_loan_date -> lending___last_browse
  openlibrary/templates/home/index.html
Labels: On Staging, Patch Deployed, Priority: 0

#2734 Upgrade autocomplete library
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/index.js
  vendor/js/jquery-autocomplete/changelog.txt
  vendor/js/jquery-autocomplete/jquery.autocomplete-modified.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.css
  vendor/js/jquery-autocomplete/jquery.autocomplete.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.min.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.pack.js
  vendor/js/jquery-autocomplete/todo
Labels: On Staging

#4280 Remove update_waitinglist because it is not necessary. See #3403
  openlibrary/core/waitinglist.py
  openlibrary/plugins/upstream/borrow.py
Labels: Priority: 3

#4496 Fix list-item markers outside content body
  static/css/base/common.less
Labels: On Dev

#4577 Fix Edition Table 'Listen' roll-over glitch
  static/css/components/editions.less
Labels: On Staging

#4457 Reboot Docker services on specified servers
  scripts/deployment/restart_servers.sh
Labels: Priority: 2

#4387 Run cron jobs in Docker
  docker-compose.production.yml
  openlibrary/solr/process_stats.py
  openlibrary/solr/solrwriter.py
  scripts/expire_accounts.py
Labels: Affects: Admin/Maintenance, Module: Docker, Priority: 1

#4491 Support special access btn for patrons w/ approved print-disabilities
  openlibrary/accounts/model.py
  openlibrary/core/models.py
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReadButton.html
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1

#4293 Add a minimal "notes" feature to Books / Reading Log
  openlibrary/core/booknotes.py
  openlibrary/core/bookshelves.py
  openlibrary/core/models.py
  openlibrary/core/schema.sql
  openlibrary/macros/UserMetadata.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/templates/lists/widget.html
Labels: Theme: Reading Log

#4607 Ability to sort search results by classification, random
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/work_search.html
Labels: On Staging

#4601 Fix Book Page Color Contrast
  static/css/components/dropper.less
  static/css/components/work.less
  static/css/legacy-datatables.less
Labels: On Staging

#4614 Remove duplicate anchor text
  openlibrary/macros/BookPreview.html
  openlibrary/macros/RecentChanges.html
  openlibrary/templates/admin/ip/view.html
  openlibrary/templates/admin/people/edits.html
  openlibrary/templates/history.html
  openlibrary/templates/lib/nav_foot.html
  openlibrary/templates/recentchanges/new-account/path.html
  openlibrary/templates/recentchanges/render.html
Labels: On Staging

#4655 Fix DeprecationWarning invalid escape sequences
  openlibrary/catalog/marc/fast_parse.py
  openlibrary/plugins/upstream/account.py
Labels: On Staging

#4547 Rename 'bodyid' to 'cssfile'
  openlibrary/admin/utils.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/templates/admin/index.html
  openlibrary/templates/admin/ip/index.html
  openlibrary/templates/admin/people/view.html
  openlibrary/templates/admin/sponsorship.html
  openlibrary/templates/barcodescanner.html
  openlibrary/templates/books/daisy.html
  openlibrary/templates/borrow_admin.html
  openlibrary/templates/borrow_admin_no_update.html
  openlibrary/templates/covers/add.html
  openlibrary/templates/covers/manage.html
  openlibrary/templates/covers/saved.html
  openlibrary/templates/design.html
  openlibrary/templates/edit_yaml.html
  openlibrary/templates/home/index.html
  openlibrary/templates/site/body.html
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
  openlibrary/templates/type/about/edit.html
  openlibrary/templates/type/doc/edit.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/i18n/edit.html
  openlibrary/templates/type/list/embed.html
  openlibrary/templates/type/macro/edit.html
  openlibrary/templates/type/macro/view.html
  openlibrary/templates/type/page/edit.html
  openlibrary/templates/type/permission/edit.html
  openlibrary/templates/type/rawtext/edit.html
  openlibrary/templates/type/rawtext/view.html
  openlibrary/templates/type/template/edit.html
  openlibrary/templates/type/template/view.html
  openlibrary/templates/type/user/edit.html
  openlibrary/templates/type/usergroup/edit.html
Labels: On Staging

#4620 French translation update
  openlibrary/i18n/fr/messages.po
Labels: On Staging

#4618 from mock import Mock, patch for Python 2 and 3
  openlibrary/tests/core/test_fulltext.py
Labels: On Staging

#4081 [library-exporer] Option to select language + styling tweaks
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/configs.js
  openlibrary/plugins/worksearch/languages.py
  package-lock.json
  package.json
Labels: On Staging

#4579 requirements_common.txt: Upgrade Pillow, PyYAML, and sentry-sdk
  requirements_common.txt
Labels: On Staging, dependencies

#4628 Remove references to /olsystem/bin/olenv
  scripts/ipstats.py
  scripts/manage-imports.py
  scripts/solr_builder/README.md
  scripts/store_counts.py
Labels: Module: Python, On Staging

#4670 Entering an author/work ID into autocomplete will fetch from DB if missing from solr
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/models.py
Labels: On Staging

#4681 Fix merge authors with Unicode names
  openlibrary/plugins/upstream/merge_authors.py
Labels: Module: Merging, Module: Python, On Staging
