Repository internetarchive/openlibrary, pull requests merged in 2021-01, with the labels that each got.

#4299 Replace simplejson with python json in plugins/upstream for 2308
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/adapter.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/recentchanges.py
  openlibrary/plugins/upstream/utils.py
Labels: Type: Refactor/Clean-up

#4273 Deleted unused macros
  openlibrary/macros/AlertChanges.html
  openlibrary/macros/AlertTour.html
  openlibrary/macros/AllPagination.html
  openlibrary/macros/AuthorEditRow.html
  openlibrary/macros/EditionCount.html
  openlibrary/macros/EditionEditRow.html
  openlibrary/macros/EnrollUsergroup.html
  openlibrary/macros/FormatExpiry2.html
  openlibrary/macros/FullTextCount.html
  openlibrary/macros/GoButton.html
  openlibrary/macros/HasFulltext.html
  openlibrary/macros/HelpWikilanguage.html
  openlibrary/macros/MergeHistory.html
  openlibrary/macros/ModifyTemplate.html
  openlibrary/macros/MostRecent.html
  openlibrary/macros/MostRecentHome.html
  openlibrary/macros/NavigationDev.html
  openlibrary/macros/RowButtons.html
  openlibrary/macros/UniqueIPcount.html
  openlibrary/macros/databarMerge.html
  openlibrary/macros/databari18n.html
  openlibrary/macros/miframe.html
Labels: On Staging

#4374 standardizes call to action as "borrow"
  openlibrary/macros/LoanStatus.html
Labels: On Staging

#4372 If $PYENV_VERSION is not set, default to Python 3.8.6
  .python-version
  docker-compose.infogami-local.yml
  docker-compose.production.yml
  docker-compose.staging.yml
  docker/Dockerfile.olbase
  docker/README.md
  scripts/run_olserver.sh
  scripts/solr_builder/Dockerfile.olpython
Labels: Affects: Configuration, Python

#4304 Replace simplejson with python json in openlibrary/solr package for 2308
  openlibrary/solr/db_load_authors.py
  openlibrary/solr/db_load_works.py
  openlibrary/solr/process_stats.py
  openlibrary/solr/read_dump.py
  openlibrary/solr/update_work.py
Labels: Type: Refactor/Clean-up

#4303 Replace simplejson with python json in openlibrary/data package for 2308
  openlibrary/data/__init__.py
  openlibrary/data/db.py
  openlibrary/data/dump.py
  openlibrary/data/sitemap.py
  openlibrary/data/solr.py
Labels: Type: Refactor/Clean-up

#4300 Replace simplejson with python json in openlibrary/catalog package fo…
  openlibrary/catalog/importer/db_read.py
  openlibrary/catalog/importer/olwrite.py
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/catalog/merge/load_from_json.py
  openlibrary/catalog/olwrite.py
  openlibrary/catalog/utils/query.py
Labels: Type: Refactor/Clean-up

#4385 GitHub Actions: Remove legacy Python from testing
  .github/workflows/python_tests.yml
Labels: Python, Theme: Testing

#4334 Fix to improve WAVE accessibility score
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/lib/nav_head.html
Labels: On Staging

#4391 Remove /openlibrary volume mount from docker-compose.production.yml
  docker-compose.production.yml
Labels: Module: Docker

#4399 Fix our currently invalid Python GitHub Action
  .github/workflows/python_tests.yml
Labels: Theme: Testing

#4404 Restore showmarc actions
  openlibrary/code.py
Labels: Priority: 1

#4375 Add vim and emacs to Dockerfile.olbase
  docker/Dockerfile.olbase
Labels: Affects: Configuration, Python

#4341 Ensure that parse_data() compares bytes with bytes
  openlibrary/plugins/importapi/code.py
Labels: On Staging, Priority: 1

#4333 Replace vendor jquery-ui with npm install
  openlibrary/plugins/openlibrary/js/index.js
  vendor/js/jquery-ui/jquery-ui-1.12.1.min.js
  vendor/js/jquery-ui/jquery-ui-1.7.2.js
Labels: On Staging

#4421 Import jQuery-UI sortable widget
  openlibrary/plugins/openlibrary/js/index.js
Labels: On Staging

#4407 2852/refactor/replace urllib with requests in utils httpserver
  .python-version
  docker/Dockerfile.olbase
  openlibrary/utils/httpserver.py
  scripts/run_doctests.sh
Labels: Python

#4417 Upgrade testing dependencies: pytest, safety, sentry-sdk
  requirements_common.txt
  requirements_test.txt
Labels: Theme: Testing

#4298 Replace simplejson with json in openlibrary/plugins (except plugins/u…
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/tests/test_listapi.py
  openlibrary/plugins/openlibrary/tests/test_ratingsapi.py
  openlibrary/plugins/search/code.py
  openlibrary/plugins/search/solr_client.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/plugins/worksearch/publishers.py
  openlibrary/plugins/worksearch/subjects.py
Labels: Type: Refactor/Clean-up

#4296 Replace simplejson with python json in openlibrary/core files.
  openlibrary/core/cache.py
  openlibrary/core/formats.py
  openlibrary/core/helpers.py
  openlibrary/core/lists/engine.py
  openlibrary/core/lists/model.py
  openlibrary/core/statsdb.py
Labels: Type: Refactor/Clean-up

#3033 2936/fix/polish translation
  openlibrary/i18n/pl/messages.po
Labels: On Dev, On Staging, Priority: 2, Theme: Internationalization

#4402 Improve Amazon error detection
  openlibrary/core/vendors.py
Labels: AmazonAPI, Priority: 1

#4324 Create importbot docker service
  docker-compose.production.yml
  docker/ol-importbot-start.sh
Labels: Module: Docker, Module: Import, Priority: 2, Python

#4455 cache.py: Avoid dict changed size during iteration
  openlibrary/core/cache.py
Labels: Priority: 2

#4412 Remove references to lighttp
  conf/lighttpd/lighttpd.conf
  openlibrary/core/processors/readableurls.py
  openlibrary/plugins/openlibrary/stats.py
Labels: Priority: 2

#4462 Fix OpenLibrary.import_ocaid() by returning str, not bytes
  openlibrary/api.py
Labels: Priority: 1, Python 3: bytes vs. str

#4307 Remove duplicate orphaned edition code from addbook.py
  openlibrary/plugins/upstream/addbook.py
Labels: Type: Refactor/Clean-up

#4295 Replaced old social media icons with new ones
  static/images/facebook.svg
  static/images/pinterest.svg
  static/images/twitter.svg
Labels: On Staging

#4395 Scripts for production deployments
  scripts/deployment/continue_production_deploy.sh
  scripts/deployment/start_production_deploy.sh
Labels: Priority: 2

#4454 consolidating vendors back to core group
  openlibrary/macros/AffiliateLinks.html
Labels: Priority: 0
