Repository internetarchive/openlibrary, pull requests merged in 2021-03, with the labels that each got.

#4627 Fix dump.py to read str, instead of bytes
  openlibrary/data/dump.py
  scripts/sitemaps/sitemap.py
Labels: Affects: Admin/Maintenance, Module: Python, Python 3: bytes vs. str

#4709 Add default image for book cover and author in search dropdown
  openlibrary/plugins/openlibrary/js/SearchBar.js
Labels: On Staging

#4717 Fix failing cron-jobs in Docker
  docker-compose.production.yml
Labels: Affects: Admin/Maintenance, Module: Docker

#4721 Small fixes: Nav menu cursor: pointer + Don't show "0 editions" for lists
  openlibrary/templates/lists/preview.html
  openlibrary/templates/type/list/embed.html
  static/css/components/header-bar.less
Labels: On Staging

#4386 Remove legacy Python from requirements*.txt and Docker
  .python-version
  docker/Dockerfile.olbase
  docker/Dockerfile.oldev
  docker/README.md
  requirements.txt
  requirements_common.txt
  requirements_test.txt
Labels: Affects: Configuration, Module: Docker

#4729 Remove dead search plugin + Subject class
  openlibrary/code.py
  openlibrary/plugins/search/__init__.py
  openlibrary/plugins/search/code.py
  openlibrary/plugins/search/collapse.py
  openlibrary/plugins/search/facet_hash.py
  openlibrary/plugins/search/solr_client.py
  openlibrary/plugins/search/templates/advanced_search
  openlibrary/plugins/search/templates/search.html
  openlibrary/plugins/upstream/models.py
Labels: On Staging

#4727 Remove some old dependencies from olbase
  Makefile
  docker-compose.yml
  docker/Dockerfile.olbase
  docker/ol-web-start.sh
Labels: On Staging

#4705 Add random.hourly and random.daily sort options
  openlibrary/plugins/worksearch/code.py
Labels: On Staging

#4604 worksearch code.py: Replace urlopen with requests.get
  openlibrary/plugins/worksearch/code.py
Labels: Lead: @cdrini, Module: Python, Module: Solr, On Staging

#4312 Create a setting for user language preference
  openlibrary/core/cache.py
  openlibrary/core/helpers.py
  openlibrary/i18n/__init__.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/lib/nav_foot.html
  openlibrary/tests/core/test_helpers.py
  openlibrary/tests/core/test_i18n.py
Labels: On Staging, Priority: 2, Theme: Internationalization

#4735 Fixes accessibility issue in book page
  openlibrary/macros/DonateModal.html
  openlibrary/templates/type/edition/view.html
Labels: On Staging

#4742 Improve user /lists page performance by remove top subjects
  openlibrary/core/lists/model.py
  openlibrary/templates/lists/preview.html
Labels: Theme: Lists, Theme: Performance

#4598 Replaces custom jquery autocomplete implementation with one inside jquery UI (attempt 2)
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/index.js
  package.json
  static/css/components/jquery.autocomplete.less
  tests/unit/js/test.autocomplete.js
  vendor/js/jquery-autocomplete/changelog.txt
  vendor/js/jquery-autocomplete/jquery.autocomplete-modified.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.css
  vendor/js/jquery-autocomplete/jquery.autocomplete.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.min.js
  vendor/js/jquery-autocomplete/jquery.autocomplete.pack.js
  vendor/js/jquery-autocomplete/todo
Labels: On Staging

#4748 localhost:80 -> web:8080 in openlibrary.yml
  conf/openlibrary.yml
Labels: Priority: 0

#4749 Disable vue development builds due to concurrency bug
  Makefile
  openlibrary/plugins/upstream/utils.py
Labels: Priority: 1

#4750 Make vue builds run in sequence :( They must be stateful :(
  Makefile
Labels: On Staging, Priority: 0

#4274 Migrate debugging from ptvsd to debugpy -- again
  openlibrary/plugins/admin/code.py
  requirements_test.txt
  scripts/new-solr-updater.py
Labels: Module: Python, On Staging, Priority: 3, Theme: Development

#4732 removing dead code catalog/edition_merge
  openlibrary/catalog/edition_merge/find_dups.py
  openlibrary/catalog/edition_merge/find_easy.py
  openlibrary/catalog/edition_merge/merge.py
  openlibrary/catalog/edition_merge/merge_works.py
  openlibrary/catalog/edition_merge/run_merge.py
  openlibrary/catalog/edition_merge/schema.sql
  openlibrary/catalog/edition_merge/templates/index.html
  openlibrary/catalog/edition_merge/templates/merge.html
  openlibrary/catalog/edition_merge/templates/web_merge.html
  scripts/run_doctests.sh
Labels: On Staging

#4778 Add march carousel to homepage
  openlibrary/templates/home/index.html
Labels: On Staging

#4782 Improve book notes modal
  bundlesize.config.json
  openlibrary/macros/UserMetadata.html
  openlibrary/plugins/openlibrary/js/patron-metadata/index.js
  static/css/components/metadata-form.less
  static/css/less/colors.less
Labels: On Staging, Theme: Book Notes

#4793 Fix BookNote update functionality
  openlibrary/core/booknotes.py
Labels: Theme: Book Notes

#4871 Add Unicode tests and remove unused catalog.utils.strip_accents()
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/utils/__init__.py
Labels: On Staging, Theme: Unicode

#4828 Add scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/are_servers_in_sync.sh
Labels: Affects: Configuration

#4881 Monthly Reads refactor
  openlibrary/templates/home/index.html
Labels: On Staging

#4882 Docker test upgrade to Python 3.9.2 on upstream
  .python-version
  docker/Dockerfile.olbase
  docker/README.md
Labels: Affects: Configuration, Module: Python, python

#4895 Use requests in openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/upstream/utils.py
Labels: Module: Python, On Staging, python

#4894 Fix Nothing is not JSON serializable again
  openlibrary/core/helpers.py
Labels: Module: Python, On Staging, python

#4808 adds a basic /account/loans.json endpoint
  openlibrary/plugins/upstream/account.py
Labels: On Staging

#4945 Hotfix: don't carry account variable around
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/vendors.py
Labels: Patch Deployed, Priority: 0

#4936 Use docker-compose profiles + cleanup old volume-mount cludges
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
  scripts/deployment/restart_servers.sh
  tests/test_docker_compose.py
Labels: Needs: Special Deploy

#4769 Remove uses of six.PY2 and six.PY3
  openlibrary/core/fulltext.py
  openlibrary/core/helpers.py
  openlibrary/data/dump.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/solr/solrwriter.py
  openlibrary/tests/core/test_fulltext.py
Labels: Module: Python, On Staging, Priority: 2, Python 3: bytes vs. str, python
