Repository internetarchive/openlibrary, pull requests merged in 2021-12, with the labels that each got.

#5909 Given the long run times, make ol-dumps easier to test
  openlibrary/data/dump.py
  scripts/oldump.sh
Labels: Affects: Admin/Maintenance, Module: Data dumps

#5938 Remove the unused akismet
  openlibrary/plugins/akismet/__init__.py
  openlibrary/plugins/akismet/akismet.py
  openlibrary/plugins/akismet/code.py
  scripts/generate-api-docs.py
  setup.cfg
Labels: Needs: Review

#5940 simple fix which closes #333
  openlibrary/macros/SubjectTags.html
  openlibrary/templates/search/subjects.html
Labels: Needs: Review

#5936 Docker Desktop for Mac >= 4.3.0 is Apple M1 native
  docker/README.md
Labels: Needs: Review

#5935 17313/return loans
  openlibrary/plugins/upstream/borrow.py
Labels: Needs: Review

#5925 Adding Alt Text to Home Page Images
  openlibrary/templates/home/stats.html
  openlibrary/templates/lib/nav_foot.html
Labels: Theme: Accessibility

#5924 minimal attempt to avoid importing non-books
  scripts/partner_batch_imports.py
Labels: Priority: 1

#5705 Add book tags submission indicator
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/ObservationService.js
  openlibrary/components/ObservationForm/components/CardBody.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
  openlibrary/components/ObservationForm/components/SavedTags.vue
Labels: Priority: 1, On testing.openlibrary.org

#5688 Add API for getting a work's ratings summary
  openlibrary/core/ratings.py
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 1, Lead: @mekarpeles, On testing.openlibrary.org

#5522 Fix redundant DB table creation attempts in local environment
  scripts/dev-instance/dev_db.pg_dump
Labels: Priority: 3, Theme: Development, Affects: Developers

#5905 Add star ratings to "already read" bookshelf items
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/StarRatings.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/books.html
  openlibrary/templates/account/reading_log.html
Labels: Needs: Community Discussion

#4725 dockerfile + compose for ol-www0 web_nginx
  docker-compose.production.yml
  docker/Dockerfile.olbase
  docker/covers_nginx.conf
  docker/infobase_nginx.conf
  docker/nginx.conf
  docker/ol-nginx-start.sh
  docker/web_nginx.conf
Labels: Priority: 2

#5961 Enable GitHub Action javascript_tests to be manually run
  .github/workflows/javascript_tests.yml
Labels: Module: JavaScript, Theme: Testing, Affects: Developers

#5968 Fix eligibility_check having wrong signature
  openlibrary/core/sponsorships.py
Labels: Priority: 0, Patch Deployed

#5962 Create a deployment script to test a new memcache server
  scripts/deployment/patch_test_new_memcache_server.sh
Labels: Module: Memcache, Theme: Testing

#5958 Enable ol-covers to use Docker deploy replicas again
  docker-compose.infogami-local.yml
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.staging.yml
  docker-compose.yml
  scripts/deployment/restart_servers.sh
Labels: Needs: Review, Priority: 2

#5931 Switch to ia cli to upload dumps
  scripts/oldump.sh
Labels: Affects: Admin/Maintenance, Module: Data dumps

#5929 Update pull_request_template.md
  .github/pull_request_template.md
Labels: Priority: 1

#5960 Fix login redirect issues
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/lists/widget.html
Labels: Needs: Feedback

#5984 Fixed admin only feature showing on edit page
  openlibrary/macros/TypeChanger.html
Labels: Priority: 2

#5838 Create Standard Ebooks import job
  requirements.txt
  scripts/import_standard_ebooks.py
Labels: Priority: 1

#5907 Add entire work with copydocs.py
  openlibrary/api.py
  scripts/copydocs.py
Labels: Priority: 2

#5885 Update partner_batch_imports.py
  scripts/partner_batch_imports.py
  scripts/solr_builder/solr_builder/fn_to_cli.py
Labels: Priority: 1

#5988 Fix add some useful components to empty loans pages
  openlibrary/templates/account/loans.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/home/custom_ia_carousel.html
  static/css/components/mybooks-details.less
Labels: Priority: 2, On testing.openlibrary.org

#6013 replacing civicrm call with elastic
  openlibrary/core/sponsorships.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/tests/core/test_sponsors.py
Labels: Priority: 1
