Repository internetarchive/openlibrary, pull requests merged in 2021-11, with the labels that each got.

#5818 Update Git submodule protocol
  .gitmodules
Labels: Priority: 0

#5463 Fix translatable string 'Add another edition' on work page
  openlibrary/i18n/es/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/work/editions_datatable.html
Labels: Priority: 1

#5824 Truncate book title when cover is missing
  openlibrary/templates/covers/book_cover.html
Labels: On testing.openlibrary.org

#5821 Increasing limit for work deletion and use can_write instead of checking perms manually
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 1

#5781 Add validation for api/import
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/import_edition_builder.py
  openlibrary/plugins/importapi/import_validator.py
  openlibrary/plugins/importapi/tests/test_import_edition_builder.py
  openlibrary/plugins/importapi/tests/test_import_validator.py
  requirements.txt
Labels: Priority: 1

#5804 Remove availability.js; do it all server-side
  openlibrary/book_providers.py
  openlibrary/core/lending.py
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/js/availability.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/stats/readinglog.html
  openlibrary/templates/type/list/embed.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/utils/solr.py
  openlibrary/views/loanstats.py
  static/css/legacy.less
  tests/unit/js/test.availability.js
Labels: Priority: 1

#5703 Display correct source code for CTA button stories
  stories/Button.stories.js
Labels: Priority: 2

#5383 Truncate long list entry descriptions
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/lists/home.html
Labels: Priority: 2, Needs: Submitter Input, On testing.openlibrary.org

#5777 Misc solrbuilder fixes + Update solr to 8.10
  conf/openlibrary.yml
  conf/solr/conf/managed-schema
  docker-compose.production.yml
  docker-compose.yml
  openlibrary/components/LibraryExplorer/utils/lcc.js
  openlibrary/solr/data_provider.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_types_generator.py
  openlibrary/utils/lcc.py
  openlibrary/utils/tests/test_lcc.py
  scripts/new-solr-updater.py
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/docker-compose.yml
Labels: Priority: 1

#5859 black --skip-string-normalization ./scripts ./tests *.py
  scripts/copydocs.py
  scripts/fake_loan_server.py
  scripts/generate-api-docs.py
  scripts/ipstats.py
  scripts/jsondump.py
  scripts/lc_marc_update.py
  scripts/mail_bad_author_query.py
  scripts/manage-imports.py
  scripts/migrate_db.py
  scripts/minicron.py
  scripts/new-solr-updater.py
  scripts/oclc_to_marc.py
  scripts/oldump.py
  scripts/partner_batch_imports.py
  scripts/pull-templates.py
  scripts/sitemaps/sitemap.py
  scripts/solr_builder/setup.py
  scripts/solr_builder/solr_builder/fn_to_cli.py
  scripts/solr_builder/solr_builder/index_subjects.py
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/sponsor_update_prices.py
  scripts/store_counts.py
  scripts/tests/test_copydocs.py
  scripts/tests/test_partner_batch_imports.py
  scripts/update-loans.py
  scripts/view_marc.py
  setup.py
  tests/integration/__init__.py
  tests/integration/test_affiliate_links.py
  tests/integration/test_auth.py
  tests/integration/test_landing.py
  tests/integration/test_loans.py
  tests/integration/test_microdata.py
  tests/integration/test_search.py
  tests/integration/test_sharing.py
Labels: Type: Refactor/Clean-up

#5870 pre-commit: Run flake8-diff.sh outside of Docker
  .pre-commit-config.yaml
Labels: Affects: Admin/Maintenance, Theme: Testing

#5849 Add black, mypy, and pyupgrade to pre-commit
  .pre-commit-config.yaml
  openlibrary/catalog/merge/test_merge.py
  openlibrary/coverstore/coverlib.py
  openlibrary/solr/update_work.py
  scripts/coverstore-server
  scripts/i18n-messages
  scripts/infobase-server
  scripts/openlibrary-server
  scripts/sync
Labels: Affects: Admin/Maintenance

#5863 [libraryexplorer] Remove individual page count fetches; now in solr!
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
Labels: On testing.openlibrary.org

#5889 Switch back to typing.Optional
  openlibrary/coverstore/coverlib.py
  openlibrary/plugins/importapi/import_validator.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  openlibrary/solr/update_work.py
Labels: Priority: 0

#5878 Make solr-updater --no-solr-next explicit
  docker-compose.production.yml
  openlibrary/solr/update_work.py
  scripts/new-solr-updater.py
Labels: Priority: 1

#5819 Double maximum length of HTTP requests
  openlibrary/api.py
  scripts/copydocs.py
  scripts/tests/test_copydocs.py
Labels: Needs: Submitter Input

#5895 Expose endpoint for works' observations
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 4, Module: TheBestBookOn.com

#5904 Fix readable edition not selected when visiting work page
  openlibrary/book_providers.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/type/edition/view.html
  openlibrary/utils/__init__.py
Labels: On testing.openlibrary.org
