Repository internetarchive/openlibrary, pull requests merged in 2021-08, with the labels that each got.

#5495 Fix/update some docs/configs for solr8
  docker-compose.production.yml
  scripts/solr_builder/README.md
Labels: Priority: 1

#5508 Fix duplicate manage cover template in modal
  openlibrary/plugins/openlibrary/js/index.js
Labels: On testing.openlibrary.org, Priority: 1

#5509 hotfix for accessing `q` for ListQuery
  openlibrary/plugins/worksearch/code.py
Labels: Patch Deployed, Priority: 0

#5433 Added an API for deleting work
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 1

#5512 Hide OCAID on book pages if edition has `noindex` flag
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#5430 Redesign Mobile Header Bar
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar--desktop.less
  static/css/components/header-bar--tablet.less
  static/css/components/header-bar.less
  static/css/components/iaBar.less
  static/css/layout/v2.less
  static/css/less/colors.less
  static/css/less/font-families.less
  static/images/hamburger-icon.svg
  static/images/search-icon.svg
Labels: Priority: 1, Needs: Testing

#5521 Fix header details tags showing ">" marker on safari!
  static/css/components/header-bar.less
Labels: On testing.openlibrary.org

#5461 Add onboarding carousel to homepage
  bundlesize.config.json
  openlibrary/templates/home/categories.html
  openlibrary/templates/home/index.html
  openlibrary/templates/home/welcome.html
  static/css/components/home.less
  static/css/less/colors.less
  static/images/onboarding/feedback.png
  static/images/onboarding/librarian.png
  static/images/onboarding/library_explorer.png
  static/images/onboarding/read.png
  static/images/onboarding/track.png
Labels: Priority: 1, On testing.openlibrary.org

#5523 fixes initial loading flash
  static/css/components/home.less
Labels: On testing.openlibrary.org

#4617 Library Explorer Tweaks + ?jumpTo alpha release
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/CSSBox.vue
  openlibrary/components/LibraryExplorer/components/ClassSlider.vue
  openlibrary/components/LibraryExplorer/components/DemoA.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/LibraryExplorer/ddc.json
  openlibrary/components/LibraryExplorer/lcc.json
  openlibrary/components/LibraryExplorer/utils.js
  openlibrary/components/LibraryExplorer/utils/lcc.js
  openlibrary/utils/lcc.py
Labels: Priority: 1, On testing.openlibrary.org

#5127 Fix flash message causes content shift
  openlibrary/plugins/openlibrary/js/automatic.js
  openlibrary/templates/site/body.html
Labels: Priority: 1, On testing.openlibrary.org

#5494 Old solr cleanup
  conf/openlibrary.yml
  conf/solr/conf/lang/contractions_ca.txt
  conf/solr/conf/lang/contractions_fr.txt
  conf/solr/conf/lang/contractions_ga.txt
  conf/solr/conf/lang/contractions_it.txt
  conf/solr/conf/lang/hyphenations_ga.txt
  conf/solr/conf/lang/stemdict_nl.txt
  conf/solr/conf/lang/stoptags_ja.txt
  conf/solr/conf/lang/stopwords_ar.txt
  conf/solr/conf/lang/stopwords_bg.txt
  conf/solr/conf/lang/stopwords_ca.txt
  conf/solr/conf/lang/stopwords_cz.txt
  conf/solr/conf/lang/stopwords_da.txt
  conf/solr/conf/lang/stopwords_de.txt
  conf/solr/conf/lang/stopwords_el.txt
  conf/solr/conf/lang/stopwords_en.txt
  conf/solr/conf/lang/stopwords_es.txt
  conf/solr/conf/lang/stopwords_eu.txt
  conf/solr/conf/lang/stopwords_fa.txt
  conf/solr/conf/lang/stopwords_fi.txt
  conf/solr/conf/lang/stopwords_fr.txt
  conf/solr/conf/lang/stopwords_ga.txt
  conf/solr/conf/lang/stopwords_gl.txt
  conf/solr/conf/lang/stopwords_hi.txt
  conf/solr/conf/lang/stopwords_hu.txt
  conf/solr/conf/lang/stopwords_hy.txt
  conf/solr/conf/lang/stopwords_id.txt
  conf/solr/conf/lang/stopwords_it.txt
  conf/solr/conf/lang/stopwords_ja.txt
  conf/solr/conf/lang/stopwords_lv.txt
  conf/solr/conf/lang/stopwords_nl.txt
  conf/solr/conf/lang/stopwords_no.txt
  conf/solr/conf/lang/stopwords_pt.txt
  conf/solr/conf/lang/stopwords_ro.txt
  conf/solr/conf/lang/stopwords_ru.txt
  conf/solr/conf/lang/stopwords_sv.txt
  conf/solr/conf/lang/stopwords_th.txt
  conf/solr/conf/lang/stopwords_tr.txt
  conf/solr/conf/lang/userdict_ja.txt
  conf/solr/conf/managed-schema
  conf/solr/conf/params.json
  conf/solr/conf/protwords.txt
  conf/solr/conf/schema-default.xml
  conf/solr/conf/schema.xml
  conf/solr/conf/solr-subjects-import-config.xml
  conf/solr/conf/solrconfig-default.xml
  conf/solr/conf/solrconfig-dev.xml
  conf/solr/conf/solrconfig-prod.xml
  conf/solr/conf/solrconfig.xml
  conf/solr/conf/stopwords.txt
  conf/solr/conf/synonyms.txt
  conf/solr/rmlog.sh
  conf/solr/start.sh
  docker-compose.yml
  docker/Dockerfile.olsolr
  openlibrary/plugins/worksearch/code.py
  scripts/solr_builder/docker-compose.yml
Labels: Priority: 1

#5481 Remove notes modals from notes list page
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/account/notes.html
  static/css/components/notes-view.less
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5479 partner JS library for showing OL buttons based on ISBN
  openlibrary/plugins/openlibrary/js/partner_ol_lib.js
  webpack.config.js
Labels: Priority: 2, On testing.openlibrary.org

#5533 Indicate if note exists in modal link text
  openlibrary/core/models.py
  openlibrary/templates/lists/widget.html
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5536 Update notes form styling
  openlibrary/macros/NotesModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/account/notes.html
  static/css/components/metadata-form.less
  static/css/components/notes-view.less
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5524 Update book tags schema
  openlibrary/core/observations.py
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 1, Needs: Special Deploy, Theme: Book Tags, On testing.openlibrary.org

#5534 rm linkback for noindex unless librarian
  openlibrary/macros/BookPreview.html
  openlibrary/macros/LoanStatus.html
Labels: Priority: 2

#5541 Fix author/search pages erroring
  openlibrary/macros/LoanStatus.html
Labels: Priority: 0, On testing.openlibrary.org

#5546 Add helper eg /data/ol_dump_editions_latest.txt.gz links for ratings/readinglog
  openlibrary/plugins/upstream/data.py
Labels: On testing.openlibrary.org

#5543 Remove duplicate value from schema
  openlibrary/core/observations.py
Labels: Priority: 1, Theme: Book Tags

#5550 Refactor: Misc Solr perf improvements
  openlibrary/core/models.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/utils/solr.py
Labels: On testing.openlibrary.org

#5496 Tweaks to solr index schema
  conf/solr/conf/managed-schema
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
  scripts/new-solr-updater.py
Labels: Priority: 1, Lead: @mekarpeles

#5532 Require confirmation before note deletion
  openlibrary/plugins/openlibrary/js/modals/index.js
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5552 Redesign review component
  openlibrary/macros/EditionNavBar.html
  openlibrary/templates/observations/review_component.html
  openlibrary/templates/observations/stats_component.html
  openlibrary/templates/type/edition/view.html
  static/css/components/observationStats.less
Labels: Theme: Book Tags, On testing.openlibrary.org

#5505 Feature/observations vue component
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/ObservationService.js
  openlibrary/components/ObservationForm/Utils.js
  openlibrary/components/ObservationForm/components/CardBody.vue
  openlibrary/components/ObservationForm/components/CardHeader.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
  openlibrary/components/ObservationForm/components/OLChip.vue
  openlibrary/components/ObservationForm/components/SavedTags.vue
  openlibrary/components/ObservationForm/components/ValueCard.vue
  openlibrary/macros/ObservationsModal.html
  openlibrary/plugins/openlibrary/js/modals/index.js
  package.json
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5475 Various toast component bug fixes
  openlibrary/plugins/openlibrary/js/Toast.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  static/css/components/toast.less
Labels: Priority: 1, Theme: Book Tags, On testing.openlibrary.org

#5542 Provide option to (re)import non-monograph MARC records if neccessary
  openlibrary/plugins/importapi/code.py
Labels: Theme: MARC records, Module: Import

#5556 Book tags schema update
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/ObservationService.js
  openlibrary/components/ObservationForm/Utils.js
  openlibrary/core/observations.py
Labels: Needs: Special Deploy, Theme: Book Tags, On testing.openlibrary.org

#5558 Implement review notes for review component redesign
  openlibrary/templates/observations/review_component.html
  static/css/components/observationStats.less
Labels: Theme: Book Tags

#5559 Replace heavy plus symbol with bullet in book tags component
  openlibrary/components/ObservationForm/components/CategorySelector.vue
Labels: Theme: Book Tags

#5560 Display random category on component load
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/components/CategorySelector.vue
Labels: Theme: Book Tags

#5564 Display percentages of total responses in review section
  openlibrary/core/observations.py
  openlibrary/templates/observations/review_component.html
Labels: Theme: Book Tags, On testing.openlibrary.org

#5566 adds review /stats
  openlibrary/core/observations.py
  openlibrary/templates/admin/index.html
  openlibrary/views/loanstats.py
Labels: Priority: 1

#5544 updating authors search page
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/authors/index.html
Labels: On testing.openlibrary.org

#5574 Remove badge from availability.js button
  openlibrary/plugins/openlibrary/js/availability.js
Labels: On testing.openlibrary.org

#5159 Ensuring Affiliate Links List Includes Only li Elements as Children
  openlibrary/macros/AffiliateLinks.html
  static/css/components/read-panel.less
Labels: On testing.openlibrary.org

#5286 PWA
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/offline-banner.js
  openlibrary/plugins/openlibrary/js/service-worker.js
  openlibrary/templates/site/body.html
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
  package-lock.json
  package.json
  static/.well-known/assetlinks.json
  static/css/base/helpers-common.less
  static/images/openlibrary-192x192-mask.png
  static/images/openlibrary-512x512-mask.png
  static/manifest.json
  static/offline.html
  webpack.config.js
Labels: Priority: 1, On testing.openlibrary.org
