Repository internetarchive/openlibrary, pull requests merged in 2021-07, with the labels that each got.

#5178 [performance] Reduce the amount of critical path JavaScript that is loaded
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/tabs.js
Labels: Priority: 2

#5245 Update to webpack 5
  package-lock.json
  package.json
  webpack.config.js
Labels: On testing.openlibrary.org

#5368 Fix header menus stuck open on IE11
  openlibrary/plugins/openlibrary/js/index.js
  package-lock.json
  package.json
  static/css/components/header-bar.less
Labels: Priority: 1

#5363 fixes /dev subnav + adds i18n
  openlibrary/macros/Subnavigation.html
  openlibrary/templates/lib/nav_foot.html
Labels: On testing.openlibrary.org, Priority: 2

#5406 add noindex header to anywhere but prd
  openlibrary/templates/site/head.html
Labels: On testing.openlibrary.org

#5405 Show stats component only if work key exists
  openlibrary/macros/EditionNavBar.html
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#5408 link to https version of blog.openlibrary.org
  Readme.md
  openlibrary/i18n/cs/messages.po
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/upstream/pages/home.page
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/authors/index.html
  openlibrary/templates/email/account/verify.html
  openlibrary/templates/home/about.html
  scripts/dev-instance/dev_db.pg_dump
  static/status-500.html
Labels: On testing.openlibrary.org

#5400 Fix QueryCarousels not infinite scrolling
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Labels: On testing.openlibrary.org

#4337 Solr 8! Up and running 🚀
  conf/openlibrary.yml
  conf/solr/haproxy.cfg
  conf/solr8-ol/conf/lang/contractions_ca.txt
  conf/solr8-ol/conf/lang/contractions_fr.txt
  conf/solr8-ol/conf/lang/contractions_ga.txt
  conf/solr8-ol/conf/lang/contractions_it.txt
  conf/solr8-ol/conf/lang/hyphenations_ga.txt
  conf/solr8-ol/conf/lang/stemdict_nl.txt
  conf/solr8-ol/conf/lang/stoptags_ja.txt
  conf/solr8-ol/conf/lang/stopwords_ar.txt
  conf/solr8-ol/conf/lang/stopwords_bg.txt
  conf/solr8-ol/conf/lang/stopwords_ca.txt
  conf/solr8-ol/conf/lang/stopwords_cz.txt
  conf/solr8-ol/conf/lang/stopwords_da.txt
  conf/solr8-ol/conf/lang/stopwords_de.txt
  conf/solr8-ol/conf/lang/stopwords_el.txt
  conf/solr8-ol/conf/lang/stopwords_en.txt
  conf/solr8-ol/conf/lang/stopwords_es.txt
  conf/solr8-ol/conf/lang/stopwords_eu.txt
  conf/solr8-ol/conf/lang/stopwords_fa.txt
  conf/solr8-ol/conf/lang/stopwords_fi.txt
  conf/solr8-ol/conf/lang/stopwords_fr.txt
  conf/solr8-ol/conf/lang/stopwords_ga.txt
  conf/solr8-ol/conf/lang/stopwords_gl.txt
  conf/solr8-ol/conf/lang/stopwords_hi.txt
  conf/solr8-ol/conf/lang/stopwords_hu.txt
  conf/solr8-ol/conf/lang/stopwords_hy.txt
  conf/solr8-ol/conf/lang/stopwords_id.txt
  conf/solr8-ol/conf/lang/stopwords_it.txt
  conf/solr8-ol/conf/lang/stopwords_ja.txt
  conf/solr8-ol/conf/lang/stopwords_lv.txt
  conf/solr8-ol/conf/lang/stopwords_nl.txt
  conf/solr8-ol/conf/lang/stopwords_no.txt
  conf/solr8-ol/conf/lang/stopwords_pt.txt
  conf/solr8-ol/conf/lang/stopwords_ro.txt
  conf/solr8-ol/conf/lang/stopwords_ru.txt
  conf/solr8-ol/conf/lang/stopwords_sv.txt
  conf/solr8-ol/conf/lang/stopwords_th.txt
  conf/solr8-ol/conf/lang/stopwords_tr.txt
  conf/solr8-ol/conf/lang/userdict_ja.txt
  conf/solr8-ol/conf/managed-schema
  conf/solr8-ol/conf/params.json
  conf/solr8-ol/conf/protwords.txt
  conf/solr8-ol/conf/solrconfig.xml
  conf/solr8-ol/conf/stopwords.txt
  conf/solr8-ol/conf/synonyms.txt
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/docker-compose.yml
Labels: Priority: 1

#5426 Ratings and reading logs dumps
  scripts/dump-ratings.sh
  scripts/dump-reading-log.sh
Labels: Priority: 2

#5401 chg: usr: Remove OCAID from UI for book add/edit if user is not admin…
  openlibrary/templates/books/add.html
  openlibrary/templates/books/edit/edition.html
Labels: On testing.openlibrary.org

#5452 hotfix get_availability for key types != archive.org 'identifier'
  openlibrary/core/lending.py
Labels: On testing.openlibrary.org, Priority: 1

#5342 Refactor book notes modals
  bundlesize.config.json
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/macros/NotesModal.html
  openlibrary/macros/ObservationsModal.html
  openlibrary/macros/UserMetadata.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/Toast.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/plugins/openlibrary/js/patron-metadata/index.js
  openlibrary/templates/lists/widget.html
  openlibrary/templates/observations/stats_component.html
  static/css/components/toast.less
  static/css/less/colors.less
Labels: Needs: Feedback, On testing.openlibrary.org, Priority: 1, Theme: Book Notes

#5353 Create aggregate book notes and observations views
  bundlesize.config.json
  openlibrary/core/booknotes.py
  openlibrary/core/observations.py
  openlibrary/macros/NotesModal.html
  openlibrary/macros/ObservationsModal.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/books.html
  openlibrary/templates/account/notes.html
  openlibrary/templates/account/observations.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/metadata-form.less
  static/css/components/notes-view.less
  static/css/page-user.less
Labels: Theme: Book Notes

#5469 Update modal copy
  openlibrary/macros/NotesModal.html
  openlibrary/macros/ObservationsModal.html
Labels: Theme: Book Tags

#5468 Improve community book tags stats component
  openlibrary/templates/observations/stats_component.html
Labels: Theme: Book Tags

#5470 Update copy for "My Books" notes and observations pages
  openlibrary/templates/account/books.html
Labels: Theme: Book Tags

#5299 List + Solr work_key powered QueryCarousel
  openlibrary/macros/ListCarousel.html
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 2
