Repository internetarchive/openlibrary, pull requests merged in 2021-09, with the labels that each got.

#5570 Add string format validation to `i18n-messages validate`
  openlibrary/i18n/__init__.py
  openlibrary/i18n/test_po_files.py
  openlibrary/i18n/validators.py
Labels: Priority: 1, Theme: Internationalization

#5605 Add i18n validation tests to the makefile
  .github/workflows/python_tests.yml
  Makefile
  openlibrary/i18n/__init__.py
  scripts/i18n-messages
Labels: Theme: Internationalization

#5583 adding UNIQUE data str col to import_item table
  openlibrary/core/schema.py
Labels: Priority: 2

#4179 Setup a storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  static/css/base/common.less
  static/css/base/headings.less
  static/css/base/helpers-misc.less
  static/css/base/index.less
  static/css/components/buttonCta--js.less
  static/css/components/buttonCta.less
  stories/Button.stories.js
  stories/Introduction.stories.mdx
Labels: Priority: 2, On testing.openlibrary.org

#5647 Update i18n README
  openlibrary/i18n/README.md
Labels: Theme: Internationalization

#5645 Fix image uploads
  openlibrary/plugins/upstream/covers.py
Labels: On testing.openlibrary.org

#5599 Import DNB ids from MARC records
  openlibrary/catalog/marc/marc_binary.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_marc_binary.py
  openlibrary/templates/history/sources.html
Labels: Priority: 1, Theme: MARC records

#5598 Stop MARC counting as mIRC script on github
  .gitattributes
Labels: Priority: 1, Theme: Development

#5397 Make staging/testing serve norobots.txt!
  openlibrary/plugins/openlibrary/code.py
Labels: On testing.openlibrary.org

#5600 Author names should ignore diacritics in solr
  conf/solr/conf/managed-schema
  conf/solr/conf/solrconfig.xml
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 2

#5568 Solr updater work cleanup
  conf/solr/conf/solrconfig.xml
  openlibrary/solr/solrdump.py
  openlibrary/solr/types.py
  openlibrary/solr/types_generator.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_types_generator.py
  openlibrary/tests/solr/test_update_work.py
  openlibrary/utils/__init__.py
  scripts/new-solr-updater.py
  scripts/solr_builder/solr_builder/solr_builder.py
Labels: Priority: 2, Needs: Special Deploy

#5656 Move oldump.sh from olsystem in scripts
  scripts/dev-instance/oldump.sh
  scripts/oldump.sh
Labels: Priority: 1

#5672 Extract new i18n messages
  openlibrary/i18n/messages.pot
Labels: Theme: Internationalization

#5679 Fix XSS attack with dev_host url parameter
  openlibrary/plugins/upstream/utils.py
Labels: Priority: 0, Patch Deployed

#5678 Remove transform from cover image
  static/css/components/work.less
Labels: On testing.openlibrary.org

#5652 LOC 2019 MARC data source
  openlibrary/templates/history/sources.html
Labels: Theme: MARC records

#5667 Autofill login for dev instances
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/login.html
Labels: On testing.openlibrary.org

#5666 Fix broken graph on `/admin/imports`
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/templates/admin/imports.html
Labels: On testing.openlibrary.org

#5683 Fix Sentry "compose ia url" error noise
  openlibrary/core/lending.py
Labels: On testing.openlibrary.org

#5694 Fix dangling ref to run_solr_search signature breaking /authors and subjects search
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 0

#5515 Fix uploading covers on local environment
  conf/openlibrary.yml
  openlibrary/core/helpers.py
  openlibrary/core/models.py
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/covers/change.html
  openlibrary/templates/diff.html
  openlibrary/tests/core/test_helpers.py
Labels: Needs: Submitter Input

#5689 Update to Postgres 13
  docker-compose.override.yml
  docker/ol-db-init.sh
Labels: Lead: @cdrini, Needs: Special Deploy

#5704 unbreaks ia imports (items submitted as ia_id)
  openlibrary/core/imports.py
Labels: Priority: 1
