Repository internetarchive/openlibrary, pull requests merged in 2021-05, with the labels that each got.

#5044 Library Explorer accessibility/Enable keyboard navigation on floating controls panel
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
Labels: On testing.openlibrary.org

#5054 Correct pagination generation
  openlibrary/macros/Pager.html
  openlibrary/plugins/openlibrary/code.py
Labels: Needs: Review, On testing.openlibrary.org

#4998 Exempt trusted-users from recaptcha
  openlibrary/plugins/upstream/addbook.py
Labels: reCaptcha

#5129 Fix update_work bug with solr8
  openlibrary/solr/update_work.py
Labels: Patch Deployed, Priority: 1

#5106 Use the specific Cite book Wikipedia template for citations
  openlibrary/templates/lib/history.html
Labels: On testing.openlibrary.org

#5112 Add may collection to homepage
  openlibrary/templates/home/index.html
Labels: On testing.openlibrary.org

#5124 Improve i18n support on templates
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edit/excerpts.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/covers/book_cover.html
  openlibrary/templates/covers/book_cover_single_edition.html
  openlibrary/templates/covers/book_cover_small.html
  openlibrary/templates/covers/book_cover_work.html
  openlibrary/templates/covers/change.html
  openlibrary/templates/lists/preview.html
  openlibrary/templates/lists/snippet.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/search/advancedsearch.html
  openlibrary/templates/search/lists.html
Labels: On testing.openlibrary.org

#5139 Observation statistics component improvements
  openlibrary/templates/observations/stats_component.html
  static/css/components/observationStats.less
Labels: Theme: Book Notes

#5110 Fix set div padding to 0 to remove stats graph underline tail
  static/css/components/home.less
Labels: On testing.openlibrary.org

#5140 Fix 092 DDC shelf pollution
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
Labels: On testing.openlibrary.org, Priority: 1

#5174 fixing search inside redirects
  openlibrary/plugins/upstream/borrow.py
Labels: On testing.openlibrary.org, Patch Deployed, Priority: 1

#5176 Updating "Unavailable" Link Colors to "Burnt Sienna"
  static/css/components/buttonCta--js.less
  static/css/components/buttonCta.less
  static/css/less/colors.less
Labels: On testing.openlibrary.org

#4683 Refactor sort options on search and author page
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
  static/css/legacy.less
Labels: On testing.openlibrary.org

#2761 Upgrade jquery and get rid of jquery migrate
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/admin.js
  openlibrary/plugins/openlibrary/js/goodreads_import.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/merge/authors.html
  package-lock.json
  package.json
  vendor/js/colorbox/1.5.14.js
  vendor/js/jquery-migrate/jquery-migrate-1.2.1.min.js
  vendor/js/jquery/jquery-1.11.0.min.js
Labels: On testing.openlibrary.org

#5035 Fix Edit Toolbar UI for Mobile View
  static/css/components/edit-toolbar.less
Labels: On testing.openlibrary.org

#5109 Fix show less facet function on search page
  openlibrary/plugins/openlibrary/js/search.js
Labels: Needs: Unit test

#5192 Escape forward slashes before sending to solr
  openlibrary/plugins/worksearch/code.py
Labels: On testing.openlibrary.org

#5209 [solr8] Tweak dismax params for all search
  conf/openlibrary.yml
  openlibrary/plugins/worksearch/code.py
Labels: On testing.openlibrary.org

#5199 jQuery 3 follow ups: fix merge page and subjects error
  openlibrary/plugins/openlibrary/js/jquery.customFade.js
  openlibrary/templates/type/author/view.html
Labels: On testing.openlibrary.org, Priority: 1

#4926 changed max-width of containers from max 960px to 1200px
  static/css/components/chart.less
  static/css/components/footer.less
  static/css/components/header-bar.less
  static/css/components/list-entry.less
  static/css/components/work.less
  static/css/layout/v2.less
  static/css/legacy.less
Labels: On testing.openlibrary.org

#5214 Refactor: Dissolve jquery.customFade.js
  openlibrary/plugins/openlibrary/js/graphs/plot.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jquery.customFade.js
  openlibrary/templates/books/edit/edition.html
Labels: On testing.openlibrary.org
