Repository internetarchive/openlibrary, pull requests merged in 2022-02, with the labels that each got.

#5617 Allow bot changes to be indexed
  docker/ol-solr-updater-start.sh
Labels: Priority: 1, Patch Deployed

#6049 P1 book page performance fix
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1, On testing.openlibrary.org

#6060 Add more profiling to book page components
  openlibrary/macros/databarWork.html
  openlibrary/templates/type/edition/view.html
Labels: Priority: 2

#5957 Async star ratings
  openlibrary/macros/StarRatings.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/Toast.js
  openlibrary/plugins/openlibrary/js/handlers/index.js
  openlibrary/plugins/openlibrary/js/index.js
Labels: Priority: 1

#6035 Add Excluded Works & Authors to List Exports
  openlibrary/core/lists/model.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/lists/export_as_bibtex.html
  openlibrary/templates/lists/export_as_html.html
Labels: Priority: 2

#5783 Migrating partner lib from archive.org to Openlibrary APIs
  openlibrary/plugins/openlibrary/js/partner_ol_lib.js
Labels: Priority: 2

#6046 Improve Add Covers as Comment
  static/css/legacy.less
Labels: Priority: 2, Needs: Submitter Input

#6082 Create custom JSON encoder for Nothing values
  openlibrary/core/formats.py
  openlibrary/core/helpers.py
Labels: On testing.openlibrary.org

#6115 adds privacy column to bookshelves_books
  openlibrary/core/schema.sql
Labels: Priority: 2, Patch Deployed

#6014 Adding trending view
  openlibrary/core/bookshelves.py
  openlibrary/templates/stats/readinglog.html
  openlibrary/templates/trending.html
  openlibrary/utils/dateutil.py
  openlibrary/views/loanstats.py
  static/css/base/common.less
Labels: Priority: 1, On testing.openlibrary.org

#6137 fix books page get_sorted_editions w/o solr
  openlibrary/plugins/upstream/models.py
Labels: Priority: 0, Patch Deployed

#6078 Disable ground-truth availability checks
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/type/edition/view.html
Labels: Patch Deployed, On testing.openlibrary.org

#6142 fix selected edition availability
  openlibrary/templates/type/edition/view.html
Labels: Patch Deployed

#6138 Add OpenStax to trusted book providers
  openlibrary/book_providers.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/book_providers/openstax_download_options.html
  openlibrary/templates/book_providers/openstax_read_button.html
Labels: Priority: 1, On testing.openlibrary.org

#6148 Update carousel
  openlibrary/templates/home/welcome.html
  static/images/onboarding/fulltext.png
Labels: On testing.openlibrary.org

#6135 Always render add edition link
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
Labels: Priority: 1, Needs: Testing

#6158 Datadumps: logger is blocking the cron job
  scripts/oldump.sh
Labels: Module: Data dumps

#6163 Fix shebang lines in scripts/oldump.py and scripts/sitemaps/sitemaps.py
  scripts/oldump.py
  scripts/oldump.sh
  scripts/sitemaps/sitemap.py
Labels: Module: Data dumps

#6174 Fix availability explicitly set to None for some reason
  openlibrary/book_providers.py
Labels: Priority: 1, Needs: Submitter Input, On testing.openlibrary.org

#6177 Fix high volume sentry errors
  openlibrary/core/lending.py
  openlibrary/i18n/pl/messages.po
  openlibrary/templates/books/RelatedWorksCarousel.html
Labels: Priority: 0, On testing.openlibrary.org

#6178 Profiling updates
  openlibrary/templates/account/books.html
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#6185 Correct waitlist LoanStatus.html error
  openlibrary/macros/LoanStatus.html
Labels: On testing.openlibrary.org

#6173 Adding language support for Chinese i18n
  openlibrary/i18n/zh/messages.po
Labels: Priority: 1

#6199 Reading Log json export breaks if Author is str key, not dict
  openlibrary/plugins/upstream/mybooks.py
Labels: On ol-mek (http://ol-dev1.us.archive.org:1337)

#6193 Adds Trending to Browse Nav menu
  openlibrary/templates/lib/nav_head.html
Labels: Priority: 3

#6207 Add zh to Makefile validation list
  Makefile
Labels: Priority: 1
