Repository internetarchive/openlibrary, pull requests merged in 2022-08, with the labels that each got.

#6815 Prevent admin bar from rendering for `librarians`
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#6819 Update EditionNavBar.html
  openlibrary/macros/EditionNavBar.html
Labels: Priority: 0, Patch Deployed

#6807 librarian merge queue fixes
  openlibrary/plugins/upstream/edits.py
  openlibrary/templates/merge_queue/merge_queue.html
Labels: Priority: 2, On testing.openlibrary.org

#6810 adds pager to bottom of trending pages
  openlibrary/templates/trending.html
  openlibrary/views/loanstats.py
Labels: On testing.openlibrary.org

#6820 Catalog cleanup
  openlibrary/catalog/README
  openlibrary/catalog/README.md
  openlibrary/catalog/amazon/__init__.py
  openlibrary/catalog/amazon/add_covers.py
  openlibrary/catalog/amazon/amazon_to_arc.py
  openlibrary/catalog/amazon/arc_index.py
  openlibrary/catalog/amazon/arc_view.py
  openlibrary/catalog/amazon/crawl.py
  openlibrary/catalog/amazon/extract_amazon_fields.py
  openlibrary/catalog/amazon/import.py
  openlibrary/catalog/amazon/list_done.py
  openlibrary/catalog/amazon/load_merge.py
  openlibrary/catalog/amazon/other_editions.py
  openlibrary/catalog/amazon/parse.py
  openlibrary/catalog/get_ia.py
  openlibrary/catalog/importer/__init__.py
  openlibrary/catalog/importer/db_read.py
  openlibrary/catalog/importer/olwrite.py
  openlibrary/catalog/lang.py
  openlibrary/catalog/marc/__init__.py
  openlibrary/catalog/marc/build_record.py
  openlibrary/catalog/marc/cmdline.py
  openlibrary/catalog/marc/fast_parse.py
  openlibrary/catalog/marc/lang.py
  openlibrary/catalog/marc/marc_subject.py
  openlibrary/catalog/marc/read_toc.py
  openlibrary/catalog/marc/show_records.py
  openlibrary/catalog/merge/amazon.py
  openlibrary/catalog/merge/build_db.py
  openlibrary/catalog/merge/index.py
  openlibrary/catalog/merge/load_from_json.py
  openlibrary/catalog/merge/merge_bot/__init__.py
  openlibrary/catalog/merge/merge_bot/bot.py
  openlibrary/catalog/merge/merge_bot/merge.py
  openlibrary/catalog/merge/merge_index.py
  openlibrary/catalog/merge/schema1.sql
  openlibrary/catalog/merge/schema2.sql
  openlibrary/catalog/merge/test_amazon.py
  openlibrary/catalog/olwrite.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/catalog/utils/edit.py
  scripts/run_doctests.sh
  scripts/view_marc.py
Labels: Type: Refactor/Clean-up

#6701 Import Affiliate Data
  docker-compose.production.yml
  scripts/affiliate-server
Labels: Affects: Partners, Module: Import, Priority: 2, Needs: Submitter Input, Theme: Affiliate API

#6840 Fix books with ia ids not indexed in solr
  openlibrary/solr/update_work.py
Labels: Priority: 1, Patch Deployed

#6839 Add book note and star rating info to `/stats`
  openlibrary/core/booknotes.py
  openlibrary/core/ratings.py
  openlibrary/templates/admin/index.html
  openlibrary/views/loanstats.py
Labels: Needs: Special Deploy

#6837 docker/Dockerfile.olbase: Upgrade npm as we do with pip
  docker/Dockerfile.olbase
Labels: Module: JavaScript, javascript

#6794 adding language support for portuguese i18n
  openlibrary/i18n/pt/messages.po
Labels: Priority: 1

#6827 Add profiling to "My Books" sidebar
  openlibrary/templates/account/books.html
  openlibrary/templates/account/sidebar.html
Labels: Priority: 1

#6828 Add analytics to "My Books" sidebar links
  openlibrary/templates/account/sidebar.html
Labels: Priority: 1

#6834 Add merge request submitters to patron anonymization process
  openlibrary/accounts/model.py
  openlibrary/core/edits.py
  openlibrary/plugins/admin/code.py
  openlibrary/tests/core/test_db.py
Labels: Priority: 2

#6795 Adds async list loading to reading log droppers
  bundlesize.config.json
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/lists/active_lists.html
  openlibrary/templates/lists/dropper_lists.html
  openlibrary/templates/lists/list_overview.html
  openlibrary/templates/lists/widget.html
  static/css/components/listLists.less
Labels: Priority: 1, On testing.openlibrary.org

#6586 Merge UI fixes and enhancements
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/ExcerptsTable.vue
  openlibrary/components/MergeUI/MergeRow.vue
  openlibrary/components/MergeUI/MergeRowEditionField.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/MergeUI/MergeRowJointField.vue
  openlibrary/components/MergeUI/MergeRowReferencesField.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/TextDiff.vue
  openlibrary/components/MergeUI/utils.js
Labels: Priority: 1, On testing.openlibrary.org

#6806 simpify resolve redirects, don't require max_limit
  openlibrary/core/models.py
Labels: Priority: 1, Needs: Submitter Input

#6657 Dead code: openlibrary.plugins.upstream.utils.radio_list()
  openlibrary/plugins/upstream/utils.py
Labels: Priority: 3, Affects: Developers

#6870 Adding Main Banner to Mobile Book Page Surveys (Mazes)
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/site/body.html
  static/css/components/page-banner.less
Labels: Priority: 0, On testing.openlibrary.org

#6867 p0-lending-sentry-error-handling
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
Labels: Priority: 0, Patch Deployed

#6886 Fetch `User`'s lists only if `User` exists
  openlibrary/templates/lists/widget.html
Labels: Priority: 0, Patch Deployed

#6861 6558/bugfix/fix 50 edition merging bug
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/utils.js
Labels: Priority: 1

#6862 Fix for 6830. Generate a WorldCat link even if the only ISBN is an invalid ISBN 10
  openlibrary/macros/databarWork.html
  openlibrary/templates/books/edition-sort.html
Labels: On testing.openlibrary.org

#6894 Make solr next default now deployed
  docker-compose.production.yml
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/solr/update_work.py
Labels: On testing.openlibrary.org

#6871 Author merge requests
  openlibrary/components/MergeUI/utils.js
  openlibrary/core/edits.py
  openlibrary/core/schema.sql
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/merge-request-table/MergeRequestService.js
  openlibrary/plugins/openlibrary/js/merge-request-table/index.js
  openlibrary/plugins/openlibrary/js/merge.js
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/edits.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/templates/merge/authors.html
  openlibrary/templates/merge_queue/merge_queue.html
  openlibrary/templates/type/author/view.html
  static/css/components/merge-form.less
Labels: Priority: 1, On testing.openlibrary.org

#6887 Make edition table covers loading=lazy
  openlibrary/templates/books/edition-sort.html
Labels: On testing.openlibrary.org

#6907 Fix reading log is rendered incorrectly in Ukranian and German (#6768)
  static/css/components/mybooks-menu.less
Labels: On testing.openlibrary.org

#6860 My Books page interim Mobile Navigation Fixes #6858
  static/css/components/mybooks-menu.less
Labels: Priority: 1, On testing.openlibrary.org

#6909 rm book page maze banner
  openlibrary/templates/site/body.html
Labels: Priority: 1

#6890 oldump.sh: Use log, not echo
  openlibrary/data/dump.py
  scripts/oldump.sh
Labels: Affects: Admin/Maintenance, Priority: 1, Module: Data dumps

#6899 Fix handling for edition records in merge requests
  openlibrary/components/MergeUI/MergeRowReferencesField.vue
  openlibrary/components/MergeUI/MergeTable.vue
Labels: Priority: 2

#6679 Add Google Signin button to login page
  openlibrary/accounts/model.py
  openlibrary/templates/account/create.html
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/login.html
  static/css/base/helpers-misc.less
  static/css/page-user.less
Labels: On testing.openlibrary.org

#6813 Normalize LCCN
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/plugins/upstream/models.py
  openlibrary/utils/lccn.py
  openlibrary/utils/tests/test_lccn.py
Labels: Priority: 1, Affects: Data
