Repository internetarchive/openlibrary, pull requests merged in 2022-03, with the labels that each got.

#6208 Remove reference to `page` in Daisy template
  openlibrary/macros/daisy.html
Labels: On testing.openlibrary.org

#6201 adding headers for IA ES
  openlibrary/core/lending.py
Labels: Priority: 1

#6215 Update GitHub Actions
  .github/workflows/codegen_api_docs.yml
  .github/workflows/deploy_storybook.yml
  .github/workflows/javascript_tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python_tests.yml
Labels: Theme: Testing

#5087 Dropdown Menu for Language
  bundlesize.config.json
  openlibrary/templates/site/alert.html
  package.json
  static/css/components/iaBar--tablet.less
  static/css/components/iaBar.less
  static/css/components/language.less
  static/css/legacy.less
  static/css/page-barcodescanner.less
  static/css/page-book.less
  static/css/page-home.less
  static/css/page-subject.less
  static/images/language-icon.svg
Labels: Priority: 3, Needs: Submitter Input

#6047 Encode Nothing values for memcache
  openlibrary/core/cache.py
Labels: Priority: 2, On testing.openlibrary.org

#6221 Fix Language Dropdown Menu CSS being applied to other menus
  static/css/components/language.less
Labels: Priority: 0, On testing.openlibrary.org

#6225 Fix EACCES errors with package*.json
  docker/Dockerfile.olbase
  docker/Dockerfile.oldev
Labels: On testing.openlibrary.org

#6247 phase 2 editions table perf
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#6073 Small cleanups to List models
  openlibrary/core/lists/model.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/type/list/exports.html
  openlibrary/tests/core/test_lists_model.py
Labels: Priority: 1, Theme: Lists, On testing.openlibrary.org

#6157 query parameters are included in the url returned by report a problem
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/lib/nav_foot.html
Labels: Priority: 2, On testing.openlibrary.org

#6251 Show editions table w/o limit if < 10 editions
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1, On testing.openlibrary.org

#6038 Use SolrProcessor.get_pub_year to get edition years
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
Labels: Priority: 1

#6261 rm dupe work first published year, title, subtitle
  openlibrary/templates/type/edition/view.html
Labels: Integration PR

#6265 Moving subjects up, show more, nojs
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/readmore.js
  openlibrary/templates/site/head.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
  static/css/components/work.less
Labels: Integration PR

#6253 fix oldumps
  scripts/oldump.sh
Labels: Priority: 1

#6270 rm collection checks for Bulk Availability changes
  openlibrary/core/lending.py
Labels: Priority: 0, Patch Deployed

#6274 Remove unneeded declaration
  openlibrary/templates/type/edition/view.html
Labels: Priority: 0, On testing.openlibrary.org

#6275 hotfix for editions table get_sorted_editions
  openlibrary/templates/type/edition/view.html
Labels: Priority: 0, Patch Deployed

#6266 Book Page: Deduplicate work description / Remove work-level classifications
  openlibrary/templates/type/edition/view.html
Labels: Integration PR

#6278 Update databarWork.html
  openlibrary/macros/databarWork.html
Labels: Priority: 0, Patch Deployed

#6282 Write dump message to sys.stderr
  scripts/oldump.py
Labels: Module: Data dumps

#6022 Fix "Add Book" when record matches w/ multiple existing records
  openlibrary/templates/books/check.html
Labels: Priority: 1, Needs: Feedback, On testing.openlibrary.org, Needs: Response

#6295 Disable "auto focus/scroll" on edit page
  openlibrary/plugins/openlibrary/js/edit.js
Labels: On testing.openlibrary.org

#6301 Update ia.py
  openlibrary/core/ia.py
Labels: Priority: 1

#6303 Fixes CTA + lending v2 fields
  openlibrary/core/lending.py
  openlibrary/macros/BookPreview.html
  openlibrary/macros/LoanStatus.html
Labels: Priority: 0, Patch Deployed, On testing.openlibrary.org

#6299 Add visual feedback for subject clamp
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/readmore.js
  static/css/components/work.less
Labels: Integration PR

#6277 Create details component for books page
  openlibrary/macros/EditionNavBar.html
  openlibrary/templates/type/edition/view.html
Labels: Priority: 2, Integration PR

#6286 Move books page list section
  openlibrary/templates/type/edition/view.html
  static/css/components/work.less
Labels: Priority: 2, Integration PR

#6276 Add book identifiers above the fold for librarians
  openlibrary/templates/type/edition/view.html
  static/css/components/work.less
Labels: Priority: 2, Integration PR

#6289 Small import improvements
  openlibrary/catalog/add_book/__init__.py
Labels: Module: Import

#6320 Convert Python type comments to type hints
  openlibrary/coverstore/server.py
  tests/test_docker_compose.py
Labels: Module: Python, python

#6034 Fixed padding of search/subject and search/author buttons
  static/css/components/form.olform.less
Labels: Needs: Submitter Input

#6292 Fix books page sticky navbar for mobile views
  static/css/components/work.less
Labels: Priority: 1

#6329 Type hints for openlibrary/utils/sentry.py
  openlibrary/utils/sentry.py
Labels: Module: Python, python

#6323 Books page integration
  openlibrary/macros/EditionNavBar.html
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/readmore.js
  openlibrary/templates/site/head.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/work/editions_datatable.html
  static/css/components/work.less
Labels: On testing.openlibrary.org

#6319 Data Dumps: Add Sentry error logging
  conf/openlibrary.yml
  openlibrary/data/dump.py
  scripts/oldump.sh
Labels: Module: Data dumps

#6337 Add pytest to local env PATH
  docker/Dockerfile.oldev
Labels: Priority: 1

#6334 Show publish places in book details
  openlibrary/templates/type/edition/publisher_line.html
  openlibrary/templates/type/edition/view.html
Labels: Priority: 2

#6325 Add subject clamping conditionally
  bundlesize.config.json
  openlibrary/macros/SubjectTags.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/readmore.js
Labels: Priority: 1

#6284 Re-enable non-book filtering on importbot non-MARC imports
  scripts/partner_batch_imports.py
  scripts/tests/test_partner_batch_imports.py
Labels: Module: Import, Priority: 2

#6283 importbot importing books that are of bad quality
  scripts/partner_batch_imports.py
Labels: Priority: 2

#6342 Ensure requested work edition fetched
  openlibrary/book_providers.py
  openlibrary/plugins/upstream/models.py
  openlibrary/templates/type/edition/view.html
Labels: Priority: 0, On testing.openlibrary.org

#6341 Render edition lists only on edition pages
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org
