Repository internetarchive/openlibrary, pull requests merged in 2022-12, with the labels that each got.

#7210 Parallel process importbot imports to increase throughput + bug fixes
  openlibrary/catalog/add_book/__init__.py
  openlibrary/core/imports.py
  scripts/manage-imports.py
  scripts/promise_batch_imports.py
Labels: Priority: 0, Patch Deployed

#7225 Fix broken `stats/readinglog` page
  openlibrary/templates/stats/readinglog.html
Labels: On testing.openlibrary.org

#7227 Remove scripts/flake8-diff.sh
  .flake8
  .github/workflows/python_tests.yml
  .pre-commit-config.yaml
  Makefile
  openlibrary/admin/numbers.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/core/lending.py
  openlibrary/plugins/importapi/import_edition_builder.py
  openlibrary/plugins/importapi/metaxml_to_json.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/utils/olcompress.py
  requirements_test.txt
  scripts/flake8-diff.sh
  scripts/sync
Labels: Affects: Admin/Maintenance, Module: Python, python

#7194 Fix various editions search bug + make edition search the default
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/query_utils.py
  openlibrary/solr/update_edition.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_query_utils.py
  openlibrary/tests/solr/test_update_work.py
Labels: Priority: 1, Patch Deployed

#7226 Check-in from "Already Read" shelf
  openlibrary/macros/ReadingLogButton.html
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lists/widget.html
  static/css/legacy.less
Labels: On testing.openlibrary.org

#7125 Clicking Book Page Star Ratings summary goes to ratings section
  openlibrary/macros/StarRatings.html
  openlibrary/macros/StarRatingsStats.html
  static/css/components/rating-form.less
Labels: Priority: 2, Needs: Submitter Input

#7230 Fixing py3 cover archiver + extending cluster allowlist IDs
  openlibrary/coverstore/README.md
  openlibrary/coverstore/archive.py
  openlibrary/coverstore/code.py
Labels: Priority: 1

#7156 Don't show the reading log search when a shelf has < 1 books.
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/templates/account/reading_log.html
  tests/unit/js/SearchBar.test.js
Labels: Priority: 1

#7255 Re-order facets
  openlibrary/templates/work_search.html
Labels: On testing.openlibrary.org

#7260 move covers_0008 parts _10 to _23 -> ia
  openlibrary/coverstore/code.py
Labels: Priority: 1, Patch Deployed

#7232 Upgrade to Python 3.11
  .github/workflows/codegen_api_docs.yml
  .github/workflows/python_tests.yml
  .pre-commit-config.yaml
  docker/Dockerfile.olbase
  scripts/oldump.py
  scripts/solr_builder/solr_builder/fn_to_cli.py
Labels: Affects: Admin/Maintenance, Module: Docker, Module: Python, python

#7286 Rm unused search templates
  openlibrary/plugins/openlibrary/js/ol.js
  openlibrary/templates/lib/search_foot.html
  openlibrary/templates/lib/search_head.html
  static/css/legacy.less
Labels: On testing.openlibrary.org

#7287 Make has_fulltext user pd-status aware
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/works.py
Labels: On testing.openlibrary.org

#7213 Use Python assignment expressions
  openlibrary/accounts/model.py
  openlibrary/admin/numbers.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/marc/get_subjects.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/merge/merge.py
  openlibrary/catalog/merge/merge_marc.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/core/admin.py
  openlibrary/core/cache.py
  openlibrary/core/edits.py
  openlibrary/core/helpers.py
  openlibrary/core/ia.py
  openlibrary/core/lending.py
  openlibrary/core/lists/engine.py
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/core/vendors.py
  openlibrary/core/waitinglist.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/oldb.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/olbase/events.py
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/books/code.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/borrow_home.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/openlibrary/support.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/adapter.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/covers.py
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/records/functions.py
  openlibrary/utils/lccn.py
  openlibrary/views/showmarc.py
  scripts/manage-imports.py
  scripts/sitemaps/sitemap.py
Labels: Priority: 1, On testing.openlibrary.org

#7141 checking ISBN value when manually adding a new book
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/templates/books/add.html
Labels: Priority: 2, On testing.openlibrary.org

#7289 Make author pages used edition-aware data
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 0

#7291 Stop clobbering edition_id when changing shelves
  openlibrary/templates/account/reading_log.html
Labels: Priority: 1

#7299 pre-commit: Add auto-walrus to enforce Python assignment expressions
  .pre-commit-config.yaml
  openlibrary/solr/process_stats.py
  openlibrary/solr/update_work.py
Labels: On testing.openlibrary.org

#7212 Improve check-in event validation
  openlibrary/core/bookshelves_events.py
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/tests/test_checkins.py
Labels: Priority: 1

#7053 My Books summary desktop redesign
  openlibrary/macros/FormatExpiry.html
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/books.html
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/lib/nav_head.html
  static/css/base/helpers-common.less
  static/css/components/buttonBtn.less
  static/css/components/carousel.less
Labels: Priority: 1, On testing.openlibrary.org

#7206 add promise import instructions + error handling
  scripts/promise_batch_imports.py
Labels: Priority: 1

#7279 Add yearly reading goal form and progress UI
  openlibrary/core/bookshelves_events.py
  openlibrary/core/schema.sql
  openlibrary/core/yearly_reading_goals.py
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/upstream/checkins.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/check_ins/check_in_form.html
  openlibrary/templates/check_ins/check_in_prompt.html
  openlibrary/templates/check_ins/reading_goal_form.html
  openlibrary/templates/check_ins/reading_goal_progress.html
  static/css/components/buttonBtn.less
  static/css/components/check-in.less
Labels: Priority: 1, On testing.openlibrary.org

#7341 git mv scripts/affiliate-server scripts/affiliate_server.py
  docker/ol-affiliate-server-start.sh
  scripts/affiliate_server.py
Labels: Affects: Partners, Theme: Affiliate API

#7297 Restyle/omni bar
  bundlesize.config.json
  static/css/components/work.less
Labels: Priority: 2, On testing.openlibrary.org

#7182 Fix autodetect of identifiers
  openlibrary/components/AuthorIdentifiers.vue
Labels: Priority: 2, On testing.openlibrary.org

#7294 Internationalize add book ISBN error messages
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/templates/books/add.html
Labels: On testing.openlibrary.org

#7090 Deal with query param['q'] being only whitespace
  openlibrary/plugins/worksearch/code.py
Labels: Module: Solr
