Repository internetarchive/openlibrary, pull requests merged in 2022-07, with the labels that each got.

#6688 Unified Search Navigation
  openlibrary/macros/SearchNavigation.html
  openlibrary/templates/search/advancedsearch.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/inside.html
  openlibrary/templates/search/lists.html
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/work_search.html
  static/css/components/work.less
  static/css/legacy.less
Labels: Priority: 2, On testing.openlibrary.org

#6621 Enhanced Reading Log Exports
  openlibrary/core/bookshelves.py
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1, Theme: Reading Log, export, State: Blocked, Module: My Account Page

#6653 Optimize generate_list_overview()
  openlibrary/plugins/upstream/account.py
  openlibrary/utils/dateutil.py
Labels: export, Priority: 2, Needs: Submitter Input

#6741 Fix waitlist CTA button styling
  openlibrary/macros/LoanStatus.html
Labels: On testing.openlibrary.org

#6730 MARC languages: simplify code and add another n/a lang to avoid
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_input/diebrokeradical400poll_meta.mrc
  openlibrary/catalog/marc/tests/test_data/xml_expect/diebrokeradical400poll_marc.xml
  openlibrary/catalog/marc/tests/test_data/xml_input/diebrokeradical400poll_marc.xml
  openlibrary/catalog/marc/tests/test_data/xml_input/diebrokeradical400poll_meta.xml
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/tests/catalog/test_get_ia.py
Labels: Theme: MARC records

#6667 resolve redirects bulk
  openlibrary/core/models.py
  openlibrary/plugins/admin/code.py
Labels: Priority: 1

#6756 Update nav_head.html
  openlibrary/templates/lib/nav_head.html
Labels: Priority: 1, Patch Deployed

#6760 Don't fetch facets in /search.json requests
  openlibrary/plugins/openlibrary/js/SearchBar.js
  openlibrary/plugins/worksearch/code.py
  static/opensearch.xml
Labels: On testing.openlibrary.org

#6119 Editions in Solr -- Indexing Piece
  Makefile
  conf/solr/conf/managed-schema
  docker-compose.override.yml
  openlibrary/solr/solr_types.py
  openlibrary/solr/update_edition.py
  openlibrary/solr/update_work.py
  openlibrary/utils/lcc.py
  scripts/solr_builder/Jenkinsfile
Labels: Priority: 1

#6770 fixing search nav queries
  openlibrary/macros/SearchNavigation.html
  openlibrary/templates/authors/index.html
  openlibrary/templates/search/authors.html
Labels: Priority: 1, On testing.openlibrary.org

#6771 fixing revert + block flow
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/people/view.html
Labels: Priority: 2, On testing.openlibrary.org

#6722 Trending Carousel missing default bookcovers
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/templates/books/custom_carousel.html
Labels: Priority: 2, On testing.openlibrary.org

#6670 fix/make it possible to add isbn10 with hypens in editing screen
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/openlibrary/js/isbnOverride.js
  openlibrary/plugins/openlibrary/js/jquery.repeat.js
  openlibrary/templates/books/edit/edition.html
  tests/unit/js/editionsEditPage.test.js
  tests/unit/js/html-test-data.js
Labels: Priority: 2, On testing.openlibrary.org

#6773 Change name of super librarian usergroup
  conf/openlibrary.yml
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/merge_queue/merge_queue.html
  openlibrary/templates/site/body.html
  scripts/dev-instance/dev_db.pg_dump
Labels: Priority: 1

#6776 Delay merge request creation for super librarians (and small tweaks)
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/utils.js
  openlibrary/core/edits.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/edits.py
Labels: Priority: 1, On testing.openlibrary.org

#6784 Added a second pager
  openlibrary/templates/merge_queue/merge_queue.html
Labels: On testing.openlibrary.org

#6786 Prevent serving unneeded JS on many pages
  openlibrary/plugins/openlibrary/js/index.js
Labels: On testing.openlibrary.org

#6777 Changing '0 Reviews' to just 'Reviews'
  openlibrary/macros/EditionNavBar.html
Labels: On testing.openlibrary.org

#6785 Changed order of entries
  openlibrary/plugins/upstream/edits.py
Labels: On testing.openlibrary.org

#6787 Adds unstyled date created to merges table
  openlibrary/templates/merge_queue/merge_queue.html
Labels: On testing.openlibrary.org

#6791 Check for work before rendering modals
  openlibrary/templates/type/edition/modal_links.html
Labels: On testing.openlibrary.org

#6793 Prevent long titles from overflowing results box
  static/css/components/search-result-item.less
  static/css/legacy.less
Labels: On testing.openlibrary.org

#6766 re-architect main nav
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar--desktop.less
  static/css/components/header-bar--tablet.less
  static/css/components/header-bar.less
  static/css/components/page-banner.less
Labels: Priority: 2, On testing.openlibrary.org
