Repository internetarchive/openlibrary, pull requests merged in 2022-04, with the labels that each got.

#6354 Handle newlines in tag editing
  openlibrary/plugins/upstream/addbook.py
Labels: On testing.openlibrary.org

#6317 Update language support for Chinese i18n
  openlibrary/i18n/test_po_files.py
  openlibrary/i18n/zh/messages.po
Labels: Priority: 2

#6364 Allow dashes in list URL pattern
  openlibrary/core/processors/readableurls.py
Labels: On testing.openlibrary.org

#6350 Fix Sentry i18n errors
  openlibrary/i18n/cs/messages.po
  openlibrary/i18n/pl/messages.po
  openlibrary/templates/account/verify/activated.html
Labels: On testing.openlibrary.org

#6351 Fix for adding identifiers, correct modified / matched status
  openlibrary/catalog/add_book/__init__.py
Labels: Module: Import

#6347 Fix `readonline_carousel()` if any book has no `is_readable` attribute
  openlibrary/plugins/openlibrary/home.py
Labels: Module: Carousels

#6368 Rename dump tests
  openlibrary/tests/data/test_dump.py
Labels: Module: Data dumps

#6357 Make work id and author id fields accept more types of ids
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/upstream/addbook.py
  openlibrary/utils/__init__.py
Labels: On testing.openlibrary.org

#6365 Remove some unused functions in dump.py
  openlibrary/data/dump.py
Labels: Needs: Submitter Input

#6413 Fix XSS in author name rendering
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/type/edition/view.html
Labels: Priority: 0, Patch Deployed

#6414 Fix lang can sometimes be falsey
  openlibrary/plugins/upstream/utils.py
Labels: Patch Deployed

#6418 Fix the 'When no star ratings on book, UI looks weird #6411' bug
  openlibrary/macros/StarRatingsStats.html
  static/css/components/readerStats.less
Labels: On testing.openlibrary.org

#6117 API to resolve redirects for single work
  openlibrary/core/booknotes.py
  openlibrary/core/bookshelves.py
  openlibrary/core/db.py
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/core/ratings.py
  openlibrary/plugins/admin/code.py
  openlibrary/tests/core/test_db.py
  openlibrary/tests/core/test_models.py
Labels: Priority: 1

#6410 Fix "Previews available in:" sometimes displayed without any preview languages #6408
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#6435 Fix fulltext card issues + Re-order onboarding cards
  openlibrary/templates/home/welcome.html
Labels: On testing.openlibrary.org

#6429 Fix /stats/readinglog erroring
  openlibrary/core/bookshelves.py
Labels: On testing.openlibrary.org

#6419 Override spam checks when adding or editing books
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/spamcheck.py
Labels: On testing.openlibrary.org

#6404 Hotfix nginx logrotate not working
  docker/ol-nginx-start.sh
Labels: Priority: 1

#6441 Do not call load_config before setup()
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/tests/core/test_fulltext.py
Labels: Priority: 0, On testing.openlibrary.org

#6444 Hotfix prod loading wrong config file
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 0, On testing.openlibrary.org

#6453 Add default for groundtruth error
  openlibrary/core/lending.py
Labels: Priority: 1

#6452 Added 'Related Books' to Book Page Nav Menu #6436
  openlibrary/macros/EditionNavBar.html
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1, On testing.openlibrary.org

#6447 Upgrade GitHub Actions
  .github/workflows/codegen_api_docs.yml
  .github/workflows/deploy_storybook.yml
  .github/workflows/javascript_tests.yml
  .github/workflows/python_tests.yml
Labels: Theme: Testing

#6451 resolves navbar overflow mobile
  static/css/components/work.less
Labels: Priority: 1, On testing.openlibrary.org

#6327 Fix incorrect selected element in navbar on fast scroll
  openlibrary/plugins/openlibrary/js/edition-nav-bar/index.js
Labels: Priority: 2, On testing.openlibrary.org

#6427 refactors + adds sidebar to account settings
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account.html
  openlibrary/templates/account/books.html
  openlibrary/templates/account/sidebar.html
Labels: Priority: 1, On testing.openlibrary.org, Module: My Account Page

#6428 fix read more link issue
  openlibrary/plugins/openlibrary/js/readmore.js
  tests/unit/js/readMore.test.js
Labels: Priority: 1, On testing.openlibrary.org

#6463 Fix accidental case sensitive filenames!
  tests/unit/js/readMore.test.js
  tests/unit/js/readmore.test.js
Labels: Priority: 0

#6388 Sticky title to top of books page
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/compact-title/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/site/head.html
  openlibrary/templates/type/edition/book_title.html
  openlibrary/templates/type/edition/compact_title.html
  openlibrary/templates/type/edition/view.html
  static/css/components/compact-title.less
  static/css/components/readerStats.less
  static/css/components/work.less
Labels: Priority: 1, On testing.openlibrary.org

#6460 Tweaks to mobile navbar UX
  openlibrary/plugins/openlibrary/js/edition-nav-bar/index.js
  static/css/components/compact-title.less
  static/css/components/work.less
  static/css/layout/index.less
Labels: On testing.openlibrary.org

#6366 Add scripts/cron_watcher.py
  scripts/cron_watcher.py
Labels: Module: Data dumps, Priority: 2

#6474 DRY Book Byline rendering + make it more i18n-able
  openlibrary/i18n/de/messages.po
  openlibrary/i18n/fr/messages.po
  openlibrary/i18n/hr/messages.po
  openlibrary/i18n/messages.pot
  openlibrary/macros/AuthorList.html
  openlibrary/macros/BookByline.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/waitlist.html
  openlibrary/templates/admin/loans_table.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/borrow_admin.html
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1, Type: Refactor/Clean-up, On testing.openlibrary.org

#6482 Fix flaky unit test, delete unused openlibrary.core.init
  openlibrary/core/init.py
  openlibrary/tests/core/test_init.py
Labels: Priority: 1

#6466 Replace XML solr requests with json solr request
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
Labels: Type: Refactor/Clean-up, On testing.openlibrary.org

#6473 Expand patron exports
  openlibrary/core/db.py
  openlibrary/core/observations.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/import.html
  static/css/page-user.less
Labels: On testing.openlibrary.org

#6479 requirements_test.txt: Upgrade testing dependencies
  requirements_test.txt
Labels: Theme: Testing, dependencies

#6477 Fix overlapping of profile icon and hamburger icon in mobile view
  static/css/components/header-bar.less
Labels: On testing.openlibrary.org

#6472 Add hidden submit button
  openlibrary/templates/books/edit.html
Labels: Priority: 1, Patch Deployed, On testing.openlibrary.org
