Repository internetarchive/openlibrary, pull requests merged in 2022-05, with the labels that each got.

#6332 Vendors: Retry getting Amazon data from the affiliate server
  openlibrary/core/vendors.py
Labels: Affects: Partners, On testing.openlibrary.org

#6420 Add account deactivation link to user settings
  openlibrary/templates/account.html
Labels: Priority: 1

#6501 prevent dupes from affiliate-server queue
  scripts/affiliate-server
Labels: Priority: 2, Patch Deployed

#6487 combine waitlist and checked out pages
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/books.html
  openlibrary/templates/account/loans.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/waitlist.html
Labels: On testing.openlibrary.org

#6506 Improve Book Page Mobile Header
  bundlesize.config.json
  openlibrary/macros/databarWork.html
  openlibrary/templates/type/edition/title_summary.html
  openlibrary/templates/type/edition/view.html
  static/css/components/read-panel.less
  static/css/components/work.less
Labels: Priority: 1

#6521 Add placeholder list names in sidebar
  openlibrary/templates/account/sidebar.html
Labels: On testing.openlibrary.org

#6517 Improve external links from MARC imports
  openlibrary/catalog/marc/parse.py
Labels: Theme: MARC records, Module: Import

#6502 i18n language names wherever they appear
  bundlesize.config.json
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/configs.js
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/solr/update_work.py
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/books/edition-sort.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/type/language/repr.html
  openlibrary/templates/type/work/editions.html
Labels: Priority: 1, On testing.openlibrary.org

#6520 Patron export bug fix
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1, On testing.openlibrary.org

#6508 Add subtitles in autocomplete search results
  openlibrary/plugins/openlibrary/js/SearchBar.js
  static/css/components/header-bar.less
Labels: On testing.openlibrary.org

#6528 Small fixes to mobile header PR
  openlibrary/templates/type/edition/view.html
  static/css/components/work.less
Labels: Integration PR

#6539 fix partner imports quality check + error handling
  scripts/partner_batch_imports.py
Labels: Priority: 1, Patch Deployed

#3408 Work Merge UI + ILE (Integrated Librarian Environment)
  openlibrary/components/MergeUI.vue
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/EditionSnippet.vue
  openlibrary/components/MergeUI/ExcerptsTable.vue
  openlibrary/components/MergeUI/MergeRow.vue
  openlibrary/components/MergeUI/MergeRowField.vue
  openlibrary/components/MergeUI/MergeRowJointField.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/TextDiff.vue
  openlibrary/components/MergeUI/utils.js
  openlibrary/plugins/openlibrary/js/ile/index.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  openlibrary/plugins/openlibrary/js/ile/utils/ol.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/upstream/code.py
  openlibrary/templates/merge/works.html
  openlibrary/templates/site/body.html
  package-lock.json
  package.json
  scripts/dev-instance/create-dev-db-pgdump.sh
  scripts/dev-instance/dev_db.pg_dump
  tests/unit/js/SelectionManager.test.js
  tests/unit/js/styleMock.js
Labels: Priority: 1, On testing.openlibrary.org

#6469 Implement a Share modal to the Book page including the 4 share icons already existing
  bundlesize.config.json
  openlibrary/macros/SocialShare.html
  openlibrary/plugins/openlibrary/js/Share.js
  openlibrary/plugins/openlibrary/js/index.js
  static/css/components/shareLinks.less
Labels: Priority: 2, On testing.openlibrary.org, Integration PR

#6549 Improve tips on add book
  openlibrary/templates/books/add.html
Labels: Priority: 1, On testing.openlibrary.org

#6553 Close dropper on "Want to Read" button click
  openlibrary/plugins/openlibrary/js/lists/index.js
Labels: Priority: 2, On testing.openlibrary.org

#6569 Fixed SelectionManager deselection bug
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
Labels: On testing.openlibrary.org

#6579 Ukrainian translation
  openlibrary/i18n/uk/messages.po
Labels: On testing.openlibrary.org

#6562 fixing deploy git cmds
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
Labels: Affects: Admin/Maintenance, Priority: 1, Affects: Configuration, Affects: Server, Patch Deployed

#6575 Add patron action icons in book page sidebar
  openlibrary/macros/NotesModal.html
  openlibrary/macros/ObservationsModal.html
  openlibrary/macros/ShareModal.html
  openlibrary/macros/SocialShare.html
  openlibrary/macros/StarRatings.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/Share.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/modals/index.js
  openlibrary/templates/account/observations.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/observations/review_component.html
  openlibrary/templates/type/edition/modal_links.html
  openlibrary/templates/type/edition/view.html
  static/css/components/cbox.less
  static/css/components/modal-links.less
  static/css/components/shareLinks.less
  static/css/page-book.less
  static/images/icons/notes.svg
  static/images/icons/review.png
  static/images/icons/reviews.svg
  static/images/icons/share.svg
Labels: Priority: 1, On testing.openlibrary.org, Integration PR

#6587 Fix linting errors on integration branch
  static/css/components/modal-links.less
  static/css/less/colors.less
Labels: On testing.openlibrary.org, Integration PR

#6588 fix opds rendering
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/type/edition/opds.html
Labels: On testing.openlibrary.org

#6563 Refactor get_ebook_info to explicitly take IA metadata
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
Labels: Priority: 1

#6514 Place "Delete" button on book edit page in it's own form
  openlibrary/plugins/upstream/addbook.py
  openlibrary/templates/books/edit.html
Labels: Priority: 1, Needs: Testing, On testing.openlibrary.org

#6574 Make Classics carousel show only classic books
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/templates/home/index.html
Labels: On testing.openlibrary.org

#6391 Show list widget on subject pages
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/templates/lists/widget.html
Labels: Priority: 1

#6507 Create usergroup that cannot edit
  openlibrary/core/models.py
  openlibrary/plugins/upstream/spamcheck.py
  scripts/dev-instance/create-dev-db-pgdump.sh
  scripts/dev-instance/dev_db.pg_dump
Labels: Priority: 2

#6607 GitHub Action to verify successful completion of our cron jobs
  .github/workflows/cron_watcher.yml
Labels: Affects: Admin/Maintenance

#6596 Rm auto-inserted solr availability subjects ("Accessible book", "Protected DAISY")
  openlibrary/solr/update_work.py
Labels: Theme: Search
