Repository internetarchive/openlibrary, pull requests merged in 2022-11, with the labels that each got.

#7041 Fixed excessive scrolling issue w/ Related Books tab
  static/css/components/work.less
Labels: Needs: Submitter Input

#7135 Fix cache=True logic for ia.get_metadata
  openlibrary/core/ia.py
Labels: Priority: 1, Theme: Performance, Patch Deployed

#7146 Don't fetch search inside facets since we don't use them
  openlibrary/core/fulltext.py
  openlibrary/plugins/inside/code.py
Labels: Theme: Performance

#7145 Fix language counts should only count works
  openlibrary/plugins/worksearch/languages.py
Labels: Theme: Performance, On testing.openlibrary.org

#7133 import promise items batch
  scripts/promise_batch_imports.py
Labels: Priority: 1

#7134 Revert "Make solr restarter wait longer before restarting solr"
  scripts/solr_restarter/index.js
Labels: Theme: Performance, Priority: 0, Patch Deployed

#7137 Switch RelatedWorksCarousel to use solr
  openlibrary/templates/books/RelatedWorksCarousel.html
Labels: Priority: 1, Theme: Performance, Patch Deployed, On testing.openlibrary.org

#7130 Add sentry transactions to OL python
  conf/openlibrary.yml
  openlibrary/plugins/openlibrary/sentry.py
  openlibrary/utils/sentry.py
Labels: Theme: Performance, Priority: 0, Patch Deployed, On testing.openlibrary.org

#7154 Fix subject clampers for Firefox
  openlibrary/plugins/openlibrary/js/readmore.js
Labels: On testing.openlibrary.org

#7158 Update hamburger menu
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
Labels: On testing.openlibrary.org

#7092 Drop setup.cfg in favor of pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Labels: Theme: Testing, Affects: Configuration

#7093 Fix openlibrary/core/lending.py: Fix duplicate enties in a dict
  openlibrary/core/lending.py
Labels: Module: Borrowing / Lending

#7159 Make edit button style more reusable
  static/css/components/buttonLink.less
Labels: On testing.openlibrary.org

#7139 Switch /random to use solr
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/home.py
Labels: On testing.openlibrary.org

#7138 Delete old subject carousel code
  openlibrary/core/lending.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/templates/home/custom_ia_carousel.html
Labels: Priority: 1, Type: Refactor/Clean-up, On testing.openlibrary.org

#7176 Auto restart memcached on covers
  docker-compose.production.yml
Labels: Patch Deployed

#7168 Change simple 200 raise to return
  openlibrary/plugins/openlibrary/code.py
Labels: On testing.openlibrary.org

#7165 7007: moves book description above omnibar
  openlibrary/macros/ReadMore.html
  openlibrary/templates/type/edition/view.html
  static/css/base/helpers-common.less
  static/css/components/work--tablet.less
  static/css/components/work.less
Labels: Priority: 2, Needs: Submitter Input

#7029 Refactor/DRY worksearch/code.py
  openlibrary/core/bookshelves.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/__init__.py
  openlibrary/plugins/worksearch/schemes/authors.py
  openlibrary/plugins/worksearch/schemes/subjects.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/solr/query_utils.py
  openlibrary/templates/authors/index.html
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/work_search.html
  openlibrary/utils/__init__.py
  openlibrary/utils/tests/test_utils.py
Labels: Priority: 1, On testing.openlibrary.org

#7167 Prevent reordering of work records in merge UI
  openlibrary/components/MergeUI/MergeTable.vue
Labels: Priority: 1, On testing.openlibrary.org

#7183 tmp stop unsubstantive amz imports
  scripts/affiliate-server
Labels: Patch Deployed

#7115 Manual reading log check-ins
  bundlesize.config.json
  openlibrary/core/bookshelves_events.py
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/js/native-dialog/index.js
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/tests/test_checkins.py
  openlibrary/templates/check_ins/check_in_prompt.html
  openlibrary/templates/check_ins/modal_form.html
  openlibrary/templates/check_ins/test_form.html
  openlibrary/templates/native_dialog.html
  openlibrary/tests/core/test_db.py
  openlibrary/utils/dateutil.py
  static/css/components/buttonCta.less
  static/css/components/check-in.less
  static/css/components/native-dialog.less
  static/css/components/work.less
  static/css/js-all.less
  tests/unit/js/checkIn.test.js
  tests/unit/js/html-test-data.js
Labels: Priority: 1, On testing.openlibrary.org

#7190 Fix edit button layout
  openlibrary/macros/databarEdit.html
  static/css/components/edit-toolbar--tablet.less
  static/css/components/edit-toolbar.less
Labels: On testing.openlibrary.org

#7126 Yearly reading goals back-end
  openlibrary/core/schema.sql
  openlibrary/core/yearly_reading_goals.py
  openlibrary/tests/core/test_db.py
Labels: Priority: 1

#7200 pre-commit autoupdate on 2022_11_29
  .pre-commit-config.yaml
Labels: Theme: Testing

#7196 Prevent showing date prompt if read date exists
  openlibrary/plugins/openlibrary/js/lists/index.js
Labels: Priority: 1, On testing.openlibrary.org
