Repository internetarchive/openlibrary, pull requests merged in 2022-01, with the labels that each got.

#5983 fix(#5982) - Fixes pointer and width for the logout button
  static/css/components/header-bar.less
Labels: Priority: 2, Needs: Submitter Input

#5971 French translation update
  openlibrary/i18n/fr/messages.po
Labels: Priority: 2

#5980 Restore date filtering functionality to publishers and subjects pages.
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/graphs/plot.js
Labels: Priority: 2

#5716 Display cover as comment in Recent Changes Table
  openlibrary/plugins/upstream/covers.py
  openlibrary/templates/recentchanges/render.html
  static/css/legacy.less
Labels: Needs: Submitter Input

#6033 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Priority: 2

#5899 Change old publish year sort request
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 2

#5989 Add solr restarter service to autoheal solr
  docker-compose.production.yml
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
  scripts/deployment/restart_servers.sh
  scripts/solr_restarter/Dockerfile
  scripts/solr_restarter/index.js
Labels: Priority: 1, Patch Deployed
