Repository internetarchive/openlibrary, pull requests merged in 2023-09, with the labels that each got.

#8208 Replace covers TarManager with new ZipManager
  openlibrary/coverstore/README.md
  openlibrary/coverstore/archive.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/schema.sql
  openlibrary/coverstore/tests/test_archive.py
Labels: Priority: 0, Needs: Submitter Input

#8090 Ossd s23 7416/feature/safe mode
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/work_search.html
  static/css/components/search-result-item.less
Labels: Needs: Submitter Input, Integration PR

#8203 autodetect author ASIN, Youtube, storygraph ids
  openlibrary/components/AuthorIdentifiers.vue
Labels: Priority: 1, Needs: Review

#8272 Add "Status" filter to merge request table
  openlibrary/core/edits.py
  openlibrary/plugins/upstream/edits.py
  openlibrary/templates/merge_queue/merge_queue.html
Labels: On testing.openlibrary.org

#8250 Add option to sort editions in search
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/editions.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/work_search.html
  pyproject.toml
Labels: On testing.openlibrary.org

#8275 Remove inline JS for return forms
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/ReturnForm.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/return-form/index.js
Labels: On testing.openlibrary.org

#8141 ILE bulk work tagging
  bundlesize.config.json
  openlibrary/plugins/openlibrary/bulk_tag.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/ile/index.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  openlibrary/plugins/openlibrary/js/ile/utils/subject.js
  openlibrary/plugins/openlibrary/js/initTaggingSearchBar.js
  openlibrary/templates/subjects/tagging_menu.html
  static/css/components/tagging-menu.less
  static/css/legacy.less
Labels: Priority: 1

#8192 Persona research screener banner
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/books.html
  static/edu-domains.txt
Labels: Priority: 1

#8285 Fix Ruff identified issues for catalog/marc files
  openlibrary/catalog/marc/get_subjects.py
  openlibrary/catalog/marc/marc_binary.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/wrapped_lines.json
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/catalog/utils/__init__.py
  pyproject.toml
Labels: Theme: MARC records, Type: Refactor/Clean-up, Theme: Development

#8276 ability to specify end_id for archival run
  openlibrary/coverstore/archive.py
Labels: Priority: 0, Patch Deployed

#8259 remove leftover references to borrow.html
  static/css/legacy-borrowBookForm.less
  static/css/legacy.less
  static/css/page-home.less
  static/css/page-plain.less
Labels: Priority: 3, On testing.openlibrary.org

#8019 Create My Books Dropper
  bundlesize.config.json
  conf/openlibrary.yml
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/databarWork.html
  openlibrary/plugins/openlibrary/js/dropper/Dropper.js
  openlibrary/plugins/openlibrary/js/dropper/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/js/lists/ShowcaseItem.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/js/my-books/CreateListForm.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadDateComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLists.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/plugins/openlibrary/js/my-books/index.js
  openlibrary/plugins/openlibrary/js/my-books/store/index.js
  openlibrary/plugins/openlibrary/js/utils.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lib/dropper.html
  openlibrary/templates/lists/active_lists.html
  openlibrary/templates/lists/dropper_lists.html
  openlibrary/templates/lists/list_overview.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/my_books/dropdown_content.html
  openlibrary/templates/my_books/dropper.html
  openlibrary/templates/my_books/primary_action.html
  openlibrary/templates/subjects.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
  package.json
  static/css/components/generic-dropper.less
  static/css/components/mybooks-dropper.less
  static/css/components/read-statuses.less
  static/css/components/searchResultItemCta.less
  static/css/components/work.less
  static/css/legacy.less
  static/css/page-user.less
  tests/unit/js/droppers.test.js
  tests/unit/js/html-test-data.js
  tests/unit/js/lists.test.js
  tests/unit/js/my-books.test.js
  tests/unit/js/sample-html/dropper-test-data.js
  tests/unit/js/sample-html/lists-test-data.js
  tests/unit/js/sample-html/utils-test-data.js
  tests/unit/js/utils.test.js
Labels: Priority: 1, Needs: Special Deploy, On testing.openlibrary.org

#8331 import api: use edition ID from IA metadata if it exists
  openlibrary/plugins/importapi/code.py
Labels: Priority: 1
