Repository internetarchive/openlibrary, pull requests merged in 2023-06, with the labels that each got.

#7888 Refactor lists template file to move inline JavaScript
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lists/ListViewBody.js
  openlibrary/templates/lists/lists.html
Labels: Priority: 2

#7795 Fix edition_key not working in search
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/plugins/worksearch/schemes/works.py
Labels: On testing.openlibrary.org

#7935 Fix login json SFW
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1, Patch Deployed, On testing.openlibrary.org

#7911 The distutils module is removed in Python v3.12
  scripts/solr_builder/setup.py
Labels: Module: Solr, Module: Solr Builder

#7972 Fix bug in get_donation_include + cleanup
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/site/alert.html
Labels: Patch Deployed

#7976 Improve AssertionError in openlibrary/catalog/marc/marc_xml.py
  openlibrary/catalog/marc/marc_xml.py
Labels: Theme: MARC records

#7980 7259/fix/update merge author UI
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/templates/merge/authors.html
  static/css/components/merge-form.less
Labels: On testing.openlibrary.org

#7986 Update italian translation
  openlibrary/i18n/README.md
  openlibrary/i18n/it/legacy-strings.it.yml
  openlibrary/i18n/it/messages.po
  openlibrary/i18n/it/starting-strings.it
  openlibrary/templates/languages/language_list.html
Labels: On testing.openlibrary.org

#7730 enable dismiss banner bar by name
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/initAnnouncementBanner.js
  openlibrary/templates/site/banner.html
  openlibrary/templates/site/body.html
  static/css/components/page-banner.less
Labels: Priority: 1, Needs: Review

#7902 Remove stats_solr as part of our migration to ol-home0
  conf/openlibrary.yml
  openlibrary/code.py
  openlibrary/core/loanstats.py
  openlibrary/solr/process_stats.py
Labels: Needs: Submitter Input

#7931 expand solr query escape flow to include single quotes
  openlibrary/solr/query_utils.py
Labels: Priority: 2

#7994 Fix deleted process_stats.get_db still in use!
  openlibrary/solr/data_provider.py
Labels: Priority: 0, Patch Deployed

#7962 Autocomplete refactor + add ability to reorder
  bundlesize.config.json
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
  openlibrary/templates/books/author-autocomplete.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/utils/__init__.py
  package.json
  static/css/components/form.olform.less
  static/css/legacy-jquery-ui.less
  static/css/page-user.less
  tests/unit/js/SearchBar.test.js
  tests/unit/js/autocomplete.test.js
  tests/unit/js/droppers.test.js
  tests/unit/js/editionsEditPage.test.js
  tests/unit/js/jquery.repeat.test.js
  tests/unit/js/readmore.test.js
  tests/unit/js/search.test.js
  tests/unit/js/setup.js
  tests/unit/js/subjects.test.js
Labels: Priority: 2

#7995 Fix a variable name in the Italian translation
  openlibrary/i18n/it/messages.po
Labels: translations

#7827 Added custom SQLite3 datetime converter
  openlibrary/core/db.py
Labels: On testing.openlibrary.org

#7965 Remove deprecated code from MARC HTML view
  openlibrary/catalog/get_ia.py
  openlibrary/catalog/marc/fast_parse.py
  openlibrary/catalog/marc/html.py
  openlibrary/catalog/marc/marc_subject.py
  openlibrary/catalog/marc/tests/test_data/xml_expect/39002054008678_yale_edu.json
  openlibrary/catalog/marc/tests/test_data/xml_input/39002054008678_yale_edu_marc.xml
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/catalog/marc/tests/test_marc_binary.py
  openlibrary/catalog/marc/tests/test_marc_html.py
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/templates/showmarc.html
  openlibrary/tests/catalog/test_get_ia.py
Labels: Theme: MARC records, Type: Refactor/Clean-up

#7963 Make lists ordered by default
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/type/list/view_body.html
Labels: Priority: 2, On testing.openlibrary.org

#8013 work title now displays on author page
  openlibrary/templates/type/author/view.html
Labels: On testing.openlibrary.org

#8008 Also gzip javascript files
  docker/nginx.conf
Labels: Priority: 1, Patch Deployed
