Repository internetarchive/openlibrary, pull requests merged in 2023-03, with the labels that each got.

#7562 Add stale reading log data to solr
  conf/solr/conf/managed-schema
  openlibrary/core/bookshelves.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_builder/sql/create-dump-table.sql
Labels: Priority: 1

#7056 Add OCR to barcode scanner
  openlibrary/plugins/openlibrary/js/page-barcodescanner/LazyBookCard.js
  openlibrary/plugins/openlibrary/js/page-barcodescanner/OCRScanner.js
  openlibrary/plugins/openlibrary/js/page-barcodescanner/index.js
  openlibrary/templates/barcodescanner.html
  package-lock.json
  package.json
  static/css/page-barcodescanner.less
Labels: Priority: 2

#7604 Fix sql interpolation
  openlibrary/core/bookshelves.py
Labels: Priority: 0, Patch Deployed, On testing.openlibrary.org

#7502 Feature/persist ile selections
  openlibrary/plugins/openlibrary/js/ile/index.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less
  openlibrary/templates/site/body.html
  tests/unit/js/SelectionManager.test.js
Labels: Priority: 1

#7518 Stop promise items from creating editions with publish_date=????
  openlibrary/plugins/importapi/code.py
Labels: Priority: 2

#7565 Add 'Remove From Shelf' option to Reading Log dropper
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/plugins/openlibrary/js/lists/index.js
  static/css/components/read-statuses.less
Labels: Priority: 0, On testing.openlibrary.org

#7600 Add book talks to browse menu
  openlibrary/templates/lib/nav_head.html
Labels: Priority: 1

#7454 7449/fix/ia import api doesnt map data correctly to ol metadata format
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/tests/test_code.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/utils/isbn.py
  openlibrary/utils/tests/test_isbn.py
Labels: Priority: 1

#7597 implement read/return buttons under My Loans
  openlibrary/macros/LoanStatus.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/books/custom_carousel.html
Labels: Priority: 2, On testing.openlibrary.org

#7639 Commit solr next changes
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/update_work.py
Labels: On testing.openlibrary.org

#7606 Add a GitHub Action for Ruff
  .github/workflows/ruff.yml
Labels: Theme: Development, Affects: Developers

#7601 Affiliate server: Make amazon lookup thread a daemon
  scripts/affiliate_server.py
Labels: Priority: 1

#7466 Call json endpoint for partials
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/carousels_partials.js
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/lists.py
Labels: Priority: 1

#7574 add third party signin button to hamburger menu
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/lib/header_dropdown.html
  static/css/components/header-bar.less
Labels: Priority: 2, State: Blocked, On testing.openlibrary.org

#7683 Fix z-index book cover animation issue in Safari
  static/css/components/illustration.less
  static/css/components/work.less
Labels: On testing.openlibrary.org

#7482 Handle read date in the Goodreads importer
  openlibrary/plugins/openlibrary/js/goodreads_import.js
  openlibrary/templates/account/import.html
Labels: Priority: 1, export, Module: Import

#7573 change reading log dropper color
  static/css/components/dropper.less
Labels: Integration PR

#7747 Delete sitemaps before generating them, not after
  scripts/oldump.sh
Labels: Priority: 1
