Repository internetarchive/openlibrary, pull requests merged in 2023-04, with the labels that each got.

#7749 Ruff: Add pylint max-args, branches, returns, and statements
  .pre-commit-config.yaml
  openlibrary/catalog/merge/tests/test_merge.py
  openlibrary/coverstore/code.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/utils/tests/test_ddc.py
  pyproject.toml
  requirements_test.txt
Labels: Theme: Testing, Theme: Development, Affects: Developers

#6018 Add SwaggerUI on Open Library API's
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/swagger.py
  openlibrary/templates/swagger/swaggerui.html
  static/openapi.json
Labels: Priority: 2, On testing.openlibrary.org

#7748 sitemaps: Add logging to the generation process
  scripts/sitemaps/sitemap.py
Labels: Priority: 1

#7611 Book page navbar redesign
  openlibrary/macros/EditionNavBar.html
  openlibrary/plugins/openlibrary/js/compact-title/index.js
  openlibrary/plugins/openlibrary/js/edition-nav-bar/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/type/edition/title_and_author.html
  openlibrary/templates/type/edition/view.html
  static/css/base/helpers-common.less
  static/css/components/compact-title.less
  static/css/components/nav-bar.less
  static/css/components/work-title-and-author.less
  static/css/components/work.less
  static/css/less/colors.less
  static/images/nav-arrow.svg
Labels: Priority: 1, On testing.openlibrary.org

#7680 Improve privacy settings page i18n/a11y
  openlibrary/templates/account/privacy.html
  static/css/components/form.olform.less
Labels: Priority: 1, On testing.openlibrary.org

#7781 ol-www0: Add cron job pull-sitemaps-from-ol-home0
  docker-compose.production.yml
  docker/Dockerfile.olbase
  docker/ol-nginx-start.sh
Labels: Affects: Admin/Maintenance, Priority: 1, Theme: Provisioning

#7707 Basic changes to HTML, CSS in merge request table
  openlibrary/templates/merge_queue/merge_queue.html
  static/css/components/merge-request-table.less
  static/css/less/colors.less
Labels: Integration PR

#7820 Fix work redirects in history causing i18n error
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#7790 Revert hamburger menu google sign in button
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/account/ia_thirdparty_logins.html
  openlibrary/templates/lib/header_dropdown.html
  static/css/components/header-bar.less
Labels: Priority: 1, Patch Deployed, On testing.openlibrary.org
