Repository internetarchive/openlibrary, pull requests merged in 2023-07, with the labels that each got.

#7981 test: add OpenLibraryAccount test
  .github/workflows/javascript_tests.yml
  .github/workflows/python_tests.yml
  openlibrary/tests/accounts/test_models.py
  requirements_test.txt
Labels: State: Blocked

#8026 Remove unnecessary imports from tests
  openlibrary/plugins/importapi/tests/test_code.py
  openlibrary/plugins/importapi/tests/test_code_ils.py
  openlibrary/plugins/openlibrary/tests/test_home.py
  openlibrary/plugins/openlibrary/tests/test_listapi.py
  openlibrary/plugins/openlibrary/tests/test_ratingsapi.py
  openlibrary/plugins/upstream/tests/test_borrow.py
  openlibrary/plugins/upstream/tests/test_utils.py
  scripts/tests/test_solr_updater.py
Labels: Theme: Testing

#8024 Add ruff rules for flake8-pytest-style
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/conftest.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/marc/tests/test_marc_binary.py
  openlibrary/conftest.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/coverstore/tests/test_webapp.py
  openlibrary/mocks/mock_ia.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/mocks/mock_memcache.py
  openlibrary/mocks/mock_ol.py
  openlibrary/plugins/admin/tests/conftest.py
  openlibrary/plugins/books/tests/test_dynlinks.py
  openlibrary/plugins/openlibrary/tests/test_listapi.py
  openlibrary/plugins/upstream/tests/test_account.py
  openlibrary/plugins/upstream/tests/test_models.py
  openlibrary/solr/update_work.py
  openlibrary/tests/core/conftest.py
  openlibrary/tests/solr/test_data_provider.py
  openlibrary/tests/solr/test_update_work.py
  pyproject.toml
  tests/integration/test_affiliate_links.py
  tests/integration/test_landing.py
  tests/integration/test_microdata.py
  tests/integration/test_search.py
  tests/integration/test_sharing.py
Labels: Theme: Testing

#8030 ruff rule E741: Ambiguous variable name l vs. 1
  openlibrary/catalog/marc/marc_binary.py
  pyproject.toml
  scripts/lc_marc_update.py
Labels: Theme: MARC records

#8025 Refactor test_marc.py to not use unittest.TestCase
  openlibrary/catalog/marc/tests/test_marc.py
Labels: Theme: MARC records, Theme: Testing

#7982 test: Test implementation for book classification verification functionality
  tests/unit/js/editionEditPageClassification.test.js
  tests/unit/js/html-test-data.js
Labels: Theme: Testing

#7993 Create lists dump file
  openlibrary/data/dump.py
Labels: Theme: Lists

#7831 Allow super-librarians to edit type yamls
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/code.py
Labels: Priority: 2, Needs: Testing, On testing.openlibrary.org

#7946 Correct unique visitor counts - Use graphite summerize, not hitcount
  openlibrary/core/admin.py
Labels: Priority: 1, On testing.openlibrary.org

#7807 Bust cache if homepage fails to render
  openlibrary/plugins/openlibrary/home.py
Labels: Priority: 1, Theme: Performance, Needs: Submitter Input, Needs: Special Deploy

#7830 New Open Library Team Page
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/about/index.html
  openlibrary/templates/about/team.json
  static/css/components/team.less
  static/css/page-team.less
  static/images/globe-solid.svg
  static/images/team/Aaron_Swartz.png
  static/images/team/Abbey_Ripstra.jpg
  static/images/team/Chris_Clauss.jpg
  static/images/team/Dana.jpg
  static/images/team/Jaye_Rasmussen.jpg
  static/images/team/Jim_Champ.png
  static/images/team/Keita_Ohshiro.jpg
  static/images/team/Mek.png
  static/images/team/Nick_Norman.jpg
  static/images/team/Sam.jpg
  static/images/team/Scott_Barnes.jpg
Labels: Needs: Submitter Input

#8011 Preload main book cover
  openlibrary/macros/databarWork.html
  openlibrary/templates/covers/book_cover.html
Labels: On testing.openlibrary.org

#7971 If there is no user then get_user_lists() should return an empty list
  openlibrary/plugins/openlibrary/lists.py
Labels: Priority: 1

#7938 Simplify Python code with ruff rule SIM102
  openlibrary/accounts/model.py
  openlibrary/catalog/marc/marc_base.py
  openlibrary/catalog/marc/marc_binary.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/merge/merge_marc.py
  openlibrary/catalog/merge/names.py
  openlibrary/core/processors/readableurls.py
  openlibrary/coverstore/code.py
  openlibrary/plugins/importapi/import_opds.py
  openlibrary/plugins/importapi/import_rdf.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/connection.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/models.py
  openlibrary/records/functions.py
  openlibrary/solr/data_provider.py
  openlibrary/utils/ddc.py
  pyproject.toml
  scripts/affiliate_server.py
Labels: Needs: Review

#7431 Mobile My Books Redesign #7376
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/books.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/books/breadcrumb_select.html
  openlibrary/templates/books/mobile_carousel.html
  openlibrary/templates/lists/lists.html
  static/css/components/carousel.less
  static/css/components/mybooks-details.less
  static/css/components/mybooks-menu.less
  static/images/icons/down-chevron.svg
  static/images/icons/right-chevron.svg
Labels: Priority: 1, On testing.openlibrary.org

#7896 Add "Read more" and "Read less" elements to tab navigation
  openlibrary/macros/ReadMore.html
Labels: Needs: Rebase

#8017 Python async functions should not call the sync function open()
  openlibrary/solr/update_work.py
  pyproject.toml
  requirements.txt
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_updater.py
Labels: Needs: Review

#7940 Break out some add_book load() functionality into individual functions
  openlibrary/catalog/add_book/__init__.py
  pyproject.toml
Labels: Priority: 1

#7944 public /imports & speedup
  openlibrary/core/helpers.py
  openlibrary/core/imports.py
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/imports.html
  scripts/dev-instance/dev_db.pg_dump
Labels: On testing.openlibrary.org

#7999 Don't set edition LCCNs to None
  openlibrary/plugins/upstream/models.py
Labels: Priority: 1

#7914 Commits xisbn script + makes it support lccn (requires full reindex)
  openlibrary/solr/update_edition.py
  scripts/solr_dump_xisbn.py
Labels: Priority: 2, Needs: Submitter Input

#8102 Fix recent autocomplete bugs
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/templates/covers/manage.html
  static/css/legacy-jquery-ui.less
Labels: On testing.openlibrary.org

#7727 6816/fix chatbox
  openlibrary/plugins/openlibrary/js/merge-request-table/index.js
  openlibrary/plugins/upstream/edits.py
  openlibrary/templates/merge_queue/comment.html
  openlibrary/templates/merge_queue/merge_queue.html
  static/css/components/merge-request-table.less
  static/css/less/colors.less
  static/images/speech-bubble.png
Labels: Priority: 2, Needs: Submitter Input, Integration PR

#8117 8111/feature/rename and move build marc
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/match.py
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/catalog/merge/merge_marc.py
  openlibrary/catalog/merge/tests/test_merge_marc.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/tests/catalog/test_utils.py
Labels: Theme: MARC records

#8098 Add capability to delete a work with over 1000 editions
  openlibrary/plugins/openlibrary/api.py
Labels: Priority: 2, On testing.openlibrary.org

#7887 Make web nodes and home0 infobase logs ephemeral
  compose.production.yaml
  conf/infobase.yml
Labels: Priority: 1, Module: Docker, Needs: Review

#8113 Ability to edit list item order + New lists/add UI-API
  bundlesize.config.json
  openlibrary/macros/databarView.html
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jsdef.js
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/author-autocomplete.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/jsdef/LazyAuthorPreview.html
  openlibrary/templates/jsdef/LazyWorkPreview.html
  openlibrary/templates/type/list/edit.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/utils/__init__.py
  static/css/components/form.olform.less
  static/css/components/jquery.autocomplete.less
  static/css/legacy-jquery-ui.less
  static/css/page-list-edit.less
Labels: Priority: 1, On testing.openlibrary.org

#8115 Make reordering covers/authors/etc work on touch screens
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/openlibrary/js/covers.js
  package-lock.json
  package.json
  static/css/page-list-edit.less
Labels: On testing.openlibrary.org

#8136 Simplify works autocomplete search query for perf
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
Labels: On testing.openlibrary.org
