Repository internetarchive/openlibrary, pull requests merged in 2023-01, with the labels that each got.

#7193 Add a button to remove edition languages via the UI (#6409)
  openlibrary/templates/books/edit/edition.html
  static/css/components/form.olform.less
Labels: Priority: 2, On testing.openlibrary.org

#7364 Make author search results sort by relevance
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/authors.py
Labels: On testing.openlibrary.org

#7372 Fix publishers pages showing no books
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/solr/query_utils.py
Labels: On testing.openlibrary.org

#7384 Feature/mybooks yrg banner
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/account/books.html
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/check_ins/reading_goal_form.html
  openlibrary/templates/check_ins/reading_goal_progress.html
  static/css/components/page-banner.less
  static/css/less/colors.less
Labels: Priority: 1, On testing.openlibrary.org

#7411 Removed quote doubling code from subject editing
  openlibrary/templates/books/edit/about.html
Labels: On testing.openlibrary.org

#7419 Display reading goal banner only on new My Books page
  openlibrary/templates/account/books.html
Labels: On testing.openlibrary.org

#7405 Fix parsing of MARC 041 field. Fixes #7403.
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/equalsign_title.mrc
  openlibrary/catalog/marc/tests/test_data/bin_expect/zweibchersatir01horauoft_meta.mrc
  openlibrary/catalog/marc/tests/test_data/xml_expect/zweibchersatir01horauoft_marc.xml
  openlibrary/catalog/marc/tests/test_parse.py
Labels: Theme: MARC records

#7401 Bug fix and French language corrections
  openlibrary/i18n/fr/messages.po
Labels: Priority: 1

#7423 Allow work merge if 200+ edition work is present but unselected
  openlibrary/components/MergeUI/MergeTable.vue
Labels: Priority: 1

#7436 Improve page count and language detection for IA imports
  openlibrary/catalog/add_book/tests/conftest.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/tests/test_code.py
  openlibrary/plugins/upstream/tests/test_utils.py
  openlibrary/plugins/upstream/utils.py
Labels: Priority: 1

#5659 Add stale ratings to solr
  conf/solr/conf/managed-schema
  openlibrary/core/ratings.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/types_generator.py
  openlibrary/solr/update_work.py
  openlibrary/tests/solr/test_update_work.py
  scripts/solr_builder/Dockerfile.olpython
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/build-cython.sh
  scripts/solr_builder/docker-compose.yml
  scripts/solr_builder/psql-import-simple.sh
  scripts/solr_builder/setup.py
  scripts/solr_builder/solr_builder/solr_builder.py
  scripts/solr_builder/sql/create-dump-table.sql
Labels: Priority: 1

#7425 ensure books have bwbsku/barcode
  scripts/promise_batch_imports.py
Labels: Priority: 1, Needs: Special Deploy, Patch Deployed

#7400 Delete records created by blocked patron
  openlibrary/plugins/admin/code.py
Labels: Priority: 1, On ol-jchamp

#7420 Resolve redirects before exporting data
  openlibrary/plugins/upstream/account.py
Labels: Priority: 2

#7422 Fix malformed reading log exports
  openlibrary/plugins/upstream/account.py
Labels: Priority: 2

#7471 fixes cover resp when no img found
  openlibrary/coverstore/code.py
Labels: Priority: 1, Module: Cover Service, Patch Deployed, State: QA

#7470 archive another ~570k covers
  openlibrary/coverstore/code.py
Labels: Patch Deployed

#7468 fix commiting from Gitpod
  .gitpod.yml
  scripts/setup_gitpod.sh
Labels: Affects: Configuration, Affects: Developers
