Repository internetarchive/openlibrary, pull requests merged in 2023-02, with the labels that each got.

#7501 Rework bwb urls to avoid redirects
  openlibrary/macros/AffiliateLinks.html
Labels: Priority: 1, Affects: Partners, On testing.openlibrary.org

#7455 Fix amz imports + stats
  scripts/affiliate_server.py
Labels: Priority: 1, Module: Import, State: Work In Progress, Theme: Affiliate API

#7498 Add scripts/get_web_error.py to review user-reported errors
  scripts/get_web_error.py
Labels: Priority: 1

#7503 Add sort options for authors
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/sort_options.html
Labels: Priority: 2

#7444 Add barcode icon to search bar
  bundlesize.config.json
  openlibrary/templates/lib/nav_head.html
  static/css/components/header-bar.less
  static/images/icons/barcode_scanner.svg
Labels: Priority: 1, On testing.openlibrary.org

#7561 Remove solrbuilder ES rate limits
  openlibrary/solr/data_provider.py
Labels: Priority: 1

#7541 Create script for deleting import_item entries
  openlibrary/core/imports.py
  openlibrary/tests/core/test_imports.py
  scripts/delete_import_items.py
Labels: Priority: 1
