Repository internetarchive/openlibrary, pull requests merged in 2023-08, with the labels that each got.

#7553 Place a button to create a list directly from "lists" page
  openlibrary/macros/CreateListModal.html
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/type/user/view.html
  static/css/components/mybooks-menu.less
Labels: Priority: 1, Theme: Lists, On testing.openlibrary.org

#8152 Add 'limit' URL parameter to /languages.json API call
  openlibrary/plugins/worksearch/languages.py
Labels: On testing.openlibrary.org

#7865 load(): validate publish_date, no independent publishers, no amz/bwb without ISBN
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/tests/catalog/test_utils.py
Labels: Priority: 2

#8119 Remove unused and deprecated functions from merge.py
  openlibrary/catalog/merge/merge.py
  openlibrary/catalog/merge/tests/test_merge.py
Labels: Priority: 2

#8168 Allow lists at global level (eg /lists/OL123L)
  openlibrary/coverstore/code.py
  openlibrary/olbase/events.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/lists/home.html
  openlibrary/templates/lists/list_overview.html
  openlibrary/templates/lists/preview.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/type/list/edit.html
  openlibrary/templates/type/list/embed.html
  openlibrary/templates/type/list/view_body.html
Labels: Priority: 1, On testing.openlibrary.org

#8172 border fixes for my books mobile showcase section divisions
  static/css/components/mybooks-details.less
  static/css/components/mybooks-menu.less
Labels: On testing.openlibrary.org

#8126 Integrate merge table changes
  openlibrary/core/edits.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/merge-request-table/LibrarianQueue.js
  openlibrary/plugins/openlibrary/js/merge-request-table/LibrarianQueue/TableHeader.js
  openlibrary/plugins/openlibrary/js/merge-request-table/LibrarianQueue/TableRow.js
  openlibrary/plugins/openlibrary/js/merge-request-table/index.js
  openlibrary/plugins/upstream/edits.py
  openlibrary/templates/merge_queue/comment.html
  openlibrary/templates/merge_queue/merge_queue.html
  static/css/components/merge-request-table.less
  static/css/less/colors.less
  static/images/speech-bubble.svg
Labels: Priority: 1, Needs: Community Discussion

#8198 Cookie-based banner preferences
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/banner/index.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/initAnnouncementBanner.js
  openlibrary/templates/site/banner.html
  openlibrary/templates/site/body.html
Labels: Priority: 2, On testing.openlibrary.org

#8201 set last_login on login
  openlibrary/accounts/model.py
Labels: Priority: 2, On testing.openlibrary.org

#7974 Unit test/realtime account validation
  tests/unit/js/realtime_account_validation.test.js
Labels: Theme: Testing, State: Blocked

#7922 Update to Solr 8 -> 9
  compose.yaml
  conf/solr/conf/lang/stopwords_et.txt
  conf/solr/conf/managed-schema.xml
  conf/solr/conf/params.json
  conf/solr/conf/solrconfig.xml
  openlibrary/solr/types_generator.py
  scripts/solr_builder/compose.yaml
Labels: Module: Solr, Priority: 1
