Repository internetarchive/openlibrary, pull requests merged in 2023-11, with the labels that each got.

#8483 Fix address bar appearing in TWA
  static/.well-known/assetlinks.json
Labels: Patch Deployed

#8486 Revert persona research banner code
  openlibrary/core/models.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/account/books.html
  static/edu-domains.txt
Labels: Needs: Testing

#8371 Improve lending error handling
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
Labels: Priority: 1, Needs: Community Discussion, On testing.openlibrary.org

#8502 feat(edit) promote edition id partners
  openlibrary/templates/books/edit/edition.html
Labels: On testing.openlibrary.org

#8465 doc(pre-commit): setup instructions to docs
  CONTRIBUTING.md
Labels: hacktoberfest

#8466 [Integration] Minimum changes for working Tag edit, subject page views
  openlibrary/core/models.py
  openlibrary/core/tags.py
  openlibrary/plugins/openlibrary/js/related_subjects.js
  openlibrary/plugins/openlibrary/tags.py
  openlibrary/templates/tag/pluginsForm.html
  openlibrary/templates/type/tag/edit.html
  static/css/components/page-heading-search-box.less
  static/css/components/subject-tags.less
Labels: Priority: 0

#8507 Use dismissible banner for yearly reading goals
  openlibrary/templates/account/books.html
Labels: Priority: 4

#8258 Add support for invisible reCAPTCHAs
  conf/openlibrary.yml
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/create.html
Labels: Priority: 2, Needs: Submitter Input, Needs: Testing, On testing.openlibrary.org

#8357 fix display of lists in book description
  openlibrary/templates/type/edition/view.html
  static/css/components/work.less
Labels: Needs: Review

#8503 prevent text wrapping on btns
  static/css/components/buttonGeneric.less
Labels: On testing.openlibrary.org

#8523 Add zero padding to last read date in client-side code
  openlibrary/plugins/openlibrary/js/check-ins/index.js
Labels: Needs: Submitter Input

#8464 Add librarian-only sort option for work title
  openlibrary/templates/search/sort_options.html
Labels: On testing.openlibrary.org

#8511 imports: add importer for ISBNdb
  compose.override.yaml
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/core/imports.py
  openlibrary/core/models.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/history/comment.html
  openlibrary/templates/history/sources.html
  openlibrary/tests/core/test_imports.py
  openlibrary/utils/isbn.py
  scripts/manage-imports.py
  scripts/providers/isbndb.py
  scripts/tests/test_isbndb.py
Labels: Priority: 1, On testing.openlibrary.org

#8539 Remove legacy reading log dropper code + "My Books Dropper" feature flag
  bundlesize.config.json
  conf/openlibrary.yml
  openlibrary/macros/ReadingLogDropper.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/lists/index.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lists/active_lists.html
  openlibrary/templates/lists/dropper_lists.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/my_books/dropdown_content.html
  openlibrary/templates/subjects.html
  openlibrary/templates/work_search.html
  static/css/components/dropper--tablet.less
  static/css/components/dropper.less
  static/css/components/work--tablet.less
  static/css/components/work.less
  static/css/legacy.less
  static/css/page-subject.less
  static/css/page-user.less
  tests/unit/js/html-test-data.js
  tests/unit/js/lists.test.js
Labels: Priority: 1, Needs: Testing

#8550 Add account look-up by IA ID
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/people/index.html
Labels: Needs: Testing

#8555 Add visual feedback when updating list via My Books Droppers
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLists.js
  openlibrary/templates/lists/dropper_lists.html
  static/css/components/mybooks-dropper.less
Labels: On testing.openlibrary.org

#8441 Add shift+click selection support
  openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.js
Labels: Priority: 1

#7079 Add format field to solr works/editions
  conf/solr/conf/managed-schema.xml
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/solr_types.py
  openlibrary/solr/update_edition.py
  openlibrary/solr/update_work.py
Labels: Needs: Special Deploy

#8455 Make /lists/add support POST with json body
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
Labels: Priority: 2, On testing.openlibrary.org

#8562 Refactor: Dissolve ListMixin
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/tests/test_models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/tests/core/lists/test_model.py
  openlibrary/tests/core/test_models.py
Labels: Priority: 1, On testing.openlibrary.org
