Repository internetarchive/openlibrary, pull requests merged in 2024-05, with the labels that each got.

#8900 Add messages.pot update script to pre-commit.
  .pre-commit-config.yaml
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/ManageWaitlistButton.html
  scripts/i18n-messages
Labels: Priority: 1

#9202 Fixed i18n syntax errors by removing \$_("") in 2 files
  static/offline.html
  static/status-500.html
Labels: Needs: Staff / Internal

#9190 Fix real-time email/username validation + DRY `jQuery` error rendering for registration form
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
Labels: On testing.openlibrary.org

#9193 Fix: Can set the page count for a book negative (fixed)
  openlibrary/templates/books/edit/edition.html
Labels: Needs: Staff / Internal

#8930 improve service worker caching
  openlibrary/plugins/openlibrary/js/service-worker-matchers.js
  openlibrary/plugins/openlibrary/js/service-worker.js
  tests/unit/js/service-worker-matchers.test.js
Labels: Needs: Review, Team: Front-end

#9204 Remove `Needs: Submitter Input` label on push
  .github/labeler.yml
  .github/workflows/pr_update_labeler.yml
Labels: Priority: 1

#9212 Create action for assigning, labeling new PRs
  .github/workflows/new_pr_labeler.yml
  scripts/gh_scripts/new_pr_labeler.mjs
Labels: Priority: 2

#9215 Redo password validation for registration form
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
  openlibrary/templates/account/create.html
  tests/unit/js/realtime_account_validation.test.js
Labels: On testing.openlibrary.org

#9255 Change TOC links to use /details archive.org links
  openlibrary/macros/TableOfContents.html
Labels: On testing.openlibrary.org

#9069 Cache collections with new `CacheablePathsProcessor`
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Labels: Priority: 2

#9214 Fix some small i18n errors
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/books/check.html
  openlibrary/templates/books/daisy.html
  openlibrary/templates/books/edit/about.html
Labels: Priority: 1

#9207 Delete some unused templates discovered by i18n process
  openlibrary/i18n/messages.pot
  openlibrary/macros/EditButtonsMacros.html
  openlibrary/macros/SRPCoverImage.html
  openlibrary/macros/databarAuthor.html
  openlibrary/templates/admin/profile.html
  openlibrary/templates/lib/markdown.html
  openlibrary/templates/type/macro/edit.html
  openlibrary/templates/type/macro/view.html
  openlibrary/templates/type/rawtext/edit.html
  openlibrary/templates/type/rawtext/view.html
  static/css/components/mybooks-dropper.less
  static/css/components/searchResultItemCta.less
  static/css/legacy-tools.less
  static/css/legacy.less
Labels: Priority: 2

#9223 Add pre-registration validation for IA email and username
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
Labels: Needs: Review, On testing.openlibrary.org

#9243 Fix: This change was requested in order to standardize Open Library's buttons, #9238
  openlibrary/templates/type/edition/compact_title.html
Labels: Needs: Staff / Internal

#9167 Moved ajax-loader.gif to achieve better caching
  static/css/ajax-loader.gif
  static/css/components/tagging-menu.less
  static/css/lib/slick-theme.css
  static/images/ajax-loader.gif
Labels: Needs: Submitter Input, Needs: Staff / Internal

#9132 Remove mailing lists heading from about page
  openlibrary/templates/type/about/view.html
Labels: Needs: Staff / Internal

#9139 improved is_loaned_out logic
  openlibrary/core/lending.py
Labels: Needs: Review

#9246 Removed deprecated .png file
  openlibrary/i18n/messages.pot
  openlibrary/templates/lib/message_addbook.html
  static/css/components/buttonsAndLinks.less
Labels: Needs: Staff / Internal

#8924 Added github issue form for feature requests
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Lead: @cdrini

#9278 fix importbot pythonpath #9277
  docker/ol-importbot-start.sh
Labels: Priority: 0

#9289 Move `sentry` import to function
  openlibrary/plugins/upstream/account.py
Labels: On testing.openlibrary.org

#9180 Remove unused util `$.fn.focusNextInputField`
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/utils.js
Labels: Needs: Review

#9296 Prepares cover archival to be run as cron #8278
  openlibrary/coverstore/archive.py
Labels: Needs: Special Deploy

#9273 Add `git` instructions to bug report and feature issue forms
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Priority: 2, Needs: Staff / Internal

#9177 remove inline.js from head.html and footer.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/ol.analytics.js
  openlibrary/plugins/openlibrary/js/service-worker-init.js
  openlibrary/templates/site/footer.html
  openlibrary/templates/site/head.html
Labels: On testing.openlibrary.org, Needs: Staff / Internal

#9245 Add HTML validation to registration form
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
  openlibrary/utils/form.py
Labels: Needs: Testing, On testing.openlibrary.org

#9322 Fix: add spaces when matching author honorifics
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
Labels: Priority: 2

#9310 Removing iconochive
  bundlesize.config.json
  static/css/components/iconochive.less
  static/css/legacy.less
  static/css/less/font-families.less
  static/fonts/Iconochive-Regular.eot
  static/fonts/Iconochive-Regular.svg
  static/fonts/Iconochive-Regular.ttf
  static/fonts/Iconochive-Regular.woff
Labels: Needs: Staff / Internal

#9275 Refactor checking super librarian status with is_usergroup_member()
  openlibrary/plugins/admin/code.py
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/addtag.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/merge_authors.py
  openlibrary/plugins/upstream/tests/test_addbook.py
  openlibrary/templates/books/add.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/lib/header_dropdown.html
  openlibrary/templates/lib/nav_head.html
  openlibrary/templates/merge_request_table/merge_request_table.html
  openlibrary/templates/showmarc.html
  openlibrary/templates/subjects.html
  openlibrary/templates/type/author/edit.html
  openlibrary/templates/type/edition/view.html
  openlibrary/templates/viewpage.html
Labels: Priority: 1, Needs: Staff / Internal

#9324 remove outdate jquery comment
  openlibrary/templates/site/footer.html
Labels: Needs: Review

#9306 Add filtering to Team Page using URL parameters
  openlibrary/plugins/openlibrary/js/team.js
  openlibrary/plugins/openlibrary/js/utils.js
Labels: Priority: 1

#9276 Create template for search facets
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/work_search.html
Labels: Priority: 1

#9341 Run weekly PM digest on Monday and Friday
  .github/workflows/weekly_status_report.yml
Labels: Priority: 2

#9339 Expand `issue_comment_bot` to include more leads
  .github/workflows/config/new_comment_digest.json
  .github/workflows/new_comment_digest.yml
  scripts/gh_scripts/README.md
  scripts/gh_scripts/issue_comment_bot.py
Labels: Priority: 2

#9334 refactor one final is_librarian
  openlibrary/templates/type/author/view.html
Labels: Needs: Review, Needs: Staff / Internal

#9344 Update MARC importer language mapping table
  openlibrary/catalog/marc/parse.py
Labels: Theme: MARC records, Module: Import

#9305 merge tabs on author edit page
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/type/author/edit.html
Labels: Needs: Review, On testing.openlibrary.org

#9323 Add pagination to user following/follower lists
  openlibrary/core/follows.py
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/follows.html
Labels: Needs: Review

#9361 Fix and improve page number validation for following/followers pages
  openlibrary/plugins/upstream/account.py
Labels: Priority: 2

#9267 Add registration submission prevention for backend checks
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
Labels: On testing.openlibrary.org

#8878 Implementation of New MyList Design
  openlibrary/core/lists/model.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/lists/showcase.html
  static/css/components/list-showcase.less
  static/css/components/mybooks.less
Labels: Priority: 2

#9127 Added logic for page dump and commented out test line
  openlibrary/data/dump.py
  openlibrary/plugins/upstream/data.py
Labels: Priority: 1, On testing.openlibrary.org

#9363 Fix zero follower page case
  openlibrary/plugins/upstream/account.py
Labels: Priority: 2, On testing.openlibrary.org

#9233 Added a QR icon in Share Modal that opens to QR code on click
  openlibrary/i18n/messages.pot
  openlibrary/macros/ShareModal.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/openlibrary/js/modals/index.js
  requirements.txt
  static/css/components/shareLinks.less
  static/images/qr_code.png
Labels: On testing.openlibrary.org
