Repository internetarchive/openlibrary, pull requests merged in 2024-07, with the labels that each got.

#9453 make author merge description visible
  openlibrary/templates/merge/authors.html
Labels: Needs: Staff / Internal

#9538 fix #9521 data dumps script regression
  scripts/oldump.sh
Labels: Priority: 1

#9530 fix merge author url issue
  openlibrary/templates/merge/authors.html
Labels: Needs: Staff / Internal

#9552 Fix Search Box Only Visible On Want To Read
  openlibrary/templates/account/reading_log.html
Labels: Priority: 2, On testing.openlibrary.org, Needs: Staff / Internal

#9508 Update `i18n` exclude list and add remaining exceptions where needed
  openlibrary/i18n/messages.pot
  openlibrary/macros/IABook.html
  openlibrary/macros/TableOfContents.html
  openlibrary/macros/WorldcatLink.html
  openlibrary/templates/covers/add.html
  openlibrary/templates/languages/language_list.html
  openlibrary/templates/subjects.html
  openlibrary/templates/type/i18n_page/edit.html
  openlibrary/templates/type/work/editions_datatable.html
  scripts/detect_missing_i18n.py
Labels: On testing.openlibrary.org

#9485 Move registration formatting checks to frontend
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/realtime_account_validation.js
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
Labels: On testing.openlibrary.org

#9550 Update post mortem template
  .github/ISSUE_TEMPLATE/post_mortem.md
Labels: Priority: 2

#9553 Update reading log dropper after book is star rated
  openlibrary/macros/StarRatings.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/plugins/openlibrary/js/my-books/index.js
  openlibrary/plugins/openlibrary/js/star-ratings/index.js
  openlibrary/templates/lib/dropper.html
  openlibrary/templates/my_books/dropper.html
Labels: Priority: 2, On testing.openlibrary.org

#9555 Add LCP download links for IA
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/book_providers/ia_download_options.html
Labels: On testing.openlibrary.org

#9539 Chunk keys in lazy-thing-preview; fix long lists editing
  openlibrary/plugins/openlibrary/js/lazy-thing-preview.js
Labels: On testing.openlibrary.org, Needs: Staff / Internal

#9567 Temporarily downscale 8XXXXXX-L.jpg covers
  openlibrary/coverstore/code.py
Labels: Priority: 1, Patch Deployed

#9565 changed covers to use class instead of id
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/templates/authors/infobox.html
  openlibrary/templates/covers/change.html
  openlibrary/templates/type/author/view.html
Labels: Priority: 2

#9506 `i18n` syntax additions with variables
  openlibrary/i18n/messages.pot
  openlibrary/macros/ManageLoansButtons.html
  openlibrary/macros/ManageWaitlistButton.html
  openlibrary/macros/databarWork.html
  openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/admin/attach_debugger.html
  openlibrary/templates/admin/block.html
  openlibrary/templates/admin/loans_table.html
  openlibrary/templates/admin/people/view.html
  openlibrary/templates/admin/sponsorship.html
  openlibrary/templates/home/loans.html
  openlibrary/templates/jsdef/LazyAuthorPreview.html
  openlibrary/templates/jsdef/LazyWorkPreview.html
  openlibrary/templates/lists/export_as_html.html
  openlibrary/templates/lists/widget.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/recentchanges/merge/comment.html
  openlibrary/templates/recentchanges/undo/view.html
  openlibrary/templates/search/snippets.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
  scripts/detect_missing_i18n.py
Labels: On testing.openlibrary.org

#9279 Bulk Search and List Creator
  openlibrary/components/BulkSearch.vue
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/BulkSearch/components/MatchTable.vue
  openlibrary/components/BulkSearch/components/TableRow.vue
  openlibrary/components/BulkSearch/utils/classes.js
  openlibrary/components/BulkSearch/utils/samples.js
  openlibrary/components/BulkSearch/utils/searchUtils.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/bulk_search.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/bulk_search/bulk_search.html
Labels: Priority: 1, On testing.openlibrary.org

#9612 Remove broken "Cancel" button on author photos "manage" page
  openlibrary/i18n/messages.pot
  openlibrary/templates/covers/manage.html
Labels: Needs: Staff / Internal

#9616 Fix debugger/debugpy not working
  .vscode/launch.json
  openlibrary/plugins/admin/code.py
  openlibrary/templates/admin/attach_debugger.html
Labels: Priority: 2

#9531 Update failing `new_comment_digest` workflow
  .github/workflows/new_comment_digest.yml
  scripts/gh_scripts/issue_comment_bot.py
Labels: Priority: 1, Needs: Special Deploy
