Repository internetarchive/openlibrary, pull requests merged in 2024-01, with the labels that each got.

#8642 Make search results use userlang even if no ed query
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/templates/work_search.html
Labels: Priority: 1, On testing.openlibrary.org

#8627 Lists in Solr
  openlibrary/accounts/model.py
  openlibrary/core/helpers.py
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/solr/data_provider.py
  openlibrary/solr/update.py
  openlibrary/solr/updater/list.py
  scripts/solr_builder/Jenkinsfile
  scripts/solr_builder/index-type.sh
  scripts/solr_builder/solr_builder/solr_builder.py
Labels: Priority: 1, Solr Next

#8685 Revert blue "Check Options" but keep click behaviour
  openlibrary/macros/CheckOptions.html
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/NotInLibrary.html
  static/css/components/buttonCta.less
Labels: On testing.openlibrary.org

#8639 Add year selector to "Already Read" reading log page
  openlibrary/core/yearly_reading_goals.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/view.html
  openlibrary/templates/books/breadcrumb_select.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
  openlibrary/templates/books/year_breadcrumb_select.html
  static/css/components/mybooks-details.less
Labels: Needs: Submitter Input

#8688 Re-enabled autofill on add new book form
  openlibrary/plugins/upstream/addbook.py
  openlibrary/templates/books/add.html
Labels: Needs: Submitter Input

#8662 Use JSON endpoint for reading goal partials
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/upstream/checkins.py
Labels: Priority: 2

#8587 Add LibriVox and Project Gutenberg identifiers to add book page
  openlibrary/plugins/openlibrary/js/add-book.js
  openlibrary/templates/books/add.html
Labels: On testing.openlibrary.org

#7522 Add client_id, s3, scope to bulk availability API
  openlibrary/core/lending.py
Labels: Patch Deployed

#8738 Fix share modal iframe url
  openlibrary/macros/ShareModal.html
Labels: On testing.openlibrary.org

#8759 Replace cover URL validation with HTML attributes
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/templates/covers/add.html
  static/css/components/cbox.less
Labels: On testing.openlibrary.org

#8753 collect anonymized login stats per day
  openlibrary/plugins/upstream/account.py
Labels: On testing.openlibrary.org

#8754 Disable cover upload `submit` button while uploading
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/templates/covers/add.html
Labels: On testing.openlibrary.org
