Repository internetarchive/openlibrary, pull requests merged in 2024-08, with the labels that each got.

#9647 Hide download options when book is unavailable.
  openlibrary/macros/databarWork.html
Labels: On testing.openlibrary.org

#9697 Add "edition." prefix to search to only filter editions
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/query_utils.py
  openlibrary/tests/solr/test_query_utils.py
Labels: On testing.openlibrary.org

#9626 Altered BulkSearch to handle extractors in their own class
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/utils/classes.js
Labels: Needs: Review

#9706 Support covers in .zip in l_covers_0008
  openlibrary/coverstore/code.py
Labels: Patch Deployed

#9687 Update description of Alternative names on Author Edit page
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/author/edit.html
Labels: Needs: Staff / Internal

#9682 Add endpoint to view status of batch import
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/batch_import.html
  openlibrary/templates/batch_import_view.html
Labels: On testing.openlibrary.org

#9663 Fix web book toast message not matching the web book read
  openlibrary/book_providers.py
  openlibrary/templates/book_providers/direct_read_button.html
Labels: Priority: 1, On testing.openlibrary.org, Theme: Trusted Book Providers

#9664 Add lang attribute to <html> tag for accessibility improvement.
  openlibrary/templates/site/head.html
Labels: On testing.openlibrary.org, Needs: Staff / Internal

#9708 Change `i18n` rendering for `edition_count` in lazy work preview
  openlibrary/i18n/messages.pot
  openlibrary/templates/jsdef/LazyWorkPreview.html
Labels: Priority: 1, On testing.openlibrary.org

#9729 Fix: correct comment text on merge history
  openlibrary/i18n/messages.pot
  openlibrary/templates/recentchanges/merge/comment.html
Labels: Priority: 1, On testing.openlibrary.org

#9692 #9253 Removed the "in English" link from the editions list on a work page.
  openlibrary/templates/books/edition-sort.html
Labels: Needs: Staff / Internal

#9719 Fix for jsdef not handling sprint style Python formatting
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/readinglog_stats.html
  openlibrary/templates/jsdef/LazyAuthorPreview.html
  scripts/detect_missing_i18n.py
Labels: Priority: 1, On testing.openlibrary.org

#9587 9440/augument more promise items with bookworm metadata if author or publish date missing
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/core/stats.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/importapi/import_validator.py
  openlibrary/plugins/importapi/tests/test_import_validator.py
  scripts/promise_batch_imports.py
Labels: Module: Import, Priority: 2

#9756 Small refactor of `Tag` code
  openlibrary/plugins/upstream/addtag.py
Labels: Priority: 2

#9752 remove special case for 8M range covers
  openlibrary/coverstore/code.py
Labels: Priority: 1, Patch Deployed

#8160 Refactor language search autocomplete and add inner word matching
  openlibrary/plugins/upstream/utils.py
Labels: Priority: 2

#9397 Asynchronously load search facets sidebar
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/search.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/search/work_search_facets.html
  openlibrary/templates/search/work_search_selected_facets.html
  openlibrary/templates/work_search.html
Labels: Priority: 1

#9774 Enumerate `mypy` stub dependencies for`pre-commit`
  .pre-commit-config.yaml
Labels: Priority: 2

#9734 Fulltext Suggestion Macro for 0 Results
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextSearchSuggestion.html
  openlibrary/macros/FulltextSearchSuggestionItem.html
  openlibrary/macros/FulltextSuggestionSnippet.html
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/fulltext-search-suggestion.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/templates/search/authors.html
  openlibrary/templates/search/inside.html
  openlibrary/templates/search/lists.html
  openlibrary/templates/search/subjects.html
  openlibrary/templates/work_search.html
  static/css/components/fulltext-search-suggestion-item.less
  static/css/components/fulltext-search-suggestion.less
  static/css/components/fulltext-suggestion-snippet.less
  static/css/less/breakpoints.less
  static/css/page-user.less
  static/images/icons/icon_search-inside.svg
Labels: Priority: 2

#9786 Create macros for subject pages
  openlibrary/i18n/messages.pot
  openlibrary/macros/ProlificAuthors.html
  openlibrary/macros/PublishingHistory.html
  openlibrary/macros/RelatedSubjects.html
  openlibrary/templates/subjects.html
Labels: Priority: 2

#9820 DRY `Tag` form inputs
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/addtag.py
  openlibrary/templates/tag/add.html
  openlibrary/templates/type/tag/edit.html
  openlibrary/templates/type/tag/tag_form_inputs.html
Labels: Priority: 2

#9588 Fetch metadata from Google Books by ISBN + stage
  openlibrary/core/imports.py
  openlibrary/core/vendors.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/importapi/code.py
  openlibrary/templates/history/sources.html
  openlibrary/templates/showgoogle_books.html
  openlibrary/views/showmarc.py
  scripts/affiliate_server.py
  scripts/promise_batch_imports.py
  scripts/tests/test_affiliate_server.py
Labels: Priority: 2

#9680 Changed bulk search's 'Create a List' url to update continuously with new matched books
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/utils/classes.js
  openlibrary/components/BulkSearch/utils/searchUtils.js
Labels: Priority: 1

#8191 Make "All" search match books by an author
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/updater/edition.py
  openlibrary/solr/updater/work.py
Labels: Priority: 2, State: Blocked, Solr Next

#9827 minor language updates from current production values
  openlibrary/plugins/openlibrary/pages/languages.page
Labels: Theme: Internationalization
