Repository internetarchive/openlibrary, pull requests merged in 2024-12, with the labels that each got.

#10083 fix overflowing waitlist text
  static/css/components/read-panel.less
Labels: Needs: Staff / Internal

#10104 improve searchbar keyboard input
  openlibrary/plugins/openlibrary/js/SearchBar.js
  tests/unit/js/SearchBar.test.js
Labels: On testing.openlibrary.org, Needs: Staff / Internal

#10106 Remove contact form
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/support.py
  openlibrary/templates/account.html
  openlibrary/templates/lib/nav_foot.html
Labels: Priority: 1, State: Blocked

#10105 changed the innerHTML with textContent for security reasons
  openlibrary/plugins/openlibrary/js/team.js
Labels: Priority: 2

#9953 Replace Not In Library with Locate Button on Works Page
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/LocateButton.html
  openlibrary/templates/books/edition-sort.html
  static/css/components/buttonCta.less
Labels: Priority: 1, On testing.openlibrary.org

#10127 Remove no longer needed identifier jquery repeat
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/plugins/openlibrary/js/index.js
Labels: Priority: 1, On testing.openlibrary.org

#10085 Move Yearly Reading Goal to sidebar
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/view.html
  openlibrary/templates/check_ins/reading_goal_form.html
  openlibrary/templates/check_ins/reading_goal_progress.html
  static/css/components/check-in.less
Labels: Priority: 2

#9920 Displays author name on merge
  openlibrary/components/MergeUI/AuthorRoleTable.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/MergeUI/utils.js
Labels: On testing.openlibrary.org

#10137 Make textarea on edit pages full width
  static/css/page-edit.less
Labels: Needs: Staff / Internal

#10155 add diff history links
  openlibrary/i18n/messages.pot
  openlibrary/templates/diff.html
Labels: Needs: Review, Needs: Staff / Internal

#10162 Update disposable email check
  openlibrary/plugins/upstream/forms.py
Labels: Needs: Testing

#10163 Improve `refer` checks for `/account/login`
  openlibrary/plugins/upstream/account.py
Labels: Needs: Testing, On testing.openlibrary.org

#10121 Fail gracefully on account creation timeout
  openlibrary/accounts/model.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1, Needs: Testing, On testing.openlibrary.org

#9984 Add Project Runeberg as a trusted book provider
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  openlibrary/templates/book_providers/runeberg_download_options.html
  openlibrary/templates/book_providers/runeberg_read_button.html
Labels: Priority: 1

#10174 Removed the entire unused tests/core/conftest.py file
  openlibrary/tests/core/conftest.py
Labels: Priority: 2

#10173 Update deprecated method in `expire_accounts.py`
  scripts/expire_accounts.py
Labels: Needs: Testing

#10198 Fixed#10197: Removed redundant 'Feedback' button
  openlibrary/i18n/messages.pot
  openlibrary/templates/observations/review_component.html
Labels: Needs: Staff / Internal

#10202 Re-enable RUF100 - Removes redundant `# noqa` comments
  pyproject.toml
  scripts/tests/test_affiliate_server.py
Labels: Needs: Staff / Internal

#10211 [Refactor] Removes PT004 - Deprecated pytest rule can be safely removed
  pyproject.toml
Labels: Needs: Staff / Internal

#10217 Remove PT006 - Standardize pytest parameter naming
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/i18n/test_po_files.py
  openlibrary/plugins/books/tests/test_readlinks.py
  openlibrary/plugins/importapi/tests/test_code.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/worksearch/schemes/tests/test_works.py
  openlibrary/tests/catalog/test_utils.py
  openlibrary/tests/core/test_imports.py
  openlibrary/tests/core/test_models.py
  openlibrary/tests/core/test_unmarshal.py
  openlibrary/tests/core/test_vendors.py
  openlibrary/tests/core/test_wikidata.py
  openlibrary/tests/solr/test_query_utils.py
  openlibrary/tests/solr/updater/test_work.py
  openlibrary/utils/tests/test_ddc.py
  openlibrary/utils/tests/test_isbn.py
  openlibrary/utils/tests/test_lcc.py
  openlibrary/utils/tests/test_lccn.py
  pyproject.toml
  scripts/tests/test_affiliate_server.py
  scripts/tests/test_import_open_textbook_library.py
  scripts/tests/test_isbndb.py
  scripts/tests/test_promise_batch_imports.py
Labels: Needs: Staff / Internal

#10215 fix edition description wording
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/edition/view.html
Labels: Needs: Staff / Internal

#9753 Add more tests for import validator
  openlibrary/catalog/add_book/__init__.py
  openlibrary/plugins/importapi/import_validator.py
  openlibrary/plugins/importapi/tests/test_import_validator.py
Labels: Priority: 2

#10142 Fixed extra white space issue on book preview modals
  openlibrary/macros/BookPreview.html
  static/css/components/preview.less
Labels: Needs: Staff / Internal

#10221 Fix(#10210): Hide pager when there is only one page (#10210)
  openlibrary/plugins/openlibrary/js/editions-table/index.js
Labels: Needs: Staff / Internal

#10231 [Refactor] pytest fixture naming to comply with PT021
  openlibrary/conftest.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/mocks/mock_memcache.py
  pyproject.toml
Labels: Needs: Staff / Internal

#10245 Hotfix/fts context
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
Labels: Priority: 0, Patch Deployed
