Repository internetarchive/openlibrary, pull requests merged in 2024-10, with the labels that each got.

#9924 Log error on `copydocs` failure
  scripts/copydocs.py
Labels: Priority: 2

#9915 Add ability to sort of edit TOCs with authors/etc
  openlibrary/i18n/messages.pot
  openlibrary/macros/TableOfContents.html
  openlibrary/plugins/upstream/table_of_contents.py
  openlibrary/plugins/upstream/tests/test_table_of_contents.py
  openlibrary/templates/books/edit/edition.html
  static/css/components/ol-message.less
  static/css/page-user.less
Labels: Priority: 1, On testing.openlibrary.org

#9939 9938/feature/allow non api accounts to propose batch imports
  openlibrary/core/batch_imports.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/batch_import_pending_view.html
  openlibrary/templates/batch_import_view.html
Labels: Priority: 2

#9968 Temporarily disable erroring network requests
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/AffiliateLinks.html
  openlibrary/templates/covers/add.html
Labels: Patch Deployed, On testing.openlibrary.org
