Repository internetarchive/openlibrary, pull requests merged in 2024-04, with the labels that each got.

#8939 improve image height for mergeUI
  openlibrary/components/MergeUI/EditionSnippet.vue
Labels: Needs: Review, Affects: Librarians

#8946 Added Cancel button to book Edit Page and made layout of book edit pa…
  openlibrary/templates/books/edit.html
Labels: Needs: Staff / Internal

#9007 make edit button return to correct place
  openlibrary/templates/books/edit.html
Labels: Needs: Review, On testing.openlibrary.org

#9006 Delete tests/screenshots directory
  tests/screenshots/.gitignore
  tests/screenshots/README.md
  tests/screenshots/index.js
  tests/screenshots/package-lock.json
  tests/screenshots/package.json
Labels: Needs: Review

#8918 Fix private reading log errors
  openlibrary/plugins/upstream/mybooks.py
Labels: Priority: 1, On testing.openlibrary.org

#9018 Show error message on Google sign-in failure
  openlibrary/plugins/openlibrary/js/ia_thirdparty_logins.js
  openlibrary/plugins/upstream/account.py
Labels: On testing.openlibrary.org

#8980 Link new IA accounts to existing, previously linked OL account
  openlibrary/accounts/model.py
Labels: Priority: 2

#8915 Preference authorization processor
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Labels: Priority: 1, Needs: Special Deploy

#9032 set All as default for search bar
  openlibrary/templates/lib/nav_head.html
Labels: Needs: Review

#9020 Modified alt text from Template to Page
  openlibrary/macros/databarHistory.html
  openlibrary/macros/databarTemplate.html
  openlibrary/macros/databarView.html
  openlibrary/templates/admin/profile.html
  openlibrary/templates/type/edition/compact_title.html
Labels: Needs: Staff / Internal

#9014 Added warning about OpenAPI definitions
  static/openapi.json
Labels: Needs: Staff / Internal

#9008 fix unneeded capitalization
  openlibrary/macros/databarEdit.html
Labels: Needs: Review

#9004 Set default author book count to zero
  openlibrary/templates/type/author/view.html
Labels: Needs: Review, On testing.openlibrary.org

#8921 Refactor ol-solr-updater-start.sh to use wget --no-clobber
  docker/ol-solr-updater-start.sh
Labels: Type: Refactor/Clean-up

#9033 remove unused admin templates
  openlibrary/templates/admin/command.html
  openlibrary/templates/admin/email.html
  openlibrary/templates/admin/email_reassign.html
  openlibrary/templates/admin/profile.html
Labels: Needs: Review

#8821 Show editions in reading log
  openlibrary/core/bookshelves.py
Labels: Priority: 1, On testing.openlibrary.org

#9046 Reduce default limit of readinglog API to 100
  openlibrary/core/bookshelves.py
  openlibrary/plugins/upstream/mybooks.py
Labels: On testing.openlibrary.org

#9084 Update i18n README.md
  openlibrary/i18n/README.md
Labels: Needs: Staff / Internal

#9079 Fixed advanced search page button styles #8963
  openlibrary/templates/lists/home.html
  openlibrary/templates/search/advancedsearch.html
  static/css/components/buttonGeneric.less
  static/css/components/buttonsAndLinks.less
Labels: Needs: Staff / Internal

#9038 remove inlinejs for waitlist
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/waitlist.js
  openlibrary/templates/account/loans.html
Labels: Needs: Review, On testing.openlibrary.org

#9107 Add new ol-web0 web head
  compose.production.yaml
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
  scripts/deployment/pre_deploy.sh
  scripts/setup_olserver.sh
Labels: Patch Deployed

#8940 remove setup_jquery_urls
  conf/openlibrary.yml
  openlibrary/plugins/upstream/code.py
Labels: Type: Refactor/Clean-up, Needs: Review, On testing.openlibrary.org

#8993 Add markdown to excerpt comment
  openlibrary/templates/books/edit/excerpts.html
  openlibrary/templates/type/edition/view.html
Labels: State: Blocked, Needs: Staff / Internal

#9027 Switch Solr get_many calls to use POST
  openlibrary/utils/solr.py
Labels: Priority: 1, On testing.openlibrary.org

#9048 Fix typo in readmore.js
  openlibrary/plugins/openlibrary/js/readmore.js
Labels: On testing.openlibrary.org

#9040 Add verification code for Bing webmaster tools
  openlibrary/templates/site/head.html
Labels: Patch Deployed

#9098 internationalized login errors
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
Labels: Needs: Staff / Internal

#9093 allows librarians to view edition search
  openlibrary/templates/work_search.html
Labels: Priority: 3, Needs: Staff / Internal

#9085 Indicate start date for Trending Books data collection
  openlibrary/templates/trending.html
Labels: Needs: Submitter Input

#9052 Add author date when showing author name to librarians
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/account/loans.html
  openlibrary/templates/admin/loans_table.html
  openlibrary/templates/books/edit.html
  openlibrary/templates/type/edition/title_and_author.html
  tests/integration/test_author_name.py
Labels: On testing.openlibrary.org

#9109 Go to "My Books" page on Google sign-in
  openlibrary/plugins/openlibrary/js/ia_thirdparty_logins.js
Labels: Needs: Testing

#9112 improve language autocomplete speed
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/plugins/worksearch/autocomplete.py
Labels: Needs: Review, On testing.openlibrary.org

#9105 Update `gunicorn` to 22.0.0
  requirements.txt
Labels: On testing.openlibrary.org

#8903 Augment non-ISBN ASIN BWB records with BookWorm data
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/core/models.py
  openlibrary/core/vendors.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/catalog/test_utils.py
  openlibrary/tests/core/test_models.py
  openlibrary/utils/isbn.py
  openlibrary/utils/tests/test_isbn.py
  scripts/affiliate_server.py
  scripts/manage-imports.py
  scripts/promise_batch_imports.py
  scripts/tests/test_affiliate_server.py
Labels: Priority: 1

#8931 Standardize font sizes on works page
  openlibrary/templates/type/edition/view.html
  static/css/base/headings.less
  static/css/components/carousel.less
  static/css/components/edit-toolbar.less
  static/css/components/editions.less
  static/css/components/link-box.less
  static/css/components/readerStats.less
  static/css/components/work-title-and-author.less
  static/css/components/work.less
  static/css/less/font-families.less
Labels: On testing.openlibrary.org

#9170 Carousel
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Labels: On testing.openlibrary.org

#8607 Adds follow (pubsub) feature
  openlibrary/core/bookshelves.py
  openlibrary/core/follows.py
  openlibrary/core/models.py
  openlibrary/core/schema.sql
  openlibrary/macros/Follow.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/plugins/openlibrary/api.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/mybooks.py
  openlibrary/templates/account/follows.html
  openlibrary/templates/account/privacy.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/view.html
  openlibrary/templates/books/mybooks_breadcrumb_select.html
  static/css/components/mybooks-details.less
  static/css/components/mybooks.less
  static/css/legacy.less
Labels: Priority: 1

#9188 Fix: option forceclose removed in latest haproxy
  conf/solr/haproxy.cfg
Labels: Priority: 0, Patch Deployed

#9195 Fix some i18n-related bugs
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/lists/list_overview.html
Labels: On testing.openlibrary.org

#9090 Update bot useragents + hide shuffle link for bots
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/search/sort_options.html
Labels: Priority: 1, Patch Deployed
