Repository internetarchive/openlibrary, pull requests merged in 2024-09, with the labels that each got.

#9709 Add Support for tabular data entry in Bulk Search
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/utils/classes.js
Labels: Priority: 1, Type: Subtask of Epic, On testing.openlibrary.org

#9842 Add 'locate' endpoint to borrow API
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/models.py
Labels: Needs: Testing, On testing.openlibrary.org

#9830 Apply search bar template to subjects page
  openlibrary/i18n/messages.pot
  openlibrary/templates/subjects.html
  openlibrary/templates/subjects/notfound.html
  static/css/page-subject.less
Labels: On testing.openlibrary.org

#9810 Fix compact title scrolling issue
  openlibrary/plugins/openlibrary/js/compact-title/index.js
Labels: On testing.openlibrary.org, Needs: Staff / Internal

#9806 Improve MARC string importing, part A
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/710_org_name_in_direct_order.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/830_series.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/lesnoirsetlesrou0000garl_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_input/710_org_name_in_direct_order.mrc
  openlibrary/catalog/marc/tests/test_data/bin_input/830_series.mrc
  openlibrary/catalog/marc/tests/test_data/bin_input/lesnoirsetlesrou0000garl_meta.mrc
  openlibrary/catalog/marc/tests/test_parse.py
Labels: Theme: MARC records

#9848 Fix Polish messages.po to remove xpassing test results (all tests now pass)
  openlibrary/i18n/messages.pot
  openlibrary/i18n/pl/messages.po
  openlibrary/i18n/test_po_files.py
  openlibrary/templates/type/author/view.html
Labels: Theme: Internationalization

#9839 Fix MARC records incorrectly matching ISBN promise item records
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/match.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/plugins/upstream/models.py
Labels: Theme: MARC records

#9857 Add IMDb identifier support for Authors
  openlibrary/plugins/openlibrary/config/author/identifiers.yml
Labels: On testing.openlibrary.org

#9847 Add Library and Archives Canada to MARC sources
  openlibrary/templates/history/sources.html
Labels: Theme: MARC records

#9850 more ad-hoc title filtering to avoid non-book imports, and exclude OTHER product class
  scripts/partner_batch_imports.py
  scripts/tests/test_partner_batch_imports.py
Labels: Module: Import

#9798 Read Work identifiers from file
  openlibrary/plugins/openlibrary/config/work/identifiers.yml
  openlibrary/plugins/upstream/utils.py
Labels: State: Blocked

#9866 Remove ineffective strings in "Independently Published" exclusion list
  scripts/partner_batch_imports.py
Labels: Module: Import

#9861 Add two more MARC21 language codes: den and mga
  openlibrary/plugins/openlibrary/pages/languages.page
Labels: Theme: MARC records, Theme: Internationalization

#9862 Feature: Add a text area for raw JSON copy/paste on /import/batch/new
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/batch_import.html
Labels: Priority: 2

#9873 Convert BarcodeScanner to Vue
  bundlesize.config.json
  openlibrary/components/BarcodeScanner.vue
  openlibrary/components/BarcodeScanner/components/LazyBookCard.vue
  openlibrary/components/BarcodeScanner/utils/classes.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/page-barcodescanner/LazyBookCard.js
  openlibrary/plugins/openlibrary/js/page-barcodescanner/index.js
  openlibrary/templates/barcodescanner.html
  static/css/page-barcodescanner.less
Labels: On testing.openlibrary.org

#9790 Add Star Ratings & Want To Read counts to Search Result Cards
  openlibrary/i18n/messages.pot
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/StarRatingsByline.html
  openlibrary/macros/StarRatingsComponent.html
  openlibrary/macros/StarRatingsStats.html
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/tests/test_worksearch.py
  static/css/components/readerStats.less
  static/css/components/search-result-item.less
Labels: Priority: 2, On testing.openlibrary.org

#9660 Standardize Styling for Search Inside Results
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/macros/FulltextSnippet.html
  static/css/components/fulltext-snippet.less
  static/css/components/search-results-container.less
  static/css/page-user.less
Labels: On testing.openlibrary.org

#8646 replace email host openlibrary.org by archive.org
  conf/openlibrary.yml
  openlibrary/mocks/mock_ol.py
  openlibrary/plugins/upstream/tests/test_account.py
Labels: Needs: Review

#9807 Cache all query carousels
  openlibrary/core/cache.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/home/index.html
Labels: Priority: 1, Needs: Testing, On testing.openlibrary.org

#9867 No longer fail importing MARC records on unrecognised lang code
  openlibrary/catalog/marc/parse.py
Labels: Theme: MARC records

#9904 Nginx: add rate limiting
  compose.production.yaml
  docker/covers_nginx.conf
  docker/nginx.conf
  docker/web_nginx.conf
Labels: Priority: 1

#9851 Implementing Bulk Search v2 Designs
  openlibrary/components/BulkSearch.vue
  openlibrary/components/BulkSearch/components/BookCard.vue
  openlibrary/components/BulkSearch/components/BulkSearchControls.vue
  openlibrary/components/BulkSearch/components/MatchRow.vue
  openlibrary/components/BulkSearch/components/MatchTable.vue
  openlibrary/components/BulkSearch/components/NoBookCard.vue
  openlibrary/components/BulkSearch/components/TableRow.vue
  openlibrary/components/BulkSearch/utils/classes.js
  openlibrary/components/BulkSearch/utils/samples.js
Labels: On testing.openlibrary.org

#9902 Add authors, subtitle, and description to TOC on books page
  openlibrary/core/lists/model.py
  openlibrary/core/models.py
  openlibrary/macros/TableOfContents.html
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/table_of_contents.py
  static/css/components/toc.less
Labels: Priority: 1, On testing.openlibrary.org

#9910 Refactor/move TOC parsing/rendering code
  openlibrary/core/models.py
  openlibrary/macros/TableOfContents.html
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/table_of_contents.py
  openlibrary/plugins/upstream/tests/test_table_of_contents.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1, On testing.openlibrary.org

#9489 8829/fix/redesign sort UI
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/type/author/view.html
  static/css/components/sort-dropper.less
  static/css/page-user.less
Labels: Priority: 1

#9604 Reorganize JS for registration form and add loading indicator
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/templates/account/create.html
Labels: On testing.openlibrary.org

#9593 Add loading and success indicators for backend checks
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/templates/account/create.html
  static/css/page-signup.less
  static/images/bubble-loader.svg
  static/images/icons/icon_check-circle.svg
Labels: On testing.openlibrary.org
