Repository internetarchive/openlibrary, pull requests merged in 2024-11, with the labels that each got.

#9978 temporarily disable google signin w/ info banner
  openlibrary/templates/login.html
Labels: Patch Deployed

#9979 Apply patch deployed temp fixes
  openlibrary/catalog/add_book/__init__.py
  openlibrary/templates/site/alert.html
Labels: Patch Deployed, Temporary

#9989 Remove no longer used br params/cookies
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
Labels: Type: Refactor/Clean-up

#10005 Require login for stale session cookie holders
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/processors.py
Labels: Patch Deployed, On testing.openlibrary.org

#10021 Enable registration
  openlibrary/accounts/model.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/create.html
Labels: On testing.openlibrary.org

#10044 Re-enable Google sign-in
  openlibrary/i18n/messages.pot
  openlibrary/templates/account/create.html
  openlibrary/templates/login.html
Labels: Priority: 1, On testing.openlibrary.org

#10043 Re-enable sync button
  openlibrary/catalog/add_book/__init__.py
Labels: On testing.openlibrary.org

#10048 Fix My Books erroring when IA-only book borrowed
  openlibrary/plugins/upstream/mybooks.py
Labels: Priority: 2

#10008 Use proxy for external requests
  openlibrary/plugins/openlibrary/code.py
Labels: Needs: Special Deploy, Needs: Testing, On testing.openlibrary.org

#9991 add Wikipedia links from Wikidata
  openlibrary/core/models.py
  openlibrary/core/wikidata.py
  openlibrary/i18n/messages.pot
  openlibrary/templates/authors/infobox.html
  openlibrary/tests/core/test_wikidata.py
  static/css/components/author-infobox.less
  static/images/identifier_icons/google_scholar.svg
  static/images/identifier_icons/wikidata.svg
  static/images/identifier_icons/wikipedia.svg
Labels: On testing.openlibrary.org

#10037 improve offline page by autoloading
  static/offline.html
Labels: Needs: Staff / Internal

#10065 Fix deployment scripts
  scripts/deployment/are_servers_in_sync.sh
  scripts/deployment/deploy.sh
  scripts/deployment/restart_servers.sh
Labels: Priority: 1

#10069 add tracking to wikidata infobox social links
  openlibrary/templates/authors/infobox.html
Labels: Module: Wikidata

#9845 Attach keydown listeners to searchbar
  openlibrary/plugins/openlibrary/js/SearchBar.js
Labels: Needs: Staff / Internal

#10089 Set up `requests` environment variables for affiliate server
  scripts/affiliate_server.py
Labels: Needs: Testing

#9957 Replace edition identifier input with Vue component
  openlibrary/components/AuthorIdentifiers.vue
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/IdentifiersInput/utils/utils.js
  openlibrary/components/README.md
  openlibrary/i18n/messages.pot
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/type/author/edit.html
Labels: Priority: 1, Needs: Staff / Internal

#9982 Add Project Runeberg author+edition identifiers
  openlibrary/plugins/openlibrary/config/author/identifiers.yml
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Labels: Theme: Identifiers
