Repository internetarchive/openlibrary, pull requests merged in 2024-03, with the labels that each got.

#8859 Fix: stop isbns from being `<Nothing>` in `view.html`
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#8775 Add user info tooltip to account icon
  openlibrary/templates/lib/header_dropdown.html
Labels: On testing.openlibrary.org

#8869 Fix list add endpoint erroring
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/jsdef.js
  openlibrary/plugins/upstream/jsdef.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/type/list/edit.html
Labels: On testing.openlibrary.org

#8850 Update containers to Python 3.12.2 + Bookworm
  .github/workflows/codegen_api_docs.yml
  .pre-commit-config.yaml
  docker/Dockerfile.olbase
  pyproject.toml
  requirements.txt
  scripts/oldump.py
  scripts/setup_gitpod.sh
Labels: Needs: Special Deploy

#8877 Fixed #7526, sort my books by most recent (desc)
  openlibrary/plugins/upstream/mybooks.py
Labels: Patch Deployed

#8804 Refactor manage-imports to use advancedsearch endpoint
  compose.production.yaml
  openlibrary/core/ia.py
  scripts/manage-imports.py
Labels: Priority: 2

#8844 Add number of pages to MergeUI
  openlibrary/components/MergeUI/EditionSnippet.vue
Labels: On testing.openlibrary.org

#8886 Fix: `Seed.from_db()` now handles `client.Thing` types
  openlibrary/core/lists/model.py
Labels: On testing.openlibrary.org

#8841 Fixed Links and code section overflow in API Documentation pages
  static/css/layout/index.less
Labels: On testing.openlibrary.org

#8855 Fix thin scrollbar being applied to entire site
  static/css/components/tagging-menu.less
Labels: On testing.openlibrary.org

#8874 Move untranslated strings into `data-i18n` attributes
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/covers.js
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/templates/books/edit/excerpts.html
  openlibrary/templates/books/edit/web.html
  openlibrary/templates/covers/add.html
Labels: On testing.openlibrary.org

#5051 Fix Individual Subject Page Keyboard Accessibility
  openlibrary/templates/subjects.html
  openlibrary/templates/subjects/notfound.html
Labels: Theme: Accessibility, Needs: Review

#8896 Add free-form subject field to contact form
  openlibrary/plugins/openlibrary/support.py
  openlibrary/templates/support.html
Labels: On testing.openlibrary.org

#8849 Handle "Add to staff picks" errors
  openlibrary/plugins/admin/code.py
Labels: Needs: Testing

#8871 Update HTML & JS validation for work details page
  openlibrary/plugins/openlibrary/js/edit.js
  openlibrary/templates/books/edit/web.html
  static/css/components/form.olform.less
  static/css/legacy.less
Labels: On testing.openlibrary.org

#8932 Update pull_request_template.md to mention tagging lead
  .github/pull_request_template.md
Labels: Needs: Review, Affects: Documentation, Theme: Project Management

#8934 fix storybook link
  stories/README.md
Labels: Needs: Review

#8923 add gitpod port names
  .gitpod.yml
Labels: Needs: Review

#8945 Update: Sidebar height and top margin and remove bg mask gradient
  static/css/components/header-bar.less
Labels: Needs: Review

#8944 Added: Cache control header & defer taf to IA CDN requests & their script
  openlibrary/plugins/openlibrary/code.py
Labels: Needs: Review

#8982 Check for work key before rendering list showcase
  openlibrary/templates/type/edition/view.html
Labels: On testing.openlibrary.org

#8966 Add ability to sort by different seeds of hourly/daily randoms
  openlibrary/plugins/worksearch/schemes/__init__.py
Labels: On testing.openlibrary.org

#8987 Allow Docker to install `web.py` from git rather than latest release
  docker/Dockerfile.oldev
Labels: Priority: 1

#8975 add open syllabus project fields to solr
  openlibrary/plugins/worksearch/schemes/works.py
Labels: Needs: Review, On testing.openlibrary.org

#8960 Block .rdf from Googlebot crawling in robots.txt
  static/robots.txt
Labels: Patch Deployed

#8942 Fix work's `add-cover` carousel
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
Labels: Priority: 2, On testing.openlibrary.org

#8956 add typehints to dateutil.py
  openlibrary/utils/dateutil.py
Labels: Needs: Review

#8955 add typehints to match_names.py
  openlibrary/catalog/add_book/match_names.py
Labels: Needs: Review

#8933 remove unused integration tests
  Makefile
  Readme.md
  Readme_chinese.md
  pyproject.toml
  scripts/test_py3.sh
  tests/integration/.gitignore
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/test_affiliate_links.py
  tests/integration/test_auth.py
  tests/integration/test_landing.py
  tests/integration/test_loans.py
  tests/integration/test_microdata.py
  tests/integration/test_search.py
  tests/integration/test_sharing.py
Labels: Type: Refactor/Clean-up, Needs: Review

#8922 remove old gitpod prebuild config
  .gitpod.yml
Labels: Needs: Review
