Repository internetarchive/openlibrary, pull requests merged in 2025-05, with the labels that each got.

#10704 Updating stale ocaid script
  scripts/update_stale_ocaid_references.py
Labels: Priority: 2

#10724 PD registration flow
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/signup.js
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/account/create.html
  openlibrary/templates/email/account/pd_request.html
  static/css/page-signup.less
  tests/unit/js/signup.test.js
Labels: Priority: 2, Needs: Response

#10691 Filter carousels to appear in user's language
  openlibrary/macros/QueryCarousel.html
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/home/custom_ia_carousel.html
  openlibrary/templates/home/index.html
Labels: Priority: 2

#10711 Show author names next to final result in author merge tool
  openlibrary/components/MergeUI/MergeTable.vue
Labels: Needs: Response

#10698 Fixed Preview button being cropped
  bundlesize.config.json
  static/css/components/search-result-item.less
Labels: Needs: Response

#10773 block certain requests for no referer
  docker/web_nginx.conf
Labels: Priority: 0

#10804 fix codeblock languages in docker docs
  docker/README.md
Labels: Affects: Documentation

#10791 Remove ACS code and configuration from `lending.py`
  openlibrary/core/lending.py
Labels: Needs: Special Deploy, Needs: Testing

#10794 add a link to merged works
  openlibrary/templates/merge_request_table/table_row.html
Labels: Needs: Response

#10831 Don't rate limit internal requests
  docker/nginx.conf
Labels: Priority: 0, Patch Deployed

#10635 Small fixes to wikisource import
  openlibrary/book_providers.py
  openlibrary/catalog/add_book/__init__.py
  scripts/providers/import_wikisource.py
Labels: Needs: Response

#10363 Delete unused functions from upstream accounts.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
Labels: registration, State: Blocked

#10848 Add nginx blocks for older browsers + rejigger nginx conf
  docker/nginx.conf
  docker/web_nginx.conf
Labels: Patch Deployed

#10792 Remove ACS code related to `borrow.py`
  openlibrary/core/waitinglist.py
  openlibrary/plugins/openlibrary/dev_instance.py
  openlibrary/plugins/upstream/borrow.py
  scripts/update-loans.py
Labels: Priority: 1, Needs: Testing

#10764 [Librarian Dashboard] Add data quality table to work search and author pages
  bundlesize.config.json
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/librarian-dashboard/index.js
  openlibrary/plugins/openlibrary/librarian_dashboard.py
  openlibrary/templates/librarian_dashboard/data_quality_table.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/work_search.html
  static/css/components/librarian-dashboard.less
  static/css/components/work.less
Labels: Priority: 2, Needs: Testing

#10865 Lazy load below-the-fold covers in SearchResultWork
  openlibrary/macros/FulltextResults.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/templates/account/loan_history.html
  openlibrary/templates/account/reading_log.html
  openlibrary/templates/stats/readinglog.html
  openlibrary/templates/trending.html
  openlibrary/templates/type/author/view.html
  openlibrary/templates/type/list/view_body.html
  openlibrary/templates/work_search.html
Labels: Theme: Performance

#10876 update rate limits for api
  docker/nginx.conf
  docker/web_nginx.conf
Labels: Priority: 1, Patch Deployed
