Repository internetarchive/openlibrary, pull requests merged in 2025-03, with the labels that each got.

#10526 guard against web.ctx.features AttributeError in cache contexts
  openlibrary/plugins/openlibrary/code.py
Labels: Priority: 2

#10525 Fix i18n redirect $path for book edit -> login
  openlibrary/i18n/messages.pot
  openlibrary/templates/permission_denied.html
Labels: registration, Priority: 2

#10472 Make QueryCarousels Edition Aware
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/js/carousels_partials.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/books/custom_carousel.html
Labels: Priority: 2, Needs: Response

#10546 Hide book page `ocaid` if book not borrowable nor open
  openlibrary/templates/type/edition/view.html
Labels: Priority: 1

#10548 fix deploy cron check
  scripts/deployment/deploy.sh
Labels: Priority: 2

#10565 Tidy templatestrings
  openlibrary/i18n/messages.pot
  openlibrary/i18n/te/messages.po
  openlibrary/templates/support.html
Labels: Type: Refactor/Clean-up

#10564 Mark upstream only github workflows
  .github/workflows/olbase.yaml
  .github/workflows/pm_stale_ticket_labeler.yml
  .github/workflows/pr_update_labeler.yml
  .github/workflows/weekly_status_report.yml
Labels: Type: Refactor/Clean-up, Theme: Development

#10566 Tidy unused images
  static/images/categories/christianity.svg
  static/images/george/ade-screenshot.png
  static/images/internet_explorer/borderBottomCenter.png
  static/images/internet_explorer/borderBottomLeft.png
  static/images/internet_explorer/borderBottomRight.png
  static/images/internet_explorer/borderMiddleLeft.png
  static/images/internet_explorer/borderMiddleRight.png
  static/images/internet_explorer/borderTopCenter.png
  static/images/internet_explorer/borderTopLeft.png
  static/images/internet_explorer/borderTopRight.png
Labels: Type: Refactor/Clean-up

#10593 Create indices for bookshelves_events table
  openlibrary/core/schema.sql
Labels: Theme: Performance, Needs: Special Deploy, Needs: Testing

#10596 Add top ip monitoring
  scripts/monitoring/monitor.py
  scripts/monitoring/utils.sh
Labels: Patch Deployed

#10594 Set stricter rate limits for web requests
  docker/nginx.conf
  docker/web_nginx.conf
Labels: Theme: Performance, Patch Deployed

#10586 Migrate to Interstitial for Trusted Book Provider read actions
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/interstitial.js
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/book_providers/cita_press_read_button.html
  openlibrary/templates/book_providers/direct_read_button.html
  openlibrary/templates/book_providers/gutenberg_read_button.html
  openlibrary/templates/book_providers/librivox_read_button.html
  openlibrary/templates/book_providers/openstax_read_button.html
  openlibrary/templates/book_providers/runeberg_read_button.html
  openlibrary/templates/book_providers/standard_ebooks_read_button.html
  openlibrary/templates/book_providers/wikisource_read_button.html
  openlibrary/templates/interstitial.html
Labels: Needs: Submitter Input

#10581 move check-in form inside conditionally hidden div
  openlibrary/i18n/messages.pot
  openlibrary/templates/check_ins/check_in_form.html
  openlibrary/templates/check_ins/check_in_prompt.html
Labels: Affects: UI

#10604 10600/fix/read panel read button spacing
  static/css/components/buttonCta.less
Labels: Needs: Response

#10605 Merge interstitial branch into main branch
  openlibrary/book_providers.py
  openlibrary/i18n/messages.pot
  openlibrary/macros/LoanStatus.html
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/interstitial.js
  openlibrary/plugins/upstream/borrow.py
  openlibrary/templates/book_providers/cita_press_read_button.html
  openlibrary/templates/book_providers/direct_read_button.html
  openlibrary/templates/book_providers/gutenberg_read_button.html
  openlibrary/templates/book_providers/librivox_read_button.html
  openlibrary/templates/book_providers/openstax_read_button.html
  openlibrary/templates/book_providers/runeberg_read_button.html
  openlibrary/templates/book_providers/standard_ebooks_read_button.html
  openlibrary/templates/book_providers/wikisource_read_button.html
  openlibrary/templates/interstitial.html
Labels: Priority: 2

#10607 Fix global lists erroring when rendering
  openlibrary/templates/type/list/view.html
  openlibrary/templates/type/list/view_body.html
Labels: Patch Deployed

#10625 Fix list querying case when out of results
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 2

#10619 Edition aware carousels
  openlibrary/macros/LoanStatus.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/js/carousel/Carousel.js
  openlibrary/plugins/openlibrary/js/carousels_partials.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/books/custom_carousel.html
  openlibrary/templates/books/custom_carousel_card.html
  openlibrary/templates/home/custom_ia_carousel.html
Labels: Priority: 2

#10567 Remove redundant og: tags
  openlibrary/templates/home/index.html
Labels: Type: Refactor/Clean-up

#10110 feat: use author identifiers in import API
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/core/models.py
  openlibrary/plugins/importapi/import_edition_builder.py
  openlibrary/plugins/importapi/import_validator.py
  requirements.txt
  requirements_scripts.txt
  scripts/providers/import_wikisource.py
Labels: Needs: Response

#10460 Fix issue #2723: Improve list search functionality
  openlibrary/i18n/messages.pot
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/schemes/lists.py
  openlibrary/templates/lists/preview.html
  openlibrary/templates/search/lists.html
Labels: Priority: 2

#10531 Add Wikidata table export to data dumps (#10383)
  scripts/dump-wikidata.sql
  scripts/oldump.sh
Labels: Needs: Response

#10637 Make messages.pot order deterministic
  openlibrary/i18n/__init__.py
  openlibrary/i18n/messages.pot
Labels: Needs: Response
