Repository internetarchive/openlibrary, pull requests merged in 2025-09, with the labels that each got.

#10967 Hide IA cover upload button if most recent cover upload is from IA
  openlibrary/templates/covers/add.html
  openlibrary/templates/covers/external_image.html
Labels: Needs: Staff / Internal

#11184 Updates query for `pd` fulfillment statistics
  openlibrary/core/pd.py
  openlibrary/plugins/openlibrary/pd.py
  openlibrary/templates/admin/pd_dashboard.html
Labels: Priority: 1

#11228 Remove references and handling of bad MARC from UPEI
  openlibrary/catalog/marc/marc_binary.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/upei_broken_008.json
  openlibrary/catalog/marc/tests/test_data/bin_input/upei_broken_008.mrc
  openlibrary/catalog/marc/tests/test_get_subjects.py
  openlibrary/catalog/marc/tests/test_parse.py
  openlibrary/templates/history/sources.html
  openlibrary/templates/showmarc.html
Labels: Theme: MARC records, Needs: Response

#11276 Add meta-externalagent to user agent deny checks
  docker/web_nginx.conf
Labels: Priority: 2, Patch Deployed

#11285 Identifiers : Reinstate `isAdmin` as computed property
  openlibrary/components/IdentifiersInput.vue
Labels: Needs: Testing

#11295 Add timeout parameter to API request function
  openlibrary/core/vendors.py
Labels: Priority: 0, Patch Deployed

#11305 Removing unsupported identifier
  openlibrary/plugins/openlibrary/config/edition/identifiers.yml
Labels: Priority: 1

#11304 Don't hit affiliate server on /isbn
  openlibrary/core/models.py
  openlibrary/plugins/openlibrary/code.py
Labels: Priority: 1, Patch Deployed

#11312 Label more solr queries for monitoring + some SubjectEngine, QueryLabel refactoring
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/plugins/worksearch/languages.py
  openlibrary/plugins/worksearch/publishers.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/utils/solr.py
  scripts/monitoring/solr_logs_monitor.py
Labels: Priority: 1, Patch Deployed
