Repository internetarchive/openlibrary, pull requests merged in 2025-07, with the labels that each got.

#10952 Route Google SSO authentication requests to `HTML` login handler
  openlibrary/plugins/openlibrary/js/ia_thirdparty_logins.js
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/login.html
Labels: Needs: Response

#10936 Book List Move Functionality
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/autocomplete.js
  openlibrary/templates/type/list/edit.html
  static/css/page-list-edit.less
Labels: Needs: Response

#10935 Add script to delete `merge-authors-debug` store entries
  scripts/migrations/README.md
  scripts/migrations/delete_merge_debug.py
Labels: Priority: 1

#10947 Solidify trending + Switch to trending sort in homepage, LE
  compose.override.yaml
  compose.production.yaml
  docker/ol-solr-updater-start.sh
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/plugins/worksearch/schemes/works.py
  openlibrary/solr/updater/work.py
  openlibrary/templates/home/index.html
  openlibrary/utils/sentry.py
  scripts/solr_updater/tests/test_trending_updater_init.py
  scripts/solr_updater/trending_updater_init.py
Labels: Needs: Special Deploy

#10988 apply noref nginx rules only if logged out
  docker/web_nginx.conf
Labels: Priority: 1

#11014 Move `/lists/partials.json` handler to `partials.py`
  openlibrary/plugins/openlibrary/js/lists/ListService.js
  openlibrary/plugins/openlibrary/lists.py
  openlibrary/plugins/openlibrary/partials.py
Labels: Needs: Response

#11038 Closes #10965; fix resolve redirect chain in export
  openlibrary/plugins/upstream/account.py
Labels: Priority: 1, Patch Deployed

#11033 Migrating the /reading-goals/partials.json handler to /partials.py
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/checkins.py
Labels: Needs: Response

#11027 unbreak my books for deleted books
  openlibrary/core/bookshelves.py
Labels: Priority: 1, Patch Deployed

#11060 fixes deploy script
  scripts/deployment/deploy.sh
Labels: Priority: 1

#11067 Fix IA forgot password link
  openlibrary/templates/account/email/forgot-ia.html
  openlibrary/templates/account/password/forgot.html
  openlibrary/templates/login.html
Labels: Priority: 0, Patch Deployed

#11028 Add trending to sort options, sort subject pages by trending, and other trending tweaks
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/i18n/messages.pot
  openlibrary/macros/QueryCarousel.html
  openlibrary/macros/RawQueryCarousel.html
  openlibrary/macros/SearchResultsWork.html
  openlibrary/macros/TrendingBadge.html
  openlibrary/plugins/openlibrary/js/lazy-carousel.js
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/books/RelatedWorksCarousel.html
  openlibrary/templates/publishers/view.html
  openlibrary/templates/search/sort_options.html
  openlibrary/templates/subjects.html
  static/css/components/carousel.less
  static/css/components/search-result-item.less
Labels: Needs: Response

#11047 Make autocomplete edition-aware
  openlibrary/plugins/openlibrary/js/SearchBar.js
  static/css/components/header-bar.less
Labels: Needs: Response

#10974 Create check-in form from template
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/check-ins/index.js
  openlibrary/plugins/openlibrary/js/dialog.js
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/CheckInComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadDateComponents.js
  openlibrary/plugins/openlibrary/js/my-books/MyBooksDropper/ReadingLogForms.js
  openlibrary/plugins/openlibrary/js/reading-goals/index.js
  openlibrary/plugins/openlibrary/partials.py
  openlibrary/plugins/upstream/checkins.py
  openlibrary/plugins/upstream/code.py
  openlibrary/plugins/upstream/yearly_reading_goals.py
  openlibrary/templates/account/mybooks.html
  openlibrary/templates/account/sidebar.html
  openlibrary/templates/account/view.html
  openlibrary/templates/check_ins/check_in_form.html
  openlibrary/templates/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/check_ins/check_in_form.html
  openlibrary/templates/my_books/check_ins/check_in_prompt.html
  openlibrary/templates/my_books/dropper.html
  openlibrary/templates/reading_goals/reading_goal_form.html
  openlibrary/templates/reading_goals/reading_goal_progress.html
  static/css/components/check-in.less
  static/css/components/reading-goal.less
  static/css/components/work.less
  tests/unit/js/checkIn.test.js
  tests/unit/js/html-test-data.js
  tests/unit/js/my-books.test.js
  tests/unit/js/sample-html/checkIns-test-data.js
Labels: Priority: 1
