Repository internetarchive/openlibrary, pull requests merged in 2025-02, with the labels that each got.

#10365 Add post login action - follow
  openlibrary/core/follows.py
  openlibrary/macros/Follow.html
  openlibrary/plugins/upstream/account.py
  openlibrary/plugins/upstream/forms.py
  openlibrary/templates/login.html
Labels: Priority: 2

#10419 exclude debug feature from status page
  openlibrary/templates/status.html
Labels: Patch Deployed

#10266 start UP031 by fixing simple %s strings
  openlibrary/accounts/__init__.py
  openlibrary/accounts/model.py
  openlibrary/admin/numbers.py
  openlibrary/catalog/add_book/__init__.py
  openlibrary/code.py
  openlibrary/core/ia.py
  openlibrary/core/lending.py
  openlibrary/core/models.py
  openlibrary/core/stats.py
  openlibrary/core/vendors.py
  openlibrary/core/waitinglist.py
  openlibrary/coverstore/code.py
  openlibrary/coverstore/coverlib.py
  openlibrary/coverstore/utils.py
  openlibrary/plugins/openlibrary/stats.py
Labels: Priority: 3, Affects: Developers, Needs: Staff / Internal

#10426 Fix data dump script regression
  openlibrary/data/dump.py
Labels: Priority: 1

#10286 (RUF012) Fixed mutable class Defaults- Task 2
  openlibrary/tests/core/test_db.py
  openlibrary/utils/schema.py
Labels: Affects: Developers, Needs: Staff / Internal

#10414 better internalerror page
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/code.py
  openlibrary/templates/internalerror.html
Labels: Priority: 2

#10416 replaced push_scope with new_scope in sentry.py
  openlibrary/utils/sentry.py
Labels: Priority: 2

#10448 `cron` wrapper follow-up tasks
  .github/workflows/cron_watcher.yml
  openlibrary/coverstore/archive.py
  scripts/cron_watcher.py
  scripts/cron_wrapper.py
  scripts/expire_accounts.py
  scripts/promise_batch_imports.py
  scripts/update_stale_work_references.py
Labels: Needs: Special Deploy

#10451 Remove prominent but non-existent subject filter
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/SearchUtils.js
  openlibrary/templates/work_search.html
Labels: Affects: UI

#9438 Tidy up some extraneous / out-of-date archive.org references
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/core/ia.py
  openlibrary/core/models.py
  openlibrary/plugins/books/dynlinks.py
  openlibrary/plugins/books/readlinks.py
  openlibrary/plugins/books/tests/test_readlinks.py
  openlibrary/plugins/importapi/metaxml_to_json.py
  openlibrary/plugins/openlibrary/home.py
  openlibrary/plugins/openlibrary/opds.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/tests/core/test_models.py
  scripts/run_doctests.sh
Labels: Priority: 1

#10420 Fix: Display correct author dates when birth/death years contain non-numeric characters
  openlibrary/core/helpers.py
  openlibrary/macros/BookByline.html
  openlibrary/tests/core/test_helpers.py
Labels: Needs: Response

#10476 Log Recaptcha errors in Sentry
  openlibrary/plugins/recaptcha/recaptcha.py
Labels: Priority: 1

#10415 Display autocomplete results on search facet change
  openlibrary/plugins/openlibrary/js/SearchBar.js
Labels: Needs: Staff / Internal

#10467 deploy vitepress docs
  .github/workflows/docs_gh_pages.yml
Labels: Needs: Staff / Internal

#10491 Fix autocomplete results showing up on pageload
  openlibrary/plugins/openlibrary/js/SearchBar.js
Labels: Needs: Response

#10456 Capture Wikidata API errors in Sentry
  openlibrary/core/wikidata.py
Labels: Priority: 2

#10483 Remove helper methods for get_availability to make code easier to trace
  openlibrary/core/fulltext.py
  openlibrary/core/lending.py
  openlibrary/plugins/upstream/borrow.py
  openlibrary/plugins/upstream/models.py
  openlibrary/tests/core/test_lending.py
Labels: Type: Refactor/Clean-up

#10486 Tighten account creation validations
  openlibrary/plugins/recaptcha/recaptcha.py
Labels: Patch Deployed

#10490 Better handle/display solr errors/debug info on search
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/utils.py
  openlibrary/plugins/worksearch/code.py
  openlibrary/templates/work_search.html
  static/css/components/ol-message.less
Labels: Needs: Response

#10370 Switched cover importing IA endpoint
  openlibrary/core/ia.py
Labels: Priority: 2

#10462 Reduce edition match score if one edition is missing a date
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/match.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_match.py
Labels: Theme: Testing, Module: Import, Priority: 2

#10509 Fix `if` block indentation in template
  openlibrary/templates/account/view.html
Labels: Priority: 0, Patch Deployed

#10514 Stop deployment script when critical jobs are running
  scripts/deployment/deploy.sh
Labels: Priority: 2
