Repository internetarchive/openlibrary, pull requests merged in 2025-01, with the labels that each got.

#10237 Preserve mrid when deprecated keys are passed in merge_authors
  openlibrary/plugins/upstream/merge_authors.py
Labels: On testing.openlibrary.org

#10253 Fix solr-restarter erroring/not working
  compose.production.yaml
Labels: Patch Deployed

#10269 enable profiling in sentry
  conf/openlibrary.yml
  openlibrary/utils/sentry.py
Labels: Priority: 1, Theme: Performance, Needs: Staff / Internal

#10138 Subject tag changes
  openlibrary/core/models.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/js/index.js
  openlibrary/plugins/upstream/addtag.py
  openlibrary/plugins/worksearch/subjects.py
  openlibrary/templates/site/body.html
  openlibrary/templates/subjects.html
  openlibrary/templates/tag/add.html
  openlibrary/templates/type/tag/edit.html
  openlibrary/templates/type/tag/form.html
  openlibrary/templates/type/tag/tag_form_inputs.html
  openlibrary/templates/type/tag/view.html
Labels: Priority: 1, On testing.openlibrary.org

#10175 Set up `requests` for partner imports
  scripts/partner_batch_imports.py
Labels: Needs: Testing

#10264 add bluesky did to nginx
  docker/web_nginx.conf
Labels: 1-off tasks, Patch Deployed

#10275 Fix duplicate IDs of different types not being accepted on edition edit page
  openlibrary/components/IdentifiersInput.vue
Labels: Needs: Staff / Internal

#10279 [Refactor] Removes PLC1901 - String type comparison rule can be enabled without modifications
  pyproject.toml
Labels: Affects: Developers, Needs: Staff / Internal

#10260 Enable PLR5501 - Convert nested if statements to elif clauses for better readability
  openlibrary/catalog/marc/marc_xml.py
  openlibrary/core/lists/model.py
  openlibrary/coverstore/code.py
  openlibrary/plugins/importapi/code.py
  openlibrary/plugins/openlibrary/lists.py
  pyproject.toml
Labels: Affects: Developers, Needs: Staff / Internal

#9959 Fixed Read More Button Display Logic to Avoid Unnecessary Display
  openlibrary/plugins/openlibrary/js/readmore.js
Labels: Needs: Staff / Internal

#10285 Community Batch Imports: add links between "Pending Imports" and "New Imports" pages for easier navigation.
  openlibrary/i18n/messages.pot
  openlibrary/macros/BatchImportNavigation.html
  openlibrary/templates/batch_import.html
  openlibrary/templates/batch_import_pending_view.html
Labels: Needs: Staff / Internal

#10112 Changed CSS so that the audiobook text does not overlap with the icon
  static/css/components/buttonCta.less
Labels: Needs: Staff / Internal

#10032 Use IdentifiersInput Vue component for work identifier UI
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/IdentifiersInput/utils/utils.js
  openlibrary/i18n/messages.pot
  openlibrary/plugins/openlibrary/config/work/identifiers.yml
  openlibrary/plugins/upstream/addbook.py
  openlibrary/plugins/upstream/models.py
  openlibrary/plugins/upstream/utils.py
  openlibrary/templates/books/edit.html
  openlibrary/templates/books/edit/edition.html
  openlibrary/templates/merge/authors.html
  openlibrary/templates/type/author/edit.html
  openlibrary/templates/type/author/view.html
Labels: On testing.openlibrary.org

#10268 Add retry logic to author merge request status update
  openlibrary/plugins/upstream/merge_authors.py
Labels: Priority: 2

#10303 update vue import extensions to use .vue
  openlibrary/components/LibraryExplorer.vue
  openlibrary/components/LibraryExplorer/components/BookCover3D.vue
  openlibrary/components/LibraryExplorer/components/BooksCarousel.vue
  openlibrary/components/LibraryExplorer/components/Bookshelf.vue
  openlibrary/components/LibraryExplorer/components/ClassSlider.vue
  openlibrary/components/LibraryExplorer/components/LibraryToolbar.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/components/CardBody.vue
  openlibrary/components/ObservationForm/components/SavedTags.vue
  openlibrary/components/ObservationForm/components/ValueCard.vue
Labels: Type: Refactor/Clean-up, Affects: Developers, Needs: Staff / Internal

#10310 Support HTTP Proxy on BookWorm
  openlibrary/core/vendors.py
Labels: Priority: 2

#10300 SIM115 on CoverStore
  openlibrary/coverstore/disk.py
  openlibrary/coverstore/tests/test_coverstore.py
  openlibrary/coverstore/tests/test_webapp.py
Labels: Affects: Developers, Needs: Staff / Internal

#10329 Label stale issues
  .github/workflows/pm_stale_ticket_labeler.yml
  .github/workflows/stale_assignee_digest.yml
  scripts/gh_scripts/README.md
  scripts/gh_scripts/stale_assignee_digest.mjs
Labels: Priority: 2

#10332 remove outdated author wikipedia logic
  openlibrary/i18n/messages.pot
  openlibrary/templates/type/author/view.html
Labels: Needs: Staff / Internal

#10298 Upgrade to Vue 3
  .eslintrc.json
  .gitignore
  Makefile
  openlibrary/components/IdentifiersInput.vue
  openlibrary/components/LibraryExplorer/components/BookRoom.vue
  openlibrary/components/LibraryExplorer/components/OLCarousel.vue
  openlibrary/components/LibraryExplorer/components/Shelf.vue
  openlibrary/components/MergeUI/MergeTable.vue
  openlibrary/components/ObservationForm.vue
  openlibrary/components/ObservationForm/components/CardBody.vue
  openlibrary/components/ObservationForm/components/SavedTags.vue
  openlibrary/components/README.md
  openlibrary/components/dev.js
  openlibrary/components/dev/README.md
  openlibrary/components/dev/index.html
  openlibrary/components/dev/serve-component.js
  openlibrary/components/dev/vite.config.js
  openlibrary/components/rollupInputCore.js
  openlibrary/components/serve-component.js
  openlibrary/components/vite.config.mjs
  openlibrary/plugins/openlibrary/js/vue.js
  openlibrary/plugins/upstream/utils.py
  package-lock.json
  package.json
  webpack.config.js
Labels: Needs: Staff / Internal

#10265 add context manager in script folder
  scripts/copydocs.py
  scripts/generate-api-docs.py
  scripts/lc_marc_update.py
  scripts/mail_bad_author_query.py
  scripts/obfi/mktable.py
  scripts/openlibrary-server
  scripts/pull-templates.py
  scripts/sitemaps/sitemap.py
Labels: Affects: Developers, Needs: Staff / Internal

#10350 Update search.json default fields to be more restrictive
  openlibrary/plugins/worksearch/code.py
Labels: Priority: 1

#10348 Fix seed retrieval to use seed strings from already defined fuctions
  openlibrary/core/lists/model.py
Labels: Priority: 2

#10353 Move web.ctx check outside of cached function #10318
  openlibrary/plugins/openlibrary/home.py
Labels: Patch Deployed

#10213 Language imports consistently on re-imports of books
  openlibrary/catalog/add_book/__init__.py
  openlibrary/catalog/add_book/load_book.py
  openlibrary/catalog/add_book/tests/test_add_book.py
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/utils/__init__.py
  openlibrary/tests/catalog/test_utils.py
Labels: Priority: 2

#10306 fix(SIM115): Use context manager on openlibrary/
  openlibrary/admin/stats.py
  openlibrary/catalog/marc/mnemonics.py
  openlibrary/core/imports.py
  openlibrary/data/__init__.py
  openlibrary/data/dump.py
  openlibrary/data/sitemap.py
  openlibrary/mocks/mock_infobase.py
  openlibrary/plugins/ol_infobase.py
  openlibrary/plugins/openlibrary/code.py
  openlibrary/tests/solr/test_types_generator.py
Labels: Affects: Developers, Needs: Staff / Internal

#10351 Increasing solr haproxy maxconn from 10 to 75
  conf/solr/haproxy.cfg
Labels: Priority: 1, Patch Deployed

#10336 fix unused else if for ruff upgrade
  openlibrary/catalog/add_book/__init__.py
Labels: Needs: Staff / Internal

#9797 Improve MARC Author name importing
  .github/workflows/python_tests.yml
  openlibrary/catalog/add_book/tests/test_load_book.py
  openlibrary/catalog/marc/parse.py
  openlibrary/catalog/marc/tests/test_data/bin_expect/13dipolarcycload00burk_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/710_org_name_in_direct_order.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/830_series.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_Nihon_no_chasho.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_alternate_script.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_arabic_french_many_linkages.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_publisher_unlinked.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/880_table_of_contents.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/bijouorannualofl1828cole_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/bpl_0486266893.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/collingswood_520aa.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/collingswood_bad_008.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/cu31924091184469_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/diebrokeradical400poll_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/engineercorpsofh00sher_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/flatlandromanceo00abbouoft_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/histoirereligieu05cr_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/ithaca_college_75002321.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/ithaca_two_856u.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/lc_0444897283.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/lc_1416500308.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/lesnoirsetlesrou0000garl_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/memoirsofjosephf00fouc_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/merchantsfromcat00ben_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/ocm00400866.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/onquietcomedyint00brid_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/secretcodeofsucc00stjo_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_740.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_856.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_empty_245.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_multi_work_tiles.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_no_title.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/talis_two_authors.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/test-publish-sn-sl-nd.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/test-publish-sn-sl.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/uoft_4351105_1626.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/upei_broken_008.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/warofrebellionco1473unit_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/wrapped_lines.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/wwu_51323556.json
  openlibrary/catalog/marc/tests/test_data/bin_expect/zweibchersatir01horauoft_meta.json
  openlibrary/catalog/marc/tests/test_data/bin_input/cu31924091184469_meta.mrc
  openlibrary/catalog/marc/tests/test_data/xml_expect/00schlgoog.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/0descriptionofta1682unit.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/13dipolarcycload00burk.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/1733mmoiresdel00vill.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/39002054008678_yale_edu.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/bijouorannualofl1828cole.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/cu31924091184469.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/engineercorpsofh00sher.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/flatlandromanceo00abbouoft.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/nybc200247.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/onquietcomedyint00brid.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/secretcodeofsucc00stjo.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/warofrebellionco1473unit.json
  openlibrary/catalog/marc/tests/test_data/xml_expect/zweibchersatir01horauoft.json
  openlibrary/catalog/marc/tests/test_parse.py
Labels: Theme: MARC records

#10355 Add `cron_wrapper` script to improve cron job monitoring
  scripts/cron_wrapper.py
Labels: Priority: 1, Needs: Special Deploy

#10311 Refactor: Enable Ruff Rule SIM115 in files under openlibrary/i18n/ dir
  openlibrary/data/dump.py
  openlibrary/i18n/__init__.py
  openlibrary/i18n/test_po_files.py
  pyproject.toml
  scripts/obfi/mktable.py
Labels: Affects: Developers, Needs: Staff / Internal

#10397 Add crawl delays to robots.txt
  static/robots.txt
Labels: Patch Deployed

#10399 enable RUF001 - ambiguous-unicode-character-string
  openlibrary/utils/ddc.py
  openlibrary/utils/tests/test_ddc.py
  pyproject.toml
  scripts/detect_missing_i18n.py
  scripts/tests/test_import_standard_ebooks.py
  scripts/tests/test_isbndb.py
Labels: Needs: Staff / Internal

#10284 (RUF012) Fixed mutable class Defaults- Task 3
  openlibrary/core/bookshelves.py
  openlibrary/core/edits.py
  openlibrary/plugins/worksearch/autocomplete.py
  openlibrary/plugins/worksearch/tests/test_autocomplete.py
  openlibrary/tests/catalog/test_get_ia.py
Labels: Affects: Developers, Needs: Staff / Internal

#10273 (RUF012) Fixed mutable class Defaults- Task 5
  openlibrary/catalog/add_book/tests/test_match.py
  openlibrary/core/booknotes.py
  openlibrary/core/follows.py
  openlibrary/core/models.py
  openlibrary/core/observations.py
  openlibrary/core/processors/readableurls.py
  openlibrary/core/ratings.py
  openlibrary/core/vendors.py
  openlibrary/plugins/openlibrary/tests/test_lists.py
  openlibrary/plugins/upstream/forms.py
  scripts/tests/test_obfi.py
Labels: Affects: Developers, Needs: Staff / Internal

#10402 Fix registration errors from xauthn
  openlibrary/accounts/model.py
  openlibrary/i18n/messages.pot
  openlibrary/plugins/upstream/account.py
  openlibrary/templates/account/create.html
  openlibrary/templates/login.html
Labels: Needs: Testing

#10388 perf(carousel): reduce Solr load via lazy loading Related Books Carousels (dev-mohit06)
  openlibrary/plugins/openlibrary/js/carousels_partials.js
Labels: Priority: 2, Needs: Staff / Internal
